utopia-project/force-app/main/default/flows/AIRFX_GetSingleAnswer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetSmartResponse</name>
        <label>GetSmartResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AIRFX_SmartResponseRouter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Callout_Successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>Get_Question_Details.Document_Question_Classification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
        </inputParameters>
        <inputParameters>
            <name>products</name>
            <value>
                <elementReference>Get_Question_Details.Project__r.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>question</name>
            <value>
                <elementReference>Get_Question_Details.Question__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIRFX_SmartResponseRouter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Answer</name>
        <label>Set Answer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Question_Details.AI_Generated_Answer_Temp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSmartResponse.responseText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Question_Record</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Callout_Successful</name>
        <label>Is Callout Successful</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSmartResponse.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Answer</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Smart routing - numeric questions to deterministic engine, qualitative to knowledge engine</description>
    <environments>Default</environments>
    <interviewLabel>AIRFX_GE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIRFX_GetSingleAnswerV2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Question_Details</name>
        <label>Get Question Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Context_If_Possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_ResponseNew__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Question_Record</name>
        <label>Update Question Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Question_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!GetSmartResponse.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Context_If_Possible</name>
        <label>Get Context If Possible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSmartResponse</targetReference>
        </connector>
        <fields>
            <name>HelpTextS1</name>
            <fieldText>&lt;p&gt;Use this screen to adjust the context. If this looks fine, leave the default value and click next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Context</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>You are responding to an RFP question on behalf of Salesforce.</stringValue>
            </defaultValue>
            <fieldText>Context</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Question_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
