utopia-project/force-app/main/default/flows/assignGNGCommittee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignCommitteeMember</name>
        <label>assignCommitteeMember</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GNG_Override.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_Member_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Team_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignGNGMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGNGMember</name>
        <label>assignGNGMember</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AllGNGMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GNG_Override</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_contains_bid</name>
        <label>Status contains bid?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bid Ready to Assign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateGPSStatus</targetReference>
            </connector>
            <label>No, update status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>assignGNGCommittee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>assignGNGCommittee</label>
    <loops>
        <name>committeeMembers</name>
        <label>committeeMembers</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>getCommitteeMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCommitteeMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createOverrideRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createOverrideRequest</name>
        <label>createOverrideRequest</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Status_contains_bid</targetReference>
        </connector>
        <inputReference>AllGNGMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCommitteeMembers</name>
        <label>getCommitteeMembers</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GNG_Committee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committee_Member_Role__c</queriedFields>
        <queriedFields>Team_Category__c</queriedFields>
        <queriedFields>Committee_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateGPSStatus</name>
        <label>updateGPSStatus</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>GPS_Project_Status__c</field>
            <value>
                <stringValue>Committee Vote Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCommitteeMembers</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Override_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GNG_score__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Committee_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Rationale Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Override_Request_Num_Votes__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>avnio__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllGNGMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
    <variables>
        <name>GNG_Override</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
</Flow>
