utopia-project/force-app/main/default/flows/Avnio_RFP_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>get the picklist values for Product Type on the Avnio Project object for better UX with dual column selection for multi-select picklist</description>
        <name>Get_Pickvals</name>
        <label>Get Pickvals</label>
        <locationX>2745</locationX>
        <locationY>1166</locationY>
        <actionName>GetPicklistValuesBulkified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DSR_Project_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Product_Type__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>avnio__Project__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetPicklistValuesBulkified</nameSegment>
        <outputParameters>
            <assignToReference>cvPickvalString</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>link the file(s) from earlier in the flow to the Project</description>
        <name>Link_File_s_to_Project</name>
        <label>Link File(s) to Project</label>
        <locationX>666</locationX>
        <locationY>3776</locationY>
        <actionName>FileUploadImprovedHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Business_Unit_Go_No_Go_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>versIds</name>
            <value>
                <elementReference>FileUpload.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileUploadImprovedHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>dynamic navigation to the library search or home page</description>
        <name>Navigate_from_Flow</name>
        <label>Navigate from Flow</label>
        <locationX>666</locationX>
        <locationY>4400</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>fNavigationURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>dynamic navigation to the newly created Project record</description>
        <name>Navigate_to_Project_Record</name>
        <label>Navigate to Project Record</label>
        <locationX>666</locationX>
        <locationY>4100</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>getNewProject.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign the selected DSR to the Project Record Var</description>
        <name>Assign_DSR</name>
        <label>Assign DSR</label>
        <locationX>1370</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Deal_Support_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedDSRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org62_SIO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the dynamic error message requiring users to upload or link a file</description>
        <name>Assign_Error_Msg_File</name>
        <label>Assign Error Msg - No File</label>
        <locationX>1018</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>vFileErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A file must be uploaded or linked to the Project.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the dynamic error message requiring users to upload or link a file</description>
        <name>Assign_Error_Msg_Link</name>
        <label>Assign Error Msg - Link</label>
        <locationX>754</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>vFileErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The URL entered is too long, it must be less than 256 characters.  As a reminder, you can only enter 1 URL in each URL Field.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign URLs to the new Project Record</description>
        <name>Assign_File_Links</name>
        <label>Assign File Links</label>
        <locationX>490</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.NDA_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NDALink.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.File_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoFileURLInstead.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the error message to be displayed for not selecting an Opp</description>
        <name>Assign_Opp_Error</name>
        <label>Assign Opp Error</label>
        <locationX>3130</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>vOppErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Opportunity must be selected from the table before advancing.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign entered values to the New Project var</description>
        <name>assign_Project_Values</name>
        <label>assign Project Values</label>
        <locationX>666</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.avnio__ProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Cloud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Blind_Ask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blind_Ask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSelectedProductTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Region_Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region_Business_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Existing_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Red_Flags_Current_Issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Red_Flags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.avnio__DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>org62opportunityexternalid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.SE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Big_Bet_Strategic_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Big_Bet_Strategic_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Additional_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Other_Salesforce_employees_involved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Account_Team</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Created_By_Intake_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Strategic_Initiative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedSIO_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Deal_Support_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedDSRId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign Queue Owner to the New Project var</description>
        <name>Assign_Queue_Owner</name>
        <label>Assign Queue Owner</label>
        <locationX>402</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelfServiceorRFPSupported</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RFP Supported</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Project_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the selected DSR to the Project Record Var</description>
        <name>Assign_SIO</name>
        <label>Assign SIO</label>
        <locationX>666</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Strategic_Initiative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedSIO_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Service_Versus_RFP_Supported</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign User Owner to the New Project var</description>
        <name>Assign_User_Owner</name>
        <label>Assign User Owner</label>
        <locationX>930</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelfServiceorRFPSupported</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Project_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pub_Sec</name>
        <choiceText>Public Sector</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Sector</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salesforce_org</name>
        <choiceText>Salesforce.org</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce.org</stringValue>
        </value>
    </choices>
    <constants>
        <description>for dynamic progress bar</description>
        <name>constantPath</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Org,Project Details,Opportunity Selection,DSR Selection,File Upload,Select Answers,Enter Comments,Summary,Complete</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Business_Unit_Go_No_Go_Required</name>
        <label>Business Unit Go No Go Required</label>
        <locationX>666</locationX>
        <locationY>3884</locationY>
        <defaultConnector>
            <targetReference>Redirect_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decSalesforce_org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Answer_Bid_No_Bid_Questions</targetReference>
            </connector>
            <label>Salesforce.org</label>
        </rules>
        <rules>
            <name>Pub_Sec_Final_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PubSec_Redirect_Message</targetReference>
            </connector>
            <label>PubSec</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if any org62 dsr&apos;s were found</description>
        <name>Check_for_Org62_SIO</name>
        <label>Check for Org62 SIO</label>
        <locationX>1370</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Self_Service_Versus_RFP_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>SIO_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org62_SIO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIO_Selection</targetReference>
            </connector>
            <label>SIO Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if any org62 dsr&apos;s were found</description>
        <name>Check_for_Org62DSR</name>
        <label>Check for Org62DSR</label>
        <locationX>1854</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Self_Service_Versus_RFP_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>DSR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org62_DSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSR_Selection</targetReference>
            </connector>
            <label>DSR Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>check the selected sales organization to provide unique experience based</description>
        <name>Check_Sales_Organization</name>
        <label>Check Sales Organization</label>
        <locationX>2360</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Self_Service_Versus_RFP_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decPublic_Sector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org62_DSR</targetReference>
            </connector>
            <label>Public Sector</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if a file was uploaded or linked</description>
        <name>File_Check</name>
        <label>File Check</label>
        <locationX>666</locationX>
        <locationY>3194</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Msg_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No File</defaultConnectorLabel>
        <rules>
            <name>decFile_w_o_Link</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>fFileUploadIdLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Project</targetReference>
            </connector>
            <label>File w/o Link</label>
        </rules>
        <rules>
            <name>decFile_with_Link</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4) OR (1 AND 2 AND 3 AND 4) OR (2 AND 3 AND 4) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>fFileUploadIdLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxURL_Length_Exceeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_File_Links</targetReference>
            </connector>
            <label>File with Link</label>
        </rules>
        <rules>
            <name>Link_Too_Long</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>fxURL_Length_Exceeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Msg_Link</targetReference>
            </connector>
            <label>Link Too Long</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_selected</name>
        <label>GPS selected</label>
        <locationX>2241</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>User_has_correct_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigate_to_Project_Record.destinationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPS</stringValue>
                </rightValue>
            </conditions>
            <label>GPS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Authorized_for_PubSec</name>
        <label>Is User Authorized for PubSec?</label>
        <locationX>1397</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Get_Pickvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Proceed</defaultConnectorLabel>
        <rules>
            <name>No_Not_Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fx15DigitProfileID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PubSec_Error_Screen</targetReference>
            </connector>
            <label>No - Not Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <description>wer</description>
        <name>Launch_Point</name>
        <label>Launch Point</label>
        <locationX>2395</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>User_has_correct_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lightning_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLaunchPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Page</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Confirmation_Screen</targetReference>
            </connector>
            <label>Lightning Page</label>
        </rules>
    </decisions>
    <decisions>
        <description>ensure that an Opportunity was selected</description>
        <name>Oppty_Check</name>
        <label>Oppty Check</label>
        <locationX>2745</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Opp_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>org62opportunityexternalid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Organization</targetReference>
            </connector>
            <label>Opp Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Service_Versus_RFP_Supported</name>
        <label>Self-Service Versus RFP Supported</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Self Service</defaultConnectorLabel>
        <rules>
            <name>dec_Supported</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Blind_Ask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fBusinessDaysEvaluation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>org62oppfromdatatable.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Supported</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_correct_access</name>
        <label>User has correct access?</label>
        <locationX>2395</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Woops_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Project_Intake_Flow_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scSalesOrganization</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>screen flow to guide user through creation of Avnio Project record
v5 9/20 - updated DSR externalID
v6 10/4 - updated &apos;next&apos; button labels,
v7 10/6 - help text for opp selection revision
v8 10/7 - default SE
v10 10/10 - default &quot;commerical&quot; and remove other options (until further go-live)
v12 10/13 - updated .org messaging, navigation
v13 10/17 - new flow progress LWC components
v14 10/17 - Opp Selection Requirement
v15 10/31 - Added .Org choice and removed default value
v16 11/2 - delayed project creation until after file has been attached
v17 11/8 - Added check for Project Intake Flow Access custom permission.
v18 11/9 - Pub Sec Customizations</description>
    <dynamicChoiceSets>
        <name>GetOrg62Opportunities</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>09 - Closed Published</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>08 - Closed</stringValue>
            </value>
        </filters>
        <object>q62_Opportunity__x</object>
        <outputAssignments>
            <assignToReference>org62opportunityexternalid</assignToReference>
            <field>ExternalId</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ExternalId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsBigBet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Big_Bet_Strategic_Account__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>pcs for Blind Ask field on Avnio Project</description>
        <name>pcsBlindAsk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blind_Ask__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>pcs for Existing Customer field on Avnio Project</description>
        <name>pcsExistingCustomer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Customer__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsRegionBusinessUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region_Business_Unit__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSalesOrganization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cloud__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fBusinessDaysEvaluation</name>
        <dataType>Date</dataType>
        <expression>IF(MOD( TODAY() - DATE(1900, 1, 6), 7) &gt; 1,
TODAY() + 7,
IF(MOD( TODAY() - DATE(1900, 1, 6), 7) = 1,
TODAY() + 5, TODAY() + 7
)
)</expression>
    </formulas>
    <formulas>
        <description>check the length of the IDs from the file upload component to have dynamic error messaging for requirement of linked/uploaded file</description>
        <name>fFileUploadIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!FileUpload.contentDocumentIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fNavigationURL</name>
        <dataType>String</dataType>
        <expression>IF({!Sales_Organization} = &quot;Salesforce.org&quot;
, &quot;/lightning/page/home&quot;
   ,IF({!vSelfServiceorRFPSupported}=&quot;Self Service&quot;
   ,&quot;/lightning/n/avnio__LibrarySearch&quot;
   ,&quot;/lightning/page/home&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fProgressBar</name>
        <dataType>String</dataType>
        <expression>CASE({!Sales_Organization}, &quot;Salesforce.org&quot;, &quot;Step 1, Step 2, Step 3, Step 4&quot;,&quot;Step 1, Step 2, Step 3&quot;)</expression>
    </formulas>
    <formulas>
        <description>formula to standardize the naming of project records</description>
        <name>fProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Sales_Organization} &amp;&quot; - &quot;&amp; TEXT({!Due_Date}) &amp;&quot; - &quot;&amp; {!org62oppfromdatatable.Name__c},100)</expression>
    </formulas>
    <formulas>
        <name>fQueueName</name>
        <dataType>String</dataType>
        <expression>&apos;Avnio Project Queue - &apos;+{!Sales_Organization}</expression>
    </formulas>
    <formulas>
        <description>checks if the user has the custom permission indicating they are an SE so that only SE users get stamped in the SE lookup</description>
        <name>fSEDetermination</name>
        <dataType>String</dataType>
        <expression>IF({!$Permission.RFP_SE},{!$User.Id},null)</expression>
    </formulas>
    <formulas>
        <description>replaces the commas in the string with semicolons to make it MSP friendly</description>
        <name>fSelectedProductTypes</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProductTypeDualList.selectedOptionsCSV},&quot;,&quot;,&quot;;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fURLNotPopulated</name>
        <dataType>Boolean</dataType>
        <expression>IF({!NoFileURLInstead.value}=&quot;&quot;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>fx15DigitProfileID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Avnio_Requestor_Profile_ID.Id},15)</expression>
    </formulas>
    <formulas>
        <description>If Pub Sec, use the non-required version of the Red Flags field, otherwise use the required Red Flags field.</description>
        <name>fx_Red_Flags</name>
        <dataType>String</dataType>
        <expression>IF({!Sales_Organization} = {!Pub_Sec}, {!Red_Flags_Current_Issues_PS}, {!Red_Flags_Current_Issues})</expression>
    </formulas>
    <formulas>
        <name>fxURL_Length_Exceeded</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(
LEN( {!NoFileURLInstead.value} ) &gt; 255,
LEN( {!NDALink.value} ) &gt; 255 ), 
True, False)</expression>
    </formulas>
    <interviewLabel>Avnio RFP Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Avnio RFP Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create the Anvio Project record from the values entered</description>
        <name>create_Project</name>
        <label>create Project</label>
        <locationX>666</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>getNewProject</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varNewProject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Avnio_Requestor_Profile_ID</name>
        <label>Get Avnio Requestor Profile ID</label>
        <locationX>1397</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Authorized_for_PubSec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Requestor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>for Pub Sec, get the DSR&apos;s tied to the Org62 Opp that was selected</description>
        <name>Get_Org62_DSR</name>
        <label>Get Org62 DSR</label>
        <locationX>1854</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Org62DSR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>org62oppfromdatatable.ExternalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Avnio_Project_ID_c__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>q62_Deal_Support_Request_c__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>for Pub Sec, get the DSR&apos;s tied to the Org62 Opp that was selected</description>
        <name>Get_Org62_SIO</name>
        <label>Get Org62 SIO</label>
        <locationX>1370</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Org62_SIO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>org62oppfromdatatable.ExternalId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>q62_Strategic_Initiative_c__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>402</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Owner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the new project record for reference in the success screen</description>
        <name>getNewProject</name>
        <label>getNewProject</label>
        <locationX>666</locationX>
        <locationY>3668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_File_s_to_Project</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Project_Confirmation_Screen</name>
        <label>Create Project Confirmation Screen</label>
        <locationX>2241</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GPS_selected</targetReference>
        </connector>
        <fields>
            <name>dfdcLogo5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateProjectConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;If you would like to create a Project Record, please click Continue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>capture the details of the DSR and Project</description>
        <name>DSR_Project_Details</name>
        <label>DSR + Project Details</label>
        <locationX>2745</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Selection</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Project Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Complete the following information related to the Project and DSR﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RFP_Details</name>
            <fieldText>RFP Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFP_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date on which the proposal needs to be submitted to the customer&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Region_Business_Unit</name>
                    <choiceReferences>pcsRegionBusinessUnit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region/Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select your global region or AMER Sales org&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Customer</name>
                    <choiceReferences>pcsExistingCustomer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Existing Customer?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Is this for an existing Salesforce customer for any product?&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Blind_Ask</name>
                    <choiceReferences>pcsBlindAsk</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unanticipated RFP?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Formerly &quot;Blind Ask&quot;, &quot;Unanticipated RFP&quot; is used to indicate if we have had previous engagements with this customer and knew this RFP was being issued;&amp;nbsp;select NO. If this RFx is the first time you have communicated with the customer, select YES.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Big_Bet_Strategic_Account</name>
                    <choiceReferences>pcsBigBet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Big Bet / Strategic Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select YES if this is a designated Big Bet or Strategic Account by sales ops as part of this fiscal year&apos;s top priorities.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFP_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SE</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SE__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>avnio__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>fSEDetermination</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Salesforce_Account_Team</name>
                    <fieldText>Salesforce Account Team</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide the names of Salesforce account team members, partners, managers, etc. who need to be included as part of this project.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is a 255 character limit, please shorten your entry.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Salesforce_Account_Team}) &lt; 256</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Red_Flags_Current_Issues</name>
                    <fieldText>Red Flags/Current Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide information regarding any known red flags or current issues with this opportunity or account that could impact this request.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;There is a 5,000 character limit, please shorten your entry.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Red_Flags_Current_Issues}) &lt; 5001</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Public Sector</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Red_Flags_Current_Issues_PS</name>
                    <fieldText>Red Flags/Current Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Provide information regarding any known red flags or current issues with this opportunity or account that could impact this request.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is a 5,000 character limit, please shorten your entry.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Red_Flags_Current_Issues_PS}) &lt; 5001</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Sector</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Details</name>
                    <fieldText>Additional Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide additional details on what is needed to support this request or the timeline provided.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There is a 2,000 character limit, please shorten your entry.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Additional_Details}) &lt; 2001</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtProductSelection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Product Selection&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Select the products that will be included as part of the solution for this RFx. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Accurate selection ensures proper qualification and evaluation of this project.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ProductTypeDualList</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForData</name>
                <value>
                    <stringValue>value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products in Solution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>cvPickvalString</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DSR_Selection</name>
        <label>DSR Selection</label>
        <locationX>1370</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_DSR</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo2_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_4</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>DSR Selection</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtTableInstructions_Opportunity_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Select the Org62 DSR&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DSRSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>q62_Deal_Support_Request_c__x</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>q62_Deal_Support_Request_c__x</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Org62_DSR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name__c,Product_Type_c__c,Status_c__c,Project_Title_c__c,Internal_Due_date_c__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name__c:325, Product_Type_c__c:162, Status_c__c:162, Project_Title_c__c:162, Internal_Due_date_c__c:162</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Org62 Deal Support Requests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>400px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>ExternalId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelectedDSRId</assignToReference>
                <name>selectedRowKeyValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Select DSR</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>error handler</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1282</locationX>
        <locationY>3884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>666</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>File_Check</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_5</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Upload File(s)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 158, 219);&quot;&gt;Use the component below to upload any RFP documents issued by the customer and a link to the NDA, if applicable&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtNoFileError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 14px;&quot;&gt;{!vFileErrorMsg}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoFileURLInstead</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>No file to upload? Post Link to URL below. Must start with http:// or https://</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(http|https)?:\/\/.*</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NDALink</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide a Link to the NDA (optional). Must start with http:// or https://</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(http|https)?:\/\/.*</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>URL_Help</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;&lt;em&gt;Please Note&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;:&amp;nbsp;Only &lt;/em&gt;&lt;strong style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;&lt;em&gt;one link&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt; can be added into the URL fields.&amp;nbsp;Additional documents should be uploaded as files or added in the Chatter feed of the project record.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NoFileURLInstead.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NDALink.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection</name>
        <label>Opportunity Selection</label>
        <locationX>2745</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Oppty_Check</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Opportunity Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtTableInstructions_Opportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; user-select: auto;&quot;&gt;Select the Org62 Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); user-select: auto; font-size: 14px;&quot;&gt;Use the search component to locate and select the desired Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtOppError</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(237, 28, 36); user-select: auto; font-size: 14px;&quot;&gt;{!vOppErrorMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOppErrorMsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Table</name>
            <extensionName>c:Org62OpportunityPagination</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>org62opportunityexternalid</assignToReference>
                <name>selectedopportunityexternalid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>org62oppfromdatatable</assignToReference>
                <name>selectedopportunityrecord</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Select Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PubSec_Error_Screen</name>
        <label>PubSec Error Screen</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_dfdcLogo5_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PubSec_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You selected &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Public Sector&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; as the Sales Organization.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;This field selection is limited to the Public Sector RFP Team. Account teams should continue to submit a &quot;Industry Support - Public Sector&quot; DSR for RFx support.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;&lt;em&gt;Previous &lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;to select a different Sales Organization, or &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;&lt;em&gt;Finish &lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(50, 51, 56);&quot;&gt;to close out.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PubSec_Redirect_Message</name>
        <label>PubSec Redirect Message</label>
        <locationX>666</locationX>
        <locationY>3992</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Project_Record</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo5_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_7_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtSuccess2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; user-select: auto;&quot;&gt;You&apos;ve successfully created Project {!getNewProject.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; user-select: auto;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(3, 45, 96); font-size: 16px; user-select: auto;&quot;&gt;{!getNewProject.avnio__ProjectName__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RFPSupportedMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Click &apos;Finish&apos; to be directed to your Project so you can continue working on it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Message</name>
        <label>Redirect Message</label>
        <locationX>930</locationX>
        <locationY>3992</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_from_Flow</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_6</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtSuccess1</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;You&apos;ve successfully created Project {!getNewProject.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96); user-select: auto;&quot;&gt;{!getNewProject.avnio__ProjectName__c} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelfServiceMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Self Service Notification&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Because this RFP Response is either less than $200K, a Blind Ask or the turnaround time is less than 5 business days from today, this RFP is only eligible for Self Service.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &apos;Finish&apos; to be directed to the Library Search, where you can find Responses to questions within your RFP.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Additionally, visit &lt;/span&gt;&lt;a href=&quot;https://solutionscentral.io/topics/134889a0-7910-11ea-a188-9149fc8e6c18/rfp/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 158, 219);&quot;&gt;&lt;u&gt;the RFP page on Solutions Central&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; for links to our additional resources.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;If you have further questions, reference our slack channel: &lt;/span&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;q-branch-rfp&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vSelfServiceorRFPSupported</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Self Service</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RFPSupportedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;RFP Support Notification&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Thank you for submitting this RFP. Because it meets our initial support criteria, this RFP is approved for review and qualification by the RFP Team.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Our review and qualification process varies by region and products. After internal review of the request and RFP, you will receive a response within 24 hours determining the level of support the RFP Team can provide.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Click &apos;Finish&apos; to be directed to your Home Tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vSelfServiceorRFPSupported</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RFP Supported</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>capture Sales Org</description>
        <name>scSalesOrganization</name>
        <label>Sales Organization</label>
        <locationX>1397</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Avnio_Requestor_Profile_ID</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Sales Org</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtInstructions_0</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;Select the Sales Organization related to the Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scSalesOrganization_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scSalesOrganization_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scSalesOrganization_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Organization</name>
                    <choiceReferences>Commercial</choiceReferences>
                    <choiceReferences>Salesforce_org</choiceReferences>
                    <choiceReferences>Pub_Sec</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Organization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the sales organization for this account&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scSalesOrganization_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SIO_Selection</name>
        <label>SIO Selection</label>
        <locationX>666</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SIO</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo2_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_5_1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>DSR Selection</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtTableInstructions_Opportunity_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Select the Org62 SIO&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SIOSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>q62_Strategic_Initiative_c__x</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>q62_Strategic_Initiative_c__x</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name__c,Status_c__c,Business_Owner_c__c,Due_Date_c__c,Target_Complete_Date_c__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name__c:325, Status_c__c:162, Business_Owner_c__c:422, Due_Date_c__c:422, Target_Complete_Date_c__c:422</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Org62 Strategic Initiatives</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom15</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>400px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>ExternalId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Org62_SIO</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelectedSIO_ID</assignToReference>
                <name>selectedRowKeyValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Select SIO</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Woops_Screen</name>
        <label>Woops Screen</label>
        <locationX>3394</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dfdcLogo5_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Attention:  You do not have permission to create a Project in Avnio.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;If this is a mistake, please contact your manager. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2269</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Launch_Point</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Answer_Bid_No_Bid_Questions</name>
        <label>Answer Bid-No-Bid Questions</label>
        <locationX>402</locationX>
        <locationY>3992</locationY>
        <connector>
            <targetReference>Navigate_from_Flow</targetReference>
        </connector>
        <flowName>Bid_No_Bid_RFP_Questions</flowName>
        <inputAssignments>
            <name>Origin</name>
            <value>
                <stringValue>Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>getNewProject.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>apex defined variable to store the org62 opp column for table display</description>
        <name>avOrg62OppColumn</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>avOrg62OppColumnList</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection variable to store the RFP Answer for bulk creation</description>
        <name>cvarRFPAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>collection variable to store the available product type picklist values</description>
        <name>cvPickvals</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvPickvalString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Org62ColumnList</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the Org62 DSR that was selected from the datatable</description>
        <name>org62DSRfromdatatable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>q62_Deal_Support_Request_c__x</objectType>
    </variables>
    <variables>
        <name>org62oppfromdatatable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>q62_Opportunity__x</objectType>
    </variables>
    <variables>
        <name>org62opportunityexternalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>to determine where the flow was launched from to dynamically provide a different UX</description>
        <name>varLaunchPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Project__c</objectType>
    </variables>
    <variables>
        <description>dynamic error message for no file uploaded or linked</description>
        <name>vFileErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Error to Display if no Opps are selected from the table</description>
        <name>vOppErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the ID of the DSR that was selected in the datatable</description>
        <name>vSelectedDSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedSIO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelfServiceorRFPSupported</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
