utopia-project/force-app/main/default/flows/Case_Study_Custom_Clone_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_To_New_Case_Study</name>
        <label>Go To New Case Study</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>CountryChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LineofbusinessChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Line_of_Business__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductsChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Products__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sharingpermissions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sharing_Permissions__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StagePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Cases_ChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Cases__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VerticalPicklistChoiceSet2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vertical__c</picklistField>
        <picklistObject>Case_Studies__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OverviewFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE(
    SUBSTITUTE(
      SUBSTITUTE(
        SUBSTITUTE(
          SUBSTITUTE(
            SUBSTITUTE(
              SUBSTITUTE(
                SUBSTITUTE(
                  SUBSTITUTE(
                    SUBSTITUTE({!Get_Source_Case_Study.Overview__c}, &quot;&lt;br&gt;&quot;, &quot; &quot;),
                  &quot;&lt;br/&gt;&quot;, &quot; &quot;),
                &quot;&lt;p&gt;&quot;, &quot; &quot;),
              &quot;&lt;/p&gt;&quot;, &quot; &quot;),
            &quot;&lt;ul&gt;&quot;, &quot; &quot;),
          &quot;&lt;/ul&gt;&quot;, &quot; &quot;),
        &quot;&lt;li&gt;&quot;, &quot; - &quot;),
      &quot;&lt;/li&gt;&quot;, &quot; &quot;),
    &quot;&lt;/span&gt;&quot;, &quot; &quot;),
  &quot;&lt;span&quot;, &quot; &quot;),
&quot;&gt;&quot;, &quot;&quot; )</expression>
    </formulas>
    <interviewLabel>Case Study -Custom Clone Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Study -Custom Clone Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Go_To_New_Case_Study</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset_Link__c</field>
            <value>
                <elementReference>Asset_Link.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Team_Reviewed__c</field>
            <value>
                <elementReference>Content_Team_Reviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Reference_Lead__c</field>
            <value>
                <elementReference>Customer_Reference_Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <elementReference>Line_of_business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case_Study_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_and_Next_Steps__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org62_Account_Name__c</field>
            <value>
                <elementReference>Org62_Account_Name_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org62_Account__c</field>
            <value>
                <elementReference>Get_Source_Case_Study.Org62_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview__c</field>
            <value>
                <elementReference>OverviewRichTextEditable.overview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products__c</field>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Date__c</field>
            <value>
                <elementReference>Published_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sharing_Permissions__c</field>
            <value>
                <elementReference>Get_Source_Case_Study.Sharing_Permissions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Notes__c</field>
            <value>
                <elementReference>Stage_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Cases__c</field>
            <value>
                <elementReference>Use_case_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>Vertical</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Studies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Source_Case_Study</name>
        <label>Get Source Case Study</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Study_Live_Case_Studies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Studies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Case_Study_Live_Case_Studies</name>
        <label>New Case Study: Live Case Studies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <fields>
            <name>Case_Study_Asset</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Name</elementReference>
            </defaultValue>
            <fieldText>Case Study Asset</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Org62_Account_Name_c</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Org62_Account_Name__c</elementReference>
            </defaultValue>
            <fieldText>Org62_Account_Name__c</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Org62_Account_Link</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Org62 Account Link&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Source_Case_Study.Org62_Account_Link__c}&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(24, 24, 24); font-size: 12px;&quot;&gt;This field is calculated upon save&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Line_of_business</name>
            <choiceReferences>LineofbusinessChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Line_of_Business__c</elementReference>
            </defaultValue>
            <fieldText>Line of business</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Use_case_s</name>
            <choiceReferences>Use_Cases_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Use_Cases__c</elementReference>
            </defaultValue>
            <fieldText>Use case(s)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vertical</name>
            <choiceReferences>VerticalPicklistChoiceSet2</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Vertical__c</elementReference>
            </defaultValue>
            <fieldText>Vertical</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sharing_permissions</name>
            <choiceReferences>Sharingpermissions</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Sharing_Permissions__c</elementReference>
            </defaultValue>
            <fieldText>Sharing permissions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <defaultValue>
                <stringValue>{!Get_Source_Case_Study.Customer_Name__c}</stringValue>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Reference_Lead</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case_Studies__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Reference_Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Reference Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Source_Case_Study.Customer_Reference_Lead__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Published_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Published_Date__c</elementReference>
            </defaultValue>
            <fieldText>Published Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Region</name>
            <choiceReferences>RegionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Region__c</elementReference>
            </defaultValue>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>CountryChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Country__c</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Content_Team_Reviewed</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Content_Team_Reviewed__c</elementReference>
            </defaultValue>
            <fieldText>Content Team Reviewed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Products</name>
            <choiceReferences>ProductsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Products__c</elementReference>
            </defaultValue>
            <fieldText>Products</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Overview_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Overview&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OverviewRichTextEditable</name>
            <extensionName>c:caseStudyRichTextEditable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>overviewInput</name>
                <value>
                    <elementReference>Get_Source_Case_Study.Overview__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!Get_Source_Case_Study.Notes_and_Next_Steps__c}</stringValue>
            </defaultValue>
            <fieldText>Notes and Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>StagePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Stage__c</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_Notes</name>
            <defaultValue>
                <stringValue>{!Get_Source_Case_Study.Stage_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Stage Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Link</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Source_Case_Study.Asset_Link__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Partner__c</elementReference>
            </defaultValue>
            <fieldText>Partner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Competitor</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Source_Case_Study.Competitor__c</elementReference>
            </defaultValue>
            <fieldText>Competitor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Source_Case_Study</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OverviewTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Source_Case_Study.Overview__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
