utopia-project/force-app/main/default/flows/Case_Study_Sync_Use_Case_and_Product_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_Multi_Select_Picklist_Products</name>
        <label>Split Multi-Select Picklist: Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectPicklistSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Product_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>picklistValues</name>
            <value>
                <elementReference>$Record.Products__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectPicklistSplitter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>productsvalues</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Split_Multi_Select_Picklist_Use_Case</name>
        <label>Split Multi-Select Picklist: Use Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectPicklistSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Use_Case_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>picklistValues</name>
            <value>
                <elementReference>$Record.Use_Cases__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectPicklistSplitter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>usecasevalues</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Use_Case_to_Collection_Product</name>
        <label>Add Use Case to Collection - Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewUseCasesandProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Use_Case_to_Collection_Use_Case</name>
        <label>Add Use Case to Collection - Use Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewUseCasesandProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleUseCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Use_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_to_Use_Case_and_Product_Record</name>
        <label>Assign Product to Use Case and Product Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleProduct.Case_Study__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Use_Case_to_Collection_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Use_Case_to_Use_Case_and_Product_Record</name>
        <label>Assign Use Case to Use Case and Product Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleUseCase.Case_Study__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleUseCase.Use_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Use_Case_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Use_Case_to_Collection_Use_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Existing_Use_Cases_and_Products</name>
        <label>Has Existing Use Cases and Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Use_Cases_and_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Use_Cases_and_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Multi_Select_Picklist_Use_Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Keeps the Use Cases and Products child object in sync with the multi-select picklists on Case Studies.</description>
    <environments>Default</environments>
    <interviewLabel>Case Study: Sync Use Case and Product - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Study: Sync Use Case and Product - After Save</label>
    <loops>
        <name>Loop_Product_Values</name>
        <label>Loop Product Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productsvalues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_to_Use_Case_and_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Use_Case_and_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Use_Case_Values</name>
        <label>Loop Use Case Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>usecasevalues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Use_Case_to_Use_Case_and_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Split_Multi_Select_Picklist_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Use_Case_and_Product_Records</name>
        <label>Create Use Case and Product Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewUseCasesandProducts</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Use_Cases_and_Products</name>
        <label>Delete Existing Use Cases and Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_Multi_Select_Picklist_Use_Case</targetReference>
        </connector>
        <inputReference>Get_Existing_Use_Cases_and_Products</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Use_Cases_and_Products</name>
        <label>Get Existing Use Cases and Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_Use_Cases_and_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Study__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Use_Cases_and_Products__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Use_Cases_and_Products</targetReference>
        </connector>
        <object>Case_Studies__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collects all new Use Cases and Products records to insert</description>
        <name>NewUseCasesandProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Use_Cases_and_Products__c</objectType>
    </variables>
    <variables>
        <name>productsvalues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Use_Cases_and_Products__c</objectType>
    </variables>
    <variables>
        <name>singleUseCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Use_Cases_and_Products__c</objectType>
    </variables>
    <variables>
        <name>usecasevalues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUseCaseandProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Use_Cases_and_Products__c</objectType>
    </variables>
</Flow>
