utopia-project/force-app/main/default/flows/Complete_Review_Out_of_Cycle_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>automatically approve the active approval request</description>
        <name>Approve_Approval_Request</name>
        <label>Approve Approval Request</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_NewRAL_Common</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>Reason_s_for_Change</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>avnio__ResponseVersion__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign common values to new Response Audit Log variable</description>
        <name>Assign_NewRAL_Common</name>
        <label>Assign NewRAL Common</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRALVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Role_of_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewerRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Cycle Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Response_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reason_for_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_s_for_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_audit_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions_0</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Prior_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_audit_log</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_reviewer_role</name>
        <label>Check reviewer role</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>FinalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fReviewerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondary_Reviewer_Available_Check</targetReference>
            </connector>
            <label>Primary Reviewer</label>
        </rules>
        <rules>
            <name>Secondary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fReviewerRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreen</targetReference>
            </connector>
            <label>Secondary Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Decision</name>
        <label>Review Decision</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_NewRAL_Revisions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_Revised_Current_Version</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NewRAL_Revisions</targetReference>
            </connector>
            <label>Revised</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Reviewer_Available_Check</name>
        <label>Secondary Reviewer Available Check</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Secondary_Reviewer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_Primary_Reviwer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Response_Version.avnio__SecondaryReviewerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreen</targetReference>
            </connector>
            <label>Only Primary Reviwer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsReasonforChange</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Change__c</picklistField>
        <picklistObject>Response_Audit_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fRALVersion</name>
        <dataType>Number</dataType>
        <expression>1+ {!Response_Audit_Log.Version_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fReviewerRole</name>
        <dataType>String</dataType>
        <expression>IF(CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__ResponseId__r.OwnerId}, &quot;Content Owner&quot;, 
IF(CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__PrimaryReviewerId__c} ,&quot;Primary Reviewer&quot;, 
IF(CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__SecondaryReviewerId__c}, &quot;Secondary Reviewer&quot;,{!$User.Title}))
)</expression>
    </formulas>
    <formulas>
        <name>fReviewResult</name>
        <dataType>String</dataType>
        <expression>IF({!Have_you_Revised_Current_Version} = &quot;Yes&quot;,&quot;Revised&quot;,&quot;No Change&quot;)</expression>
    </formulas>
    <formulas>
        <name>response_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!Get_Response_Version.Id}</expression>
    </formulas>
    <interviewLabel>Complete Review - Out of Cycle Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Review - Out of Cycle Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_audit_log</name>
        <label>Create audit log</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Check_reviewer_role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vNewRAL</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Cur_Response</name>
        <label>Cur Response</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revision_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__ResponseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Response_Version</name>
        <label>Get Response Version</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Audit_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__ResponseVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response_Audit_Log</name>
        <label>Response Audit Log</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cur_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__ResponseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Audit_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36);&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36);&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayimage1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Message_display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Out of Cycle&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>publishmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 18px;&quot;&gt;Response Review is Completed. You can Publish this Response Version&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Revision_check</name>
        <label>Revision check</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approve_Approval_Request</targetReference>
        </connector>
        <fields>
            <name>avnioLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>reviewheader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 158, 219);&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Out of Cycle&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Have_you_Revised_Current_Version</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you Revised Current Version?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_s_for_Change</name>
            <choiceReferences>pcsReasonforChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason(s) for Change</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_Revised_Current_Version</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>responsecompare</name>
            <extensionName>avnio:responseFieldCompare</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>avnio__ResponseVersion__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Secondary_Reviewer_Screen</name>
        <label>Secondary Reviewer Screen</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>message_display2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Out of Cycle&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displaymessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Thanks for completing your review. This Response Version will now be Reviewed by Secondary Reviewer - {!Get_Response_Version.avnio__SecondaryReviewerId__r.FirstName} &lt;/em&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 158, 219); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Response_Version.avnio__SecondaryReviewerId__r.LastName}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Response_Version</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewRAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Audit_Log__c</objectType>
    </variables>
</Flow>
