utopia-project/force-app/main/default/flows/Complete_Cycle_Review_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>automatically approve the active approval request</description>
        <name>Approve_Approval_Request</name>
        <label>Approve Approval Request</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>avnio__Response__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign common values to new Response Audit Log variable</description>
        <name>Assign_NewRAL_Common</name>
        <label>Assign NewRAL Common</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRALVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Role_of_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewerRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Response_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cycle Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reason_for_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Audit_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions_0</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Prior_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Audit_Log</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check to see if the user that&apos;s reviewing is the Reviewer on the Response record</description>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Has_Primary_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryReviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.avnio__PrimaryReviewerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCurUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Secondary_Reviewer_Available</targetReference>
            </connector>
            <label>Primary Reviewer</label>
        </rules>
        <rules>
            <name>Secondary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.avnio__SecondaryReviewerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCurUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreen</targetReference>
            </connector>
            <label>Secondary Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Primary_Reviewer</name>
        <label>Has Primary Reviewer?</label>
        <locationX>798</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>FinalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_Reviewer_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.avnio__PrimaryReviewerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Reviewer_Pending</targetReference>
            </connector>
            <label>Has Primary Reviewer Available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Secondary_Reviewer_Available</name>
        <label>If Secondary Reviewer Available?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>FinalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Secondary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.avnio__SecondaryReviewerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondaryreviewerscreen</targetReference>
            </connector>
            <label>Has Secondary Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if revisions were made</description>
        <name>Review_Decision</name>
        <label>Review Decision</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_NewRAL_Revisions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>descRevised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revise_Current_Version</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NewRAL_Revisions</targetReference>
            </connector>
            <label>Revised</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsReasonforChange</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Change__c</picklistField>
        <picklistObject>Response_Audit_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>dynamic text for single or multiple alternative answers</description>
        <name>fAATitle</name>
        <dataType>String</dataType>
        <expression>IF({!nAAcount} &gt; 1
, &quot;This Response has &quot;+ TEXT({!nAAcount}) +&quot; Alternative Answers.  Please make sure to review these as well.&quot;
, &quot;This Response has 1 Alternative Answer.  Please make sure to review this as well.&quot;)</expression>
    </formulas>
    <formulas>
        <description>casesafeid</description>
        <name>fCurUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>version number for the new response audit log</description>
        <name>fRALVersion</name>
        <dataType>Number</dataType>
        <expression>1+ {!Response_Audit_Log.Version_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fReviewerRole</name>
        <dataType>String</dataType>
        <expression>IF(CASESAFEID({!$User.Id}) = {!Cur_Response.OwnerId}, &quot;Content Owner&quot;, 
   IF(CASESAFEID({!$User.Id}) = {!Cur_Response.avnio__PrimaryReviewerId__c}, &quot;Primary Reviewer&quot;,
IF(CASESAFEID({!$User.Id}) = {!Cur_Response.avnio__SecondaryReviewerId__c}, &quot;Secondary Reviewer&quot;, {!$User.Title}))
)</expression>
    </formulas>
    <formulas>
        <description>dynamic value for the new Response Audit Log Review Result field</description>
        <name>fReviewResult</name>
        <dataType>String</dataType>
        <expression>IF({!Revise_Current_Version} = &quot;Yes&quot;,&quot;Revised&quot;,&quot;No Change&quot;)</expression>
    </formulas>
    <interviewLabel>Complete Cycle Review Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Cycle Review Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create new Response Audit Log</description>
        <name>Create_Audit_Log</name>
        <label>Create Audit Log</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Approve_Approval_Request</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vNewRAL</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get the current Response record details</description>
        <name>Cur_Response</name>
        <label>Cur Response</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Response_Version</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Response_Version</name>
        <label>Get Response Version</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Audit_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__ResponseVersion__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response_Audit_Log</name>
        <label>Response Audit Log</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Audit_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayimage1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Response Review is Completed. You can Publish this Response&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Primary_Reviewer_Pending</name>
        <label>Primary Reviewer Pending</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>imagedisplay</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt5</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Thanks for completing your review. This Response Version will now be Reviewed by Primary Reviewer - {!Cur_Response.avnio__PrimaryReviewerId__r.FirstName} {!Cur_Response.avnio__PrimaryReviewerId__r.LastName}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NewRAL_Common</targetReference>
        </connector>
        <fields>
            <name>avnioLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtReviewDecision</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revise_Current_Version</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have you Revised Current Version?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Mark &apos;Yes&apos; if the Current Version requires revision&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Change</name>
            <choiceReferences>pcsReasonforChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason(s) for Change</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Revise_Current_Version</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtRevision</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 158, 219);&quot;&gt;Compare&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>responsecompar</name>
                    <extensionName>avnio:responseFieldCompare</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Response_Version.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>avnio__ResponseVersion__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Secondaryreviewerscreen</name>
        <label>Secondaryreviewerscreen</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayimage7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt7</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt6</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Thanks for completing your review. This Response Version will now be Reviewed by Secondary Reviewer - {!Cur_Response.avnio__SecondaryReviewerId__r.FirstName} {!Cur_Response.avnio__SecondaryReviewerId__r.LastName}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cur_Response</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>count of alternative questions</description>
        <name>nAAcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>count of Project Questions that were created after the Response was last edited</description>
        <name>nPQcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the names of the AA records that are related to the cur Response</description>
        <name>tAANames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>child response record var to be created and later published</description>
        <name>vChildResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
    <variables>
        <name>vMostRecentUse</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record variable for new Response Audit Log</description>
        <name>vNewRAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>vResponseUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
</Flow>
