utopia-project/force-app/main/default/flows/Content_Review_Out_of_Cycle_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Denise_PubSec</name>
        <label>Email Denise (PubSec)</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate_ReviewComplete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>denise.nelson@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Out-of-Cycle Review Complete</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Lauren_Jo</name>
        <label>Email Lauren &amp; Jo (All Others)</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate_ReviewComplete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lmandelbaum@salesforce.com, jgrabarek@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Out-of-Cycle Review Complete</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign the AA Names to Text Var for display in screen</description>
        <name>Assign_AA_Name</name>
        <label>Assign AA Name</label>
        <locationX>162</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fAALink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - Last Modified </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AA_Loop.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the Count of Alternative Answers to the cur Response</description>
        <name>Assign_AltAnswer_Count</name>
        <label>Assign AltAnswer Count</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>nAAcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Alternative_Answers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Alternative_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign a child response record as an &apos;alternate question&apos; in order to be published by the Content Team in order to update the parent response</description>
        <name>Assign_Child_Response_Values</name>
        <label>Assign Child Response Values</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__ParentResponseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__StatusCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisedContent.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign a child response record as an &apos;alternate question&apos; in order to be published by the Content Team in order to update the parent response</description>
        <name>Assign_Child_Response_Values_0</name>
        <label>Assign Child Response Values</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__ParentResponseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__StatusCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign common values to new Response Audit Log variable</description>
        <name>Assign_NewRAL_Common</name>
        <label>Assign NewRAL Common</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRALVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Role_of_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewerRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisedContent.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reason_for_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions_0</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Prior_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response_Values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign values to update the response</description>
        <name>Assign_Response_Values</name>
        <label>Assign Response Values</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Last_Edited_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Review_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Last_Review_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Response_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign values to update the response</description>
        <name>Assign_Response_Values_0</name>
        <label>Assign Response Values</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Review_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Last_Review_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Response_Values_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check to see if there are any alternative answers</description>
        <name>Check_for_Alternative_Answers</name>
        <label>Check for Alternative Answers</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Response_Audit_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>AA_s_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative_Answers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Loop</targetReference>
            </connector>
            <label>AA&apos;s Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pubsec_Content</name>
        <label>Pubsec Content?</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Email_Lauren_Jo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cur_Response.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PubSec - RFP Team Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Denise_PubSec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if revisions were made</description>
        <name>Review_Decision</name>
        <label>Review Decision</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Assign_NewRAL_Revisions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>descRevised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revise_Current_Version</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NewRAL_Revisions</targetReference>
            </connector>
            <label>Revised</label>
        </rules>
    </decisions>
    <description>Approval Process for out of cycle updates to response answer
10.26 - Updates for the new Response review process</description>
    <dynamicChoiceSets>
        <name>pcsReasonforChange</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Change__c</picklistField>
        <picklistObject>Response_Audit_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Alternative Answer Link</description>
        <name>fAALink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; + {!AA_Loop.Id}, {!AA_Loop.Name})</expression>
    </formulas>
    <formulas>
        <description>dynamic text for single or multiple alternative answers</description>
        <name>fAATitle</name>
        <dataType>String</dataType>
        <expression>IF({!nAAcount} &gt; 1
, &quot;This Response has &quot;+ TEXT({!nAAcount}) +&quot; Alternative Answers.  Please make sure to review these as well.&quot;
, &quot;This Response has 1 Alternative Answer.  Please make sure to review this as well.&quot;)</expression>
    </formulas>
    <formulas>
        <description>the name of the current Content Reviewer for display</description>
        <name>fContentReviewer</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Cur_Response.Review_Status__c},&quot;In Review - Owner&quot;),{!Cur_Response.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!Cur_Response.Owner:User.LastName},
   IF(ISPICKVAL({!Cur_Response.Review_Status__c},&quot;In Review - Content Team&quot;), {!Cur_Response.Reviewer__r.FirstName}&amp;&quot; &quot;&amp;{!Cur_Response.Reviewer__r.LastName},null)
)</expression>
    </formulas>
    <formulas>
        <description>version number for the new response audit log</description>
        <name>fRALVersion</name>
        <dataType>Number</dataType>
        <expression>1+ {!Response_Audit_Log.Version_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fReviewerRole</name>
        <dataType>String</dataType>
        <expression>IF(CASESAFEID({!$User.Id}) = {!Cur_Response.OwnerId}, &quot;Content Owner&quot;, 
   IF(CASESAFEID({!$User.Id}) = {!Cur_Response.Reviewer__c}, &quot;Reviewer&quot;, {!$User.Title})
)</expression>
    </formulas>
    <formulas>
        <description>dynamic value for the new Response Audit Log Review Result field</description>
        <name>fReviewResult</name>
        <dataType>String</dataType>
        <expression>IF({!Revise_Current_Version} = &quot;Yes&quot;,&quot;Revised&quot;,&quot;No Change&quot;)</expression>
    </formulas>
    <formulas>
        <name>response_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!vChildResponse.Id}</expression>
    </formulas>
    <interviewLabel>Content Review - Out of Cycle Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Review - Out of Cycle Approval</label>
    <loops>
        <description>loop the alternative answers in the flow</description>
        <name>AA_Loop</name>
        <label>AA Loop</label>
        <locationX>74</locationX>
        <locationY>638</locationY>
        <collectionReference>Alternative_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AA_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Response_Audit_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create new Response Audit Log</description>
        <name>Create_Audit_Log</name>
        <label>Create Audit Log</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_Child_Response</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vNewRAL</inputReference>
    </recordCreates>
    <recordCreates>
        <description>creates a child response record as an &apos;alternate question&apos; in order to be published by the Content Team in order to update the parent response</description>
        <name>Create_Child_Response</name>
        <label>Create Child Response</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Pubsec_Content</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vChildResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get the alternative answers related to the Response</description>
        <name>Alternative_Answers</name>
        <label>Alternative Answers</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AltAnswer_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__AlternativeAnswer__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the current Response record details</description>
        <name>Cur_Response</name>
        <label>Cur Response</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alternative_Answers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response_Audit_Log</name>
        <label>Response Audit Log</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Authentication_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Audit_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the revised answer on the response record</description>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Create_Audit_Log</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vResponseUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Authentication_Screen</name>
        <label>Authentication Screen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <fields>
            <name>avnioLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtAuthentication</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Out of Cycle&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(33, 50, 93); user-select: auto;&quot;&gt;This Response is currently in review.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(33, 50, 93); user-select: auto;&quot;&gt;Please confirm that you are &lt;/span&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(33, 50, 93); background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!Cur_Response.Reviewer__r.FirstName} {!Cur_Response.Reviewer__r.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 22px; color: rgb(33, 50, 93); background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt; or an approved delegate to review the Response.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Review Response</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NewRAL_Common</targetReference>
        </connector>
        <fields>
            <name>avnioLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtReviewDecision</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;em style=&quot;color: rgb(0, 158, 219); user-select: auto; font-size: 16px;&quot;&gt;Out of Cycle&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtContentDisplay</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); font-size: 20px; user-select: auto;&quot;&gt;Question&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95); font-size: 20px; user-select: auto;&quot;&gt;: {!Cur_Response.avnio__PrimaryQuestion__c}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); user-select: auto;&quot;&gt;Last Edited By&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95); user-select: auto;&quot;&gt;: {!Response_Audit_Log.Reviewed_By__r.FirstName} {!Response_Audit_Log.Reviewed_By__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); user-select: auto;&quot;&gt;Last Edited Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95); user-select: auto;&quot;&gt;: {!Response_Audit_Log.CreatedDate}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revise_Current_Version</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Revise Current Version?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Mark &apos;Yes&apos; if the Current Version requires revision&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Change</name>
                    <choiceReferences>pcsReasonforChange</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason(s) for Change</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Revise_Current_Version</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtRevision</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 20px;&quot;&gt;Revised Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Use the space below to revise the current answer&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RevisedContent</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>characterLimit</name>
                        <value>
                            <numberValue>131072.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableAdvancedTools</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Answer</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Revise_Current_Version</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_Comparison</name>
            <fieldText>Answer Comparison</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Answer_Comparison_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxt</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); font-size: 20px; user-select: auto;&quot;&gt;Current Version&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!Response_Audit_Log.Revised_Version__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Answer_Comparison_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtPriorResponse</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(140, 140, 140);&quot;&gt;Prior Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Response_Audit_Log.Prior_Version__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Alternative_Answers_Section</name>
            <fieldText>Alternative Answers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Alternative_Answers_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtAA</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;{!fAATitle}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;{!tAANames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nAAcount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cur_Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate_ReviewComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Attention Lauren &amp;amp; Jo,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName} {!$User.LastName} has completed the Out-of-Cycle review for {!Cur_Response.Name}.  &lt;/span&gt;&lt;a href=&quot;{!response_url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Click here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to view the updated version.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>count of alternative questions</description>
        <name>nAAcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>count of Project Questions that were created after the Response was last edited</description>
        <name>nPQcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the names of the AA records that are related to the cur Response</description>
        <name>tAANames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>child response record as an &apos;alternate question&apos; in order to be published by the Content Team in order to update the parent response</description>
        <name>vChildResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
    <variables>
        <name>vMostRecentUse</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record variable for new Response Audit Log</description>
        <name>vNewRAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>vResponseUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
</Flow>
