utopia-project/force-app/main/default/flows/Content_Review_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>automatically approve the active approval request</description>
        <name>Approve_Approval_Request</name>
        <label>Approve Approval Request</label>
        <locationX>750</locationX>
        <locationY>1766</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objName</name>
            <value>
                <stringValue>avnio__Response__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign the AA Names to Text Var for display in screen</description>
        <name>Assign_AA_Name</name>
        <label>Assign AA Name</label>
        <locationX>1268</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fAALink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - Last Modified </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AA_Loop.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tAANames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AA_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the Count of Alternative Answers to the cur Response</description>
        <name>Assign_AltAnswer_Count</name>
        <label>Assign AltAnswer Count</label>
        <locationX>1074</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>nAAcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Alternative_Answers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Alternative_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Response_Values</name>
        <label>Assign Child Response Values</label>
        <locationX>592</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__ParentResponseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__StatusCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisedContent.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Response_Values_0</name>
        <label>Assign Child Response Values</label>
        <locationX>1044</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__ParentResponseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__StatusCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vChildResponse.avnio__Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Most_Recent_Use</name>
        <label>Assign Most Recent Use</label>
        <locationX>1287</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>vMostRecentUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMostRecentUse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PQ_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign common values to new Response Audit Log variable</description>
        <name>Assign_NewRAL_Common</name>
        <label>Assign NewRAL Common</label>
        <locationX>786</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRALVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Role_of_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewerRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>596</locationX>
        <locationY>1137</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisedContent.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reason_for_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign new Response Audit Log values</description>
        <name>Assign_NewRAL_Revisions_0</name>
        <label>Assign NewRAL Revisions</label>
        <locationX>1044</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Audit_Log.Prior_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Response_Values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the Count of Project Questions that have been created since the last edit date</description>
        <name>Assign_PQ_Count</name>
        <label>Assign PQ Count</label>
        <locationX>1034</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>nPQcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Project_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Project_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign values to update the response</description>
        <name>Assign_Response_Values</name>
        <label>Assign Response Values</label>
        <locationX>594</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Last_Edited_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Response_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Most_Recent_PQ</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Most Recent PQ</label>
        <locationX>1285</locationX>
        <locationY>668</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Project_Questions</collectionReference>
        <connector>
            <targetReference>PQ_Loop</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>check to see if there are any alternative answers</description>
        <name>Check_for_Alternative_Answers</name>
        <label>Check for Alternative Answers</label>
        <locationX>1068</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Response_Audit_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>AA_s_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative_Answers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Loop</targetReference>
            </connector>
            <label>AA&apos;s Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if there are any project questions that have been created since the Response last edit date</description>
        <name>Check_for_Project_Questions</name>
        <label>Check for Project Questions</label>
        <locationX>1135</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Authentication_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0</defaultConnectorLabel>
        <rules>
            <name>dec_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Most_Recent_PQ</targetReference>
            </connector>
            <label>1+</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if the user that&apos;s reviewing is the Reviewer on the Response record</description>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>766</locationX>
        <locationY>1297</locationY>
        <defaultConnector>
            <targetReference>Update_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cur_Response.Reviewer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCurUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Response</targetReference>
            </connector>
            <label>Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if revisions were made</description>
        <name>Review_Decision</name>
        <label>Review Decision</label>
        <locationX>776</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Assign_NewRAL_Revisions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>descRevised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revise_Current_Version</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NewRAL_Revisions</targetReference>
            </connector>
            <label>Revised</label>
        </rules>
    </decisions>
    <description>screen flow to guide the user through content review approval process
v3 - error handling and alternative questions
10.26 - updates for new publish/review process</description>
    <dynamicChoiceSets>
        <name>pcsReasonforChange</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Change__c</picklistField>
        <picklistObject>Response_Audit_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Alternative Answer Link</description>
        <name>fAALink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; + {!AA_Loop.Id}, {!AA_Loop.Name})</expression>
    </formulas>
    <formulas>
        <description>dynamic text for single or multiple alternative answers</description>
        <name>fAATitle</name>
        <dataType>String</dataType>
        <expression>IF({!nAAcount} &gt; 1
, &quot;This Response has &quot;+ TEXT({!nAAcount}) +&quot; Alternative Answers.  Please make sure to review these as well.&quot;
, &quot;This Response has 1 Alternative Answer.  Please make sure to review this as well.&quot;)</expression>
    </formulas>
    <formulas>
        <description>the name of the current Content Reviewer for display</description>
        <name>fContentReviewer</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Cur_Response.Review_Status__c},&quot;In Review - Owner&quot;),{!Cur_Response.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!Cur_Response.Owner:User.LastName},
   IF(ISPICKVAL({!Cur_Response.Review_Status__c},&quot;In Review - Content Team&quot;), {!Cur_Response.Reviewer__r.FirstName}&amp;&quot; &quot;&amp;{!Cur_Response.Reviewer__r.LastName},null)
)</expression>
    </formulas>
    <formulas>
        <description>casesafeid</description>
        <name>fCurUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>convert the date/time to date value for most recent use based on PQ</description>
        <name>fMostRecentUse</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!PQ_Loop.CreatedDate})</expression>
    </formulas>
    <formulas>
        <description>version number for the new response audit log</description>
        <name>fRALVersion</name>
        <dataType>Number</dataType>
        <expression>1+ {!Response_Audit_Log.Version_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fReviewerRole</name>
        <dataType>String</dataType>
        <expression>IF(CASESAFEID({!$User.Id}) = {!Cur_Response.OwnerId}, &quot;Content Owner&quot;, 
   IF(CASESAFEID({!$User.Id}) = {!Cur_Response.Reviewer__c}, &quot;Reviewer&quot;, {!$User.Title})
)</expression>
    </formulas>
    <formulas>
        <description>dynamic value for the new Response Audit Log Review Result field</description>
        <name>fReviewResult</name>
        <dataType>String</dataType>
        <expression>IF({!Revise_Current_Version} = &quot;Yes&quot;,&quot;Revised&quot;,&quot;No Change&quot;)</expression>
    </formulas>
    <interviewLabel>Content Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Review Approval Process</label>
    <loops>
        <description>loop the alternative answers in the flow</description>
        <name>AA_Loop</name>
        <label>AA Loop</label>
        <locationX>1074</locationX>
        <locationY>494</locationY>
        <collectionReference>Alternative_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AA_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Response_Audit_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop over the PQs in order to assign the most recent use date</description>
        <name>PQ_Loop</name>
        <label>PQ Loop</label>
        <locationX>1285</locationX>
        <locationY>845</locationY>
        <collectionReference>Project_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Most_Recent_Use</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Authentication_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create new Response Audit Log</description>
        <name>Create_Audit_Log</name>
        <label>Create Audit Log</label>
        <locationX>758</locationX>
        <locationY>1625</locationY>
        <connector>
            <targetReference>Approve_Approval_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vNewRAL</inputReference>
    </recordCreates>
    <recordCreates>
        <description>record to be published to library to update the answer on parent response</description>
        <name>Create_Child_Response</name>
        <label>Create Child Response</label>
        <locationX>949</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vChildResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get the alternative answers related to the Response</description>
        <name>Alternative_Answers</name>
        <label>Alternative Answers</label>
        <locationX>932</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AltAnswer_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__AlternativeAnswer__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the current Response record details</description>
        <name>Cur_Response</name>
        <label>Cur Response</label>
        <locationX>779</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alternative_Answers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Project_Questions</name>
        <label>Project Questions</label>
        <locationX>912</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PQ_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Cur_Response.Last_Edited_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__ProjectQuestion__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response_Audit_Log</name>
        <label>Response Audit Log</label>
        <locationX>778</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Questions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Audit_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the revised answer on the response record</description>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>764</locationX>
        <locationY>1477</locationY>
        <connector>
            <targetReference>Create_Audit_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vResponseUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Authentication_Screen</name>
        <label>Authentication Screen</label>
        <locationX>909</locationX>
        <locationY>853</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <fields>
            <name>avnioLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtAuthentication</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(33, 50, 93); font-size: 24px;&quot;&gt;This Response is currently in review.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(33, 50, 93); font-size: 24px;&quot;&gt;Please confirm that you are &lt;/span&gt;&lt;strong style=&quot;color: rgb(33, 50, 93); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;{!fContentReviewer}&lt;/strong&gt;&lt;span style=&quot;color: rgb(33, 50, 93); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt; or an approved delegate to review the Response.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Review Response</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>293</locationX>
        <locationY>881</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>789</locationX>
        <locationY>852</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NewRAL_Common</targetReference>
        </connector>
        <fields>
            <name>avnioLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtReviewDecision</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtContentDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); font-size: 20px;&quot;&gt;Question&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95); font-size: 20px;&quot;&gt;: {!Cur_Response.avnio__PrimaryQuestion__c}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(28, 49, 95);&quot;&gt;Last Edit Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95);&quot;&gt;: {!Cur_Response.Last_Edited_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(28, 49, 95);&quot;&gt;Times Used Since Last Edit&lt;/strong&gt;&lt;span style=&quot;color: rgb(28, 49, 95);&quot;&gt;: {!nPQcount}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 49, 95);&quot;&gt;Most Recent Use of Current Version&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 49, 95);&quot;&gt;: {!vMostRecentUse}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revise_Current_Version</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Revise Current Version?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Mark &apos;Yes&apos; if the Current Version requires revision&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Change</name>
                    <choiceReferences>pcsReasonforChange</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason(s) for Change</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Revise_Current_Version</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtRevision</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 20px;&quot;&gt;Revised Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Use the space below to revise the current answer&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RevisedContent</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>characterLimit</name>
                        <value>
                            <numberValue>131072.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableAdvancedTools</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Response_Audit_Log.Revised_Version__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Answer</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Revise_Current_Version</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_Comparison</name>
            <fieldText>Answer Comparison</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Answer_Comparison_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxt</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 49, 95); font-size: 20px; user-select: auto;&quot;&gt;Current Version&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!Response_Audit_Log.Revised_Version__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Answer_Comparison_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtPriorResponse</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(140, 140, 140);&quot;&gt;Prior Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Response_Audit_Log.Prior_Version__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Alternative_Answers_Section</name>
            <fieldText>Alternative Answers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Alternative_Answers_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtAA</name>
                    <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;{!fAATitle}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); user-select: auto;&quot;&gt;{!tAANames}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nAAcount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cur_Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>count of alternative questions</description>
        <name>nAAcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>count of Project Questions that were created after the Response was last edited</description>
        <name>nPQcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the names of the AA records that are related to the cur Response</description>
        <name>tAANames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>child response record var to be created and later published</description>
        <name>vChildResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
    <variables>
        <name>vMostRecentUse</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record variable for new Response Audit Log</description>
        <name>vNewRAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>vResponseUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
</Flow>
