utopia-project/force-app/main/default/flows/Content_Review_Flow_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Reject_Request</name>
        <label>Reject Request_Reject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Review_Status3</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Process_Fail</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>Get_Approval_Process_Instance.ProcessDefinitionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_for_Final_Approval</name>
        <label>Copy 1 of Submit for Final Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Primary_Reviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GPS_Knowledge_Approval_publish</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GPS_ResolveApprovalRequest</name>
        <label>GPS_ResolveApprovalRequest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_Failure</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Process_Fail2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>Get_Process_Instance_Work_Item.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reject_Request</name>
        <label>Reject Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Review_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Process_Fail2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>Get_Approval_Process_Instance.ProcessDefinitionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for 1st Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Process_Fail</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Primary_Reviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GPS_Knowledge_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Final_Approval</name>
        <label>Submit for Final Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_Status2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Process_Fail2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Primary_Reviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GPS_Knowledge_Approval_publish</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Final_Approval_2</name>
        <label>Submit for Final Approval 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_Status3</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Process_Fail2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>Secondary_Reviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GPS_Knowledge_Approval_publish	</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>zGPS_ResolveApprovalRequest</name>
        <label>GPS_ResolveApprovalRequest_Approve</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Review_Status4</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Approval_Process_Fail2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>Get_Process_Instance_Work_Item.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approver_ID</name>
        <label>Assign Approver ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Primary_Reviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPrimaryReviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_a_Secondary_Approver2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Id2</name>
        <label>Assign Approver Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Secondary_Reviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSecondaryReviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Final_Approval_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_ID_2</name>
        <label>Assign Approver ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Primary_Reviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSecondaryReviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_user_the_next_reviewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_ID_published</name>
        <label>Assign Approver ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Primary_Reviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPrimaryReviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_flow_user_the_next_reviewer3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_reviewer_published</name>
        <label>Assign Approver ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Primary_Reviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Secondary_Reviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_flow_user_the_next_reviewer3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Primary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status2</name>
        <label>Assign Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review By Secondary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status3</name>
        <label>Assign Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvarKnowledgeReview.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Secondary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Secondary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge_Review2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Status</name>
        <label>Assign Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge_Review2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RunningUser_IsContentManager</name>
        <label>Running User Is Content Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsRunningUserContentManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Review_Status</name>
        <label>Update Review Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvarKnowledgeReview.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Owner</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Review_Status3</name>
        <label>Update Review Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvarKnowledgeReview.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Primary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Review_Status4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Review_Status4</name>
        <label>Update Review Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Knowledge_Review</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>I_ve_Update_the_Review_Field</name>
        <choiceText>I&apos;ve updated the Content Source Field</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;ve Update the Review Field</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Approval_or_Rejection</name>
        <label>Approval or Rejection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reject_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_ResolveApprovalRequest</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Approval_or_Rejection</name>
        <label>Copy 1 of Approval or Rejection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Reject_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_ApproveorReject.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>zGPS_ResolveApprovalRequest</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Copy_1_of_Is_flow_user_the_curren_reviewer</name>
        <label>Copy 1 of Is flow user the curren reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_current_reviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordOwnerRunningUserOrHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRunningUserContentManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_for_Final_Approval</targetReference>
            </connector>
            <label>Copy 1 of Yes, current reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Status_of_Article2</name>
        <label>Status of Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_flow_user_the_next_reviewer8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Published</defaultConnectorLabel>
        <rules>
            <name>Draft2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarKAV.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_flow_user_the_next_reviewer7</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>flow_user_the_next_reviewer</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_next_reviewer2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordOwnerRunningUserOrHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRunningUserContentManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Final_Approval</targetReference>
            </connector>
            <label>Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Article_In_Approval_Process</name>
        <label>Is Article In Approval Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Status_of_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Process</defaultConnectorLabel>
        <rules>
            <name>Yes_in_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Approval_Process_Fail</targetReference>
            </connector>
            <label>Yes in process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_User_Manager</name>
        <label>Is Current User Manager?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Managers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Manager</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fTruncateManagerIdInLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunningUser_IsContentManager</targetReference>
            </connector>
            <label>Yes Manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_current_reviewer</name>
        <label>Is flow user the curren reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_current_reviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordOwnerRunningUserOrHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRunningUserContentManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Yes, current reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_next_reviewer3</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_next_reviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordOwnerRunningUserOrHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRunningUserContentManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Comments</targetReference>
            </connector>
            <label>Copy 1 of Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_next_reviewer5</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_next_reviewer6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRunningUserPrimaryReviewerorHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Knowledge_Review2</targetReference>
            </connector>
            <label>Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_next_reviewer6</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_next_reviewer4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRunningUserPrimaryReviewerorHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_or_Reject_Display</targetReference>
            </connector>
            <label>Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_next_reviewer7</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Not_Assigned_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_next_reviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRunningUserSecondaryReviewer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_or_Reject_Display2</targetReference>
            </connector>
            <label>Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prevents users who aren&apos;t the assigned as the reviewer from proceeding</description>
        <name>Is_flow_user_the_next_reviewer8</name>
        <label>Is flow user the next reviewer?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Review_Status4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_next_reviewer8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsRunningUserPrimaryReviewerorHigher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Status4</targetReference>
            </connector>
            <label>Yes, next reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there is a primary approver. If there isn&apos;t a primary reviewer than all responsibilities get sent to secondary approver which is why we need to check.</description>
        <name>Is_Primary_Approver_Id_Blank</name>
        <label>Is Primary Approver Id Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Approver_ID_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No primary approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryReviewer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_ID</targetReference>
            </connector>
            <label>Yes Primary Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_secondary_approver</name>
        <label>Is there a secondary approver?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondaryReviewer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_Id2</targetReference>
            </connector>
            <label>Yes Secondary Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Secondary_Approver2</name>
        <label>Is There a Secondary Approver?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_flow_user_the_curren_reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No secondary reviewer</defaultConnectorLabel>
        <rules>
            <name>Yes_secondary_approv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondaryReviewer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_flow_user_the_current_reviewer</targetReference>
            </connector>
            <label>Yes, secondary approver</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines if we have to resolve an approval before moving forward</description>
        <name>Is_there_an_active_approval</name>
        <label>Is there an active approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_secondary_approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existing approval</defaultConnectorLabel>
        <rules>
            <name>Yes_existing_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Process_Instance.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_flow_user_the_next_reviewer6</targetReference>
            </connector>
            <label>Yes existing approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there is a primary approver. If there isn&apos;t a primary reviewer than all responsibilities get sent to secondary approver which is why we need to check.</description>
        <name>Primary_Approver_Id_Blank_published</name>
        <label>Primary Approver Id Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Secondary_reviewer_published</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No primary approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Approver_publish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryReviewer</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_ID_published</targetReference>
            </connector>
            <label>Yes Primary Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Failure</name>
        <label>Process Failure?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_secondary_approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPS_ResolveApprovalRequest.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_Message</targetReference>
            </connector>
            <label>Yes Failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_of_Article</name>
        <label>Status of Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Primary_Approver_Id_Blank_published</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Published</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarKAV.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Approver_Id_Blank</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_of_Article1</name>
        <label>Status of Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_flow_user_the_next_reviewer5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Published</defaultConnectorLabel>
        <rules>
            <name>Draft1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarKAV.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_an_active_approval</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see what status the knowledge review is in</description>
        <name>StatusofReview</name>
        <label>Status of Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Display_No_Review_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>In_ReviewBy_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Article_In_Approval_Process</targetReference>
            </connector>
            <label>In Review by Owner</label>
        </rules>
        <rules>
            <name>In_Primary_Reviewer_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Primary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_of_Article1</targetReference>
            </connector>
            <label>In Primary Reviewer Review</label>
        </rules>
        <rules>
            <name>In_Review_by_Secondary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Secondary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Status_of_Article2</targetReference>
            </connector>
            <label>In Review by Secondary Reviewer</label>
        </rules>
    </decisions>
    <description>Second iteration of the content review flow that is based off draft knowledge articles
1/13/2025 - updates to check for secondary reviewer</description>
    <environments>Default</environments>
    <formulas>
        <name>fDynamicURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Knowledge__kav/&apos; &amp; {!recordId} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <description>Truncates manager Id to 15 characters so it can be compared to running user id</description>
        <name>fTruncateManagerIdInLoop</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!Loop_Managers.UserOrGroupId}, 15) = {!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Somehow the Running User Id truncates the User ID from 18 characters to 15. This formula compares the first 15 of Running User and Reviewer User ids</description>
        <name>IsRecordOwnerRunningUserOrHigher</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 {!IsRunningUserContentManager} = TRUE,
  LEFT({!varPrimaryReviewer}, 15) = LEFT({!$User.Id}, 15),
  LEFT({!varSecondaryReviewer}, 15) = LEFT({!$User.Id}, 15),
  LEFT({!varRecordOwner}, 15) = LEFT({!$User.Id}, 15)
)</expression>
    </formulas>
    <formulas>
        <description>Checks to see if running user is primary reviewer or higher</description>
        <name>IsRunningUserPrimaryReviewerorHigher</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 {!IsRunningUserContentManager} = TRUE,
  LEFT({!varPrimaryReviewer}, 15) = LEFT({!$User.Id}, 15),
  LEFT({!varSecondaryReviewer}, 15) = LEFT({!$User.Id}, 15)
)</expression>
    </formulas>
    <formulas>
        <name>IsRunningUserSecondaryReviewer</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 {!IsRunningUserContentManager} = TRUE,
  LEFT({!varRecordOwner}, 15) = LEFT({!$User.Id}, 15)
)</expression>
    </formulas>
    <interviewLabel>Content Review Flow v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Review Flow v2</label>
    <loops>
        <description>stores manager IDs in a single variable</description>
        <name>Loop_Managers</name>
        <label>Loop Managers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Content_Managers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_User_Manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_Checklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>gets all content manager ids from Utopia_Content_Managers so they can be stored and used to execute review process</description>
        <name>Get_All_Content_Managers</name>
        <label>Get All Content Managers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varManagerPublicGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance_Work_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessDefinitionId</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Content managers should be able to execute all areas of the review cycle regardless of if they are a primary or secondary reviewer. A public group gets the IDs of all managers and the flow will check if the running user is a running manager. If they are then the flow will allow them to proceed with any review</description>
        <name>Get_Content_Manager_Public_Group</name>
        <label>Get Content Manager Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Content_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utopia_Content_Managers</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varManagerPublicGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the knowledge article related to this review</description>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Knowledge_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>rvarKAV</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PublishStatus</queriedFields>
        <queriedFields>ValidationStatus</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets knowledge review on DRAFT articles</description>
        <name>Get_Knowledge_Review</name>
        <label>Get Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <object>gps_KnowledgeReview__c</object>
        <outputAssignments>
            <assignToReference>ReviewId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryReviewer</assignToReference>
            <field>Primary_Reviewer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordOwner</assignToReference>
            <field>Record_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryReviewer</assignToReference>
            <field>Secondary_Reviewer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ValidationStatus</assignToReference>
            <field>Validation_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Work_Item</name>
        <label>Get Process Instance Work Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Manager_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Knowledge_Review</name>
        <label>Update Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comments_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validation_Status__c</field>
            <value>
                <elementReference>ValidationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>gps_KnowledgeReview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Knowledge_Review</name>
        <label>Update Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comments_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Review_Comments__c</field>
            <value>
                <elementReference>Review_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Status__c</field>
            <value>
                <elementReference>ValidationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>gps_KnowledgeReview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Knowledge_Review2</name>
        <label>Update Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comments_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validation_Status__c</field>
            <value>
                <elementReference>ValidationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>gps_KnowledgeReview__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approval_Process_Fail</name>
        <label>Approval Process Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Error: This record failed to enter the content approval process. Please check to make sure this record is not already in an active approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approval_Process_Fail2</name>
        <label>Approval Process Fail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;Error: This record failed to enter the content approval process. Please check to make sure this record is not already in an active approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approve_or_Reject_Display</name>
        <label>Approve or Reject Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_or_Rejection</targetReference>
        </connector>
        <fields>
            <name>approvereject</name>
            <fieldText>&lt;p&gt;Please approve or reject request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApproveorRejectButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Reject&quot;,&quot;value&quot;:&quot;Reject&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Approve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve Request?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ApprovalValue</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approve_or_Reject_Display2</name>
        <label>Approve or Reject Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Approval_or_Rejection</targetReference>
        </connector>
        <fields>
            <name>displayapproveorrejct</name>
            <fieldText>&lt;p&gt;Please approve or reject request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_ApproveorReject</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Reject&quot;,&quot;value&quot;:&quot;Reject&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve or Reject Review</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Comments_Screen</name>
        <label>Comments Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InitialReviewComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Review Complete!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!fDynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; to navigate to your review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Not_Assigned_User</name>
        <label>Copy 1 of Not Assigned User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DisplayNotUserMessage</name>
            <fieldText>&lt;p&gt;You are not assigned as the current reviewer of this record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_No_Review_Message</name>
        <label>Display No Review Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotInReviewDisplay</name>
            <fieldText>&lt;p&gt;This review is not currently active. Please reach out to Nicole Peters with questions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Comments</name>
        <label>Enter Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Knowledge_Review</targetReference>
        </connector>
        <fields>
            <name>CommentsWarning</name>
            <fieldText>&lt;p&gt;Review comments are limited to 255 characters. For longer comments, use the (OG) chatter feature &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Comments</name>
            <dataType>String</dataType>
            <fieldText>Review Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Message</name>
        <label>Failure Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;Approval process failed please retry flow and contact Nicole Peters&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Assigned_User</name>
        <label>Not Assigned User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayNotUserMessage</name>
            <fieldText>&lt;p&gt;You are not assigned as the current reviewer of this record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Checklist</name>
        <label>Review Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StatusofReview</targetReference>
        </connector>
        <fields>
            <name>review_checklist_response</name>
            <choiceReferences>I_ve_Update_the_Review_Field</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Before completing your review make sure you&apos;ve:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>checks to see if running user a content manager so they can execute any aspect of the review</description>
        <name>IsRunningUserContentManager</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Primary_Reviewer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the article that the review is being conducted on</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>knowledge article version record</description>
        <name>rvarKAV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>rvarKnowledgeArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__ka</objectType>
    </variables>
    <variables>
        <name>rvarKnowledgeReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>Secondary_Reviewer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>picklist of Knowledge Review Validations</description>
        <name>ValidationStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores Ids for Content managers like Denise and Antonio</description>
        <name>varContentManagerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Utopia_Content_Managers group id used to query for members of the group</description>
        <name>varManagerPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores primary reviewer from the knowledge review record</description>
        <name>varPrimaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>record owner</description>
        <name>varRecordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the secondary reviewer from the knowledge review record</description>
        <name>varSecondaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
