utopia-project/force-app/main/default/flows/createOverrideCommittee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignAE</name>
        <label>assignAE</label>
        <locationX>477</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberAE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAVP</name>
        <label>assignAVP</label>
        <locationX>474</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.Account_AVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AVP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberAVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCommitteeMembers</name>
        <label>assignCommitteeMembers</label>
        <locationX>1464</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_Member_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMember</name>
        <label>assignMember</label>
        <locationX>1464</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberAE</name>
        <label>assignNewMemberAE</label>
        <locationX>779</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberAVP</name>
        <label>assignNewMemberAVP</label>
        <locationX>779</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberRVP</name>
        <label>assignNewMemberRVP</label>
        <locationX>776</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberSE</name>
        <label>assignNewMemberSE</label>
        <locationX>777</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSEMgr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberSEMgr</name>
        <label>assignNewMemberSEMgr</label>
        <locationX>772</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCommitteeMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRVP</name>
        <label>assignRVP</label>
        <locationX>478</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.Account_RVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RVP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberRVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSE</name>
        <label>assignSE</label>
        <locationX>483</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.SE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSEMgr</name>
        <label>assignSEMgr</label>
        <locationX>476</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.SE_Manager_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE MGR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberSEMgr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>For Public Sector and EDU = 150 minimum
For NGO = 70 minimum</description>
        <name>descision_ScoreBelowThreshold</name>
        <label>descision_ScoreBelowThreshold</label>
        <locationX>768</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Threshold Exceeded</defaultConnectorLabel>
        <rules>
            <name>belowThreshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAE</targetReference>
            </connector>
            <label>belowThreshold</label>
        </rules>
        <rules>
            <name>aboveThreshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>aboveThreshold</label>
        </rules>
    </decisions>
    <description>This auto-launched flow will take a projectId as input. 

If no ID is passed it will END.

If project doesn&apos;t meet required threshold.   It will END.
 
It will then grab the Sales Team AE, RVP, AVP, SE and SE Mgr from the project record AND grab the GNG committee from the GNG committee record then stage the data in the override request object for the justification.</description>
    <environments>Default</environments>
    <interviewLabel>createOverrideCommittee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Request Sales Team Justification</label>
    <loops>
        <name>committeeMembers</name>
        <label>committeeMembers</label>
        <locationX>1198</locationX>
        <locationY>982</locationY>
        <collectionReference>getCommitteeMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCommitteeMembers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createSalesTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSalesTeam</name>
        <label>createSalesTeam</label>
        <locationX>1200</locationX>
        <locationY>1190</locationY>
        <inputReference>AllGNGCommitteeMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <description>gets all &quot;Active&quot; rows from GNG Committee Object</description>
        <name>getCommitteeMembers</name>
        <label>getCommitteeMembers</label>
        <locationX>1009</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GNG_Committee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProjectId</name>
        <label>getProjectId</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>descision_ScoreBelowThreshold</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND ( (3 AND 4) OR (5 AND 6) OR (7 AND 8) )</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GNG Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public Sector</stringValue>
            </value>
        </filters>
        <filters>
            <field>GNG_score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NGO</stringValue>
            </value>
        </filters>
        <filters>
            <field>GNG_score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDU</stringValue>
            </value>
        </filters>
        <filters>
            <field>GNG_score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getProjectId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllGNGCommitteeMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
    <variables>
        <name>OverrideCommitteeMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
