utopia-project/force-app/main/default/flows/Deep_Clone_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deep_Clone_with_Related_list</name>
        <label>Deep Clone with Related list</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Cloned_Response</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>avnio__Response__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>avnio__Response__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>avnio__ResponseCategory__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>avnio__ResponseTag__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>avnio__ResponseQuestion__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>avnio__AlternativeAnswer__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>avnio__ResponseQuestion__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>childRelationshipsCSV</name>
            <value>
                <stringValue>avnio__ResponseCategories__r,avnio__ResponseTags__r,avnio__ResponseQuestions__r,avnio__AlternativeAnswers__r</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Cloned_Project</name>
        <label>Redirect to Cloned Project</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Deep_Clone_with_Related_list.clonedRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Confirmation_Check</name>
        <label>Confirmation Check?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deep_Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_want_to_clone_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deep_Clone_with_Related_list</targetReference>
            </connector>
            <label>Deep Clone?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Deep Clone Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deep Clone Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alternative_Answer</name>
        <label>Create Alternative Answer</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Deep_Clone_with_Related_list.clonedRelatedList4</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Alternative_Question</name>
        <label>Create Alternative Question</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Alternative_Answer</targetReference>
        </connector>
        <inputReference>Deep_Clone_with_Related_list.clonedRelatedList3</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Category</name>
        <label>Create Response Category</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Response_Tag</targetReference>
        </connector>
        <inputReference>Deep_Clone_with_Related_list.clonedRelatedList1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Tag</name>
        <label>Create Response Tag</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Alternative_Question</targetReference>
        </connector>
        <inputReference>Deep_Clone_with_Related_list.clonedRelatedList2</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Cloned_Response</name>
        <label>Update Cloned Response</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Response_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deep_Clone_with_Related_list.clonedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSX_Integrated_Response__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__ActiveResponseVersionId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__FirstPublishedById__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__FirstPublishedDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__KnowledgeBaseAnswerId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__LastPublishedById__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__PreviousActiveResponseVersionId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__PreviousResponse__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avnio__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>avnio__Response__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Check</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_want_to_clone_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure want to clone Response?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Cloned_Project</targetReference>
        </connector>
        <fields>
            <name>Successmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Response is cloned successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Redirect to Cloned Response</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
