utopia-project/force-app/main/default/flows/deleteOverrideRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignProjectId</name>
        <label>assignProjectId</label>
        <locationX>534</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>deleteOverrideRequest</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>deleteOverrideRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>deleteOverrideRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteOverrideRequest</name>
        <label>deleteOverrideRequest</label>
        <locationX>656</locationX>
        <locationY>506</locationY>
        <inputReference>getprojectId</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getprojectId</name>
        <label>projectId</label>
        <locationX>656</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignProjectId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Override_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getprojectId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
