utopia-project/force-app/main/default/flows/GNG_Project_Documents_Complete_Change_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>GPS_Project_Record_Type</name>
        <label>GPS Project Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_GPS_Project_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125E000001gwa1QAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Documents_Complete_Change_Date</targetReference>
            </connector>
            <label>Yes GPS Project Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Documents_Complete_Change_Date</name>
        <dataType>Date</dataType>
        <expression>if( {!$Record.Documents_Complete__c}= True , NOW(), NULL )</expression>
    </formulas>
    <interviewLabel>GNG Project Documents Complete Change Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GNG Project Documents Complete Change Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GPS_Documents_Complete_Change_Date</name>
        <label>GPS Documents Complete Change Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Documents_Complete_Change_Date__c</field>
            <value>
                <elementReference>Documents_Complete_Change_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GPS_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Documents_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>avnio__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
