utopia-project/force-app/main/default/flows/Go_No_Go_RFP_Process_GPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the answers to the questions to a list of answers object</description>
        <name>Assign_Answer_to_Questions</name>
        <label>Assign Answer to Questions</label>
        <locationX>1876</locationX>
        <locationY>4220</locationY>
        <assignmentItems>
            <assignToReference>GNGAnswertoQuestionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GNG_Selected_Answers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreGNG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPSQuestionListing2.scoreGNG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GNG_Question_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_No_Override</name>
        <label>Assign Answers to No Override</label>
        <locationX>842</locationX>
        <locationY>5900</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-90.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_No_Override_0</name>
        <label>Assign Answers to No Override</label>
        <locationX>314</locationX>
        <locationY>5900</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-90.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Override_Answer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Override</name>
        <label>Assign Answers to Yes Override</label>
        <locationX>578</locationX>
        <locationY>5900</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yesOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Override_0</name>
        <label>Assign Answers to Yes Override</label>
        <locationX>50</locationX>
        <locationY>5900</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yesOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Override_Answer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Record</name>
        <label>Assign Answers to Record</label>
        <locationX>1876</locationX>
        <locationY>4112</locationY>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Comments2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Answer_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverAllGNGScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Sales_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Response_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Response_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Answer_to_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Item_Score</name>
        <label>Assign Current Item Score</label>
        <locationX>534</locationX>
        <locationY>5276</locationY>
        <assignmentItems>
            <assignToReference>seCurrentItemScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SE_Scores.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_SE_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the update answers to the questions to a list of answers object</description>
        <name>Assign_Updates_Answer_to_Questions</name>
        <label>Assign Updates Answer to Questions</label>
        <locationX>2228</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>GNGUpdateAnswertoQuestionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existingAnswerRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverAllGNGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scoreGNG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Answer_to_Questions_List</name>
        <label>Clear Answer to Questions List</label>
        <locationX>1524</locationX>
        <locationY>4628</locationY>
        <assignmentItems>
            <assignToReference>GNGAnswertoQuestionsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GNGAnswertoQuestionsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNGUpdateAnswertoQuestionsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GNGUpdateAnswertoQuestionsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Count</name>
        <label>Set AE Count</label>
        <locationX>556</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.of_AE_Questions__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_RFx_Type_AE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_with_Question_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the BOM on the project record for the RFx</description>
        <name>Set_Project_BOM</name>
        <label>Set Project BOM</label>
        <locationX>688</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plProductSelection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOM_on_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the project status to GNG IN Process</description>
        <name>Set_Project_Status</name>
        <label>Set Project Status</label>
        <locationX>556</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.GPS_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GNG In-Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_New_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the project status to GNG IN Process</description>
        <name>Set_Project_Status_0</name>
        <label>Set Project Status</label>
        <locationX>1282</locationX>
        <locationY>5168</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.GPS_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE GNG Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the query values needed to pull the correct questions</description>
        <name>Set_Question_Query_Variables</name>
        <label>Set Question Query Variables</label>
        <locationX>1084</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rfxType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Oppty_Owner_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreGNG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.GNG_score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverAllGNGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.GNG_score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_New_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SE_Count</name>
        <label>Set SE Count</label>
        <locationX>820</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.of_SE_Questions__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_RFx_Type_SE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Project_with_Question_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Answer_Collection_to_Looper</name>
        <label>Set the Answer Collection to Looper</label>
        <locationX>1876</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Answer_Looper</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Answer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Role</name>
        <label>Set User Role</label>
        <locationX>688</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>userRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rbSPRoleAccountExec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the User Role based on user Input</description>
        <name>Set_User_Role_from_Input</name>
        <label>Set User Role from Input</label>
        <locationX>952</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>userRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rbRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_SE_Score</name>
        <label>Total SE Score</label>
        <locationX>534</locationX>
        <locationY>5384</locationY>
        <assignmentItems>
            <assignToReference>seTotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>seCurrentItemScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SE_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Answers_to_Record</name>
        <label>Update Answers to Record</label>
        <locationX>2228</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Comments2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Answer_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Answers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingAnswerRecord.Response_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Response_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updates_Answer_to_Questions</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Account Executive Role</description>
        <name>rbSPRoleAccountExec</name>
        <choiceText>Account Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Executive</stringValue>
        </value>
    </choices>
    <choices>
        <description>Solution Engineer role</description>
        <name>rbSPRoleSolutionEng</name>
        <choiceText>Solution Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution Engineer</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Due to bug with query on multiselect, filter on the RFx Type here</description>
        <name>Filter_RFx_Type_AE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter RFx Type - AE</label>
        <locationX>556</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>currentItem_Filter_RFx_Type_AE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Count_of_Questions_AE</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_RFx_Type_AE.RFx_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rfxType</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_AE_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Due to bug with query on multiselect, filter on the RFx Type here</description>
        <name>Filter_RFx_Type_SE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter RFx Type - SE</label>
        <locationX>820</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>currentItem_Filter_RFx_Type_AE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Count_of_Questions_SE</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_RFx_Type_AE.RFx_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rfxType</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_SE_Count</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>noOverrideAnswerText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No, we have a solution that meets some of the functional, technical, and security requirements, but there are many gaps that can’t be closed or will require too much customization.</stringValue>
        </value>
    </constants>
    <constants>
        <name>overrideQuestionText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Based on a Salesforce Solutions Engineer review, are the requirements a good fit for Salesforce? SE to complete SE Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>yesOverrideAnswerText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, we have a solution that can meet the functional, technical, and security requirements. Any functional gaps can be met with AppExchange apps or minimum custom development.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Existing_Answers</name>
        <label>Check for Existing Answers</label>
        <locationX>1876</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_List_of_Existing_Answers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Answer_Looper</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Record</targetReference>
            </connector>
            <label>No List of Existing Answers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we need to update an existing answer</description>
        <name>Check_if_Existing_Answer</name>
        <label>Check if Existing Answer</label>
        <locationX>2360</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Existing_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Answers_to_Record</targetReference>
            </connector>
            <label>Existing Answer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we need to update an existing answer</description>
        <name>Check_if_Existing_Answer_0</name>
        <label>Check if Existing Answer</label>
        <locationX>446</locationX>
        <locationY>5684</locationY>
        <defaultConnector>
            <targetReference>Overall_Score_Override_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Answer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Override_Answer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overall_Score_Override_Decision_0</targetReference>
            </connector>
            <label>Existing Answer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check project status</description>
        <name>Check_Project_Status</name>
        <label>Check Project Status</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Question_Query_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Status</targetReference>
            </connector>
            <label>Is Draft</label>
        </rules>
        <rules>
            <name>GNG_Locked_Out</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Rationale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Committee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Ready to Assign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GNG_Process_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GNG_Locked_Out_Screen</targetReference>
            </connector>
            <label>GNG Locked Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Check</name>
        <label>Final Check</label>
        <locationX>2140</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Answer_for_Question</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_GNG_Question_Answers</targetReference>
            </connector>
            <label>Found Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>GNG_Complete</name>
        <label>GNG Complete?</label>
        <locationX>1194</locationX>
        <locationY>5060</locationY>
        <defaultConnector>
            <targetReference>Set_Project_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You</targetReference>
            </connector>
            <label>Yes, Complete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the project object to see if we set the number of GNG questions</description>
        <name>Is_of_GNG_Questions_Set</name>
        <label>Is # of GNG Questions Set</label>
        <locationX>820</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Is_this_an_SE_Sales_Role1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_AE_Questions_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.of_AE_Questions__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleAccountExec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count_of_Questions_AE</targetReference>
            </connector>
            <label>No AE Questions Set</label>
        </rules>
        <rules>
            <name>No_SE_Questions_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.of_SE_Questions__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count_of_Questions_SE</targetReference>
            </connector>
            <label>No SE Questions Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we were called from the creation of a NEW project</description>
        <name>Is_this_a_New_Project</name>
        <label>Is this a New Project</label>
        <locationX>820</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Person_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_SE_Sales_Role1</name>
        <label>Is this an SE Sales Role</label>
        <locationX>820</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Get_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_an_SE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOM</targetReference>
            </connector>
            <label>Is an SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_SE_Sales_Role2</name>
        <label>Is this an SE Sales Role</label>
        <locationX>820</locationX>
        <locationY>4952</locationY>
        <defaultConnector>
            <targetReference>GNG_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_an_SE2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SE_Scores</targetReference>
            </connector>
            <label>Is an SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Score_Override_Decision</name>
        <label>Overall Score Override Decision</label>
        <locationX>710</locationX>
        <locationY>5792</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_No_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GNG Score Below 40</defaultConnectorLabel>
        <rules>
            <name>GNG_Score_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seTotalScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Override</targetReference>
            </connector>
            <label>GNG Score &gt;= 40</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Score_Override_Decision_0</name>
        <label>Overall Score Override Decision</label>
        <locationX>182</locationX>
        <locationY>5792</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_No_Override_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GNG Score Below 40</defaultConnectorLabel>
        <rules>
            <name>GNG_Score_40_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seTotalScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Override_0</targetReference>
            </connector>
            <label>GNG Score &gt;= 40</label>
        </rules>
    </decisions>
    <description>5/10/24 - latest version testing RFPGPSQuestionListing2.cmp - creates new answers/comments, consistently pulls previous answers, updates existing answers without duplication - JB</description>
    <dynamicChoiceSets>
        <description>list of products</description>
        <name>productList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Type__c</picklistField>
        <picklistObject>avnio__Project__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fGnGQuestion</name>
        <dataType>String</dataType>
        <expression>{!Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c}</expression>
    </formulas>
    <formulas>
        <description>Determine the territory from the role</description>
        <name>findOpptyTerr</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!org62AccountRecord.Locked_Region_c__c},&quot;AMER&quot;), &quot;AMER&quot;, 
IF(NOT(CONTAINS({!org62AccountRecord.Locked_Region_c__c},&quot;AMER&quot;)), &quot;APAC / EMEA&quot;, 
&quot;AMER&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>gngScoreFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Loop_GNG_Question_Answers.Score__c} != {!Loop_Existing_Answers.Score__c}, {!Loop_GNG_Question_Answers.Score__c},
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>overrideScoreFormulaMinus90</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Go / No Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Go / No Go RFP Process - GPS</label>
    <loops>
        <description>Looks the list of existing answers to see if we need to update an answer vs create a new answer</description>
        <name>Loop_Existing_Answers</name>
        <label>Loop Existing Answers</label>
        <locationX>2140</locationX>
        <locationY>3062</locationY>
        <collectionReference>Get_Existing_Answer_Looper</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Existing_Answer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Answer_for_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop answers from questions component</description>
        <name>Loop_GNG_Question_Answers</name>
        <label>Loop GNG Question Answers</label>
        <locationX>1524</locationX>
        <locationY>2738</locationY>
        <collectionReference>GPSQuestionListing2.currentAnswers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_the_Answer_Collection_to_Looper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_SE_Scores</name>
        <label>Loop through SE Scores</label>
        <locationX>446</locationX>
        <locationY>5168</locationY>
        <collectionReference>Get_SE_Scores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Item_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Override_Answer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Categories</name>
        <label>Loop Thru Categories</label>
        <locationX>820</locationX>
        <locationY>2522</locationY>
        <collectionReference>Get_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Go_No_Go_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_this_an_SE_Sales_Role2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Answer_Records</name>
        <label>Create Answer Records</label>
        <locationX>1524</locationX>
        <locationY>4520</locationY>
        <connector>
            <targetReference>Clear_Answer_to_Questions_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scError</targetReference>
        </faultConnector>
        <inputReference>GNGAnswertoQuestionsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Answer_Records_0</name>
        <label>Create Answer Records</label>
        <locationX>446</locationX>
        <locationY>6284</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputReference>overrideAnswerRecordCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Answer_for_Question</name>
        <label>Get Answer for Question</label>
        <locationX>2140</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Sales_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Pursuit_Question_Bank__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFP_Pursuit_Answers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the list of Categories</description>
        <name>Get_Categories</name>
        <label>Get Categories</label>
        <locationX>820</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Categories</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public Sector</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank_Category__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Count_of_Questions_AE</name>
        <label>Get Count of Questions - AE</label>
        <locationX>556</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_RFx_Type_AE</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>findOpptyTerr</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deactivate_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Count_of_Questions_SE</name>
        <label>Get Count of Questions - SE</label>
        <locationX>820</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_RFx_Type_SE</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>findOpptyTerr</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deactivate_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get any existing answers</description>
        <name>Get_Existing_Answer</name>
        <label>Get Existing Answer</label>
        <locationX>820</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org62_Account_Locked_Region</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Pursuit_Question_Bank__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Sales_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org62_Account_Locked_Region</name>
        <label>Get Org62 Account Locked Region</label>
        <locationX>820</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_of_GNG_Questions_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Org62_Account__c</elementReference>
            </value>
        </filters>
        <object>q62_Account__x</object>
        <outputReference>org62AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Locked_Region_c__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get any existing answers</description>
        <name>Get_Override_Answer</name>
        <label>Get Override Answer</label>
        <locationX>446</locationX>
        <locationY>5576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Existing_Answer_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Pursuit_Question_Bank__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFP_Pursuit_Answers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SE_Scores</name>
        <label>Get SE Scores</label>
        <locationX>446</locationX>
        <locationY>5060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SE_Scores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Sales_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rbSPRoleSolutionEng</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Answers if Changed</description>
        <name>Update_Answers</name>
        <label>Update Answers</label>
        <locationX>1524</locationX>
        <locationY>4412</locationY>
        <connector>
            <targetReference>Create_Answer_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <inputReference>GNGUpdateAnswertoQuestionsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Answers if Changed</description>
        <name>Update_Answers_0</name>
        <label>Update Answers</label>
        <locationX>446</locationX>
        <locationY>6176</locationY>
        <connector>
            <targetReference>Create_Answer_Records_0</targetReference>
        </connector>
        <inputReference>overrideAnswerRecordUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BOM_on_Project</name>
        <label>Update BOM on Project</label>
        <locationX>688</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>plProductSelection</elementReference>
            </value>
        </inputAssignments>
        <object>avnio__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Status</name>
        <label>Update Project Status</label>
        <locationX>1282</locationX>
        <locationY>5276</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Question_Count</name>
        <label>Update Project with Question Count</label>
        <locationX>556</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Is_this_an_SE_Sales_Role1</targetReference>
        </connector>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>BOM</name>
        <label>BOM</label>
        <locationX>688</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Project_BOM</targetReference>
        </connector>
        <fields>
            <name>dtBOMprocessinstruct</name>
            <fieldText>&lt;p&gt;Complete the following required questions. Note, you can require and update questions several times before submitting them to the RFx Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtBOMtitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Bill of Materials (BOM)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtBOMinstruct</name>
            <fieldText>&lt;p&gt;Select the products that define the Bill of Materials (BOM) for this RFx&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>plProductSelection</name>
            <choiceReferences>productList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Project.Product_Type__c</elementReference>
            </defaultValue>
            <fieldText>Products for this Solution</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Sales_Person_Role</name>
        <label>Get Sales Person Role</label>
        <locationX>952</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_Role_from_Input</targetReference>
        </connector>
        <fields>
            <name>descGetSalesPersonRole</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select your role: ( {!rfxType} )&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>rbRole</name>
            <choiceReferences>rbSPRoleAccountExec</choiceReferences>
            <choiceReferences>rbSPRoleSolutionEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GNG_Locked_Out_Screen</name>
        <label>GNG Locked Out</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unavailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Go / No Go Questions are unavailable at this status.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Go_No_Go_Questions</name>
        <label>Go / No Go Questions</label>
        <locationX>1524</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_GNG_Question_Answers</targetReference>
        </connector>
        <fields>
            <name>dtWidgetInformation</name>
            <fieldText>&lt;p&gt;Complete the following required questions.  Note, you can require and update questions several times before submitting them to the RFx Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GPSQuestionListing2</name>
            <extensionName>c:RFPGPSQuestionListing2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scoreGNG</name>
                <value>
                    <elementReference>scoreGNG</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recrid</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesRole</name>
                <value>
                    <elementReference>userRole</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentAnswers</name>
                <value>
                    <elementReference>GPSQuestionListing2.currentAnswers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rfpquestioncategory</name>
                <value>
                    <elementReference>Loop_Thru_Categories.Category_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opptyTerritory</name>
                <value>
                    <elementReference>findOpptyTerr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rfxType</name>
                <value>
                    <elementReference>rfxType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedrfqanswers</name>
                <value>
                    <elementReference>Get_Existing_Answer</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save and Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scError</name>
        <label>Error</label>
        <locationX>1788</locationX>
        <locationY>4628</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Error Occurred&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please contact Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>820</locationX>
        <locationY>6476</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Go / No Go Questions for {!userRole} is Completed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SFDCCelebrationImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SFDCCelebration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>aeMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;The SE has been notified to complete their questions of the GNG&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>rbSPRoleAccountExec</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswerDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The value of the answer</description>
        <name>AnswerValue</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_RFx_Type_AE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Question_Bank__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Override_Answer_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_Updated_Questions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>existingAnswerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>For Looking ONLY</description>
        <name>Get_Existing_Answer_Looper</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>GNG_Selected_Answers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>The list of answers to create in the database</description>
        <name>GNGAnswertoQuestionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>GNGUpdateAnswertoQuestionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>InputSelectedScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IsNewProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NumberQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opptyTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>org62AccountLockedRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>org62AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>q62_Account__x</objectType>
    </variables>
    <variables>
        <name>outputAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>OverAllGNGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overrideAnswerRecordCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>overrideAnswerRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>The input record IR</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The type of RFx the GNG is set for</description>
        <name>rfxType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Score Tracking Value from LWC</description>
        <name>scoreGNG</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>seAnswersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>seAnswerUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <name>seCurrentItemScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>seTotalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedAnswerIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedAnswersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>this is the userRole executing the flow</description>
        <name>userRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
