utopia-project/force-app/main/default/flows/GPS_Request_Sales_Team_Justification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignAE</name>
        <label>assignAE</label>
        <locationX>652</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberAE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAVP</name>
        <label>assignAVP</label>
        <locationX>649</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.Account_RVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AVP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberAVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberAE</name>
        <label>assignNewMemberAE</label>
        <locationX>914</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberAVP</name>
        <label>assignNewMemberAVP</label>
        <locationX>910</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberRVP</name>
        <label>assignNewMemberRVP</label>
        <locationX>914</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberSE</name>
        <label>assignNewMemberSE</label>
        <locationX>909</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSEMgr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewMemberSEMgr</name>
        <label>assignNewMemberSEMgr</label>
        <locationX>910</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>AllGNGCommitteeMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OverrideCommitteeMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSalesTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRVP</name>
        <label>assignRVP</label>
        <locationX>650</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.Account_RVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RVP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberRVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSE</name>
        <label>assignSE</label>
        <locationX>649</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.SE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSEMgr</name>
        <label>assignSEMgr</label>
        <locationX>644</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectId.SE_Manager_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE MGR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideCommitteeMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewMemberSEMgr</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GPS Request Sales Team Justification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Request Sales Team Justification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSalesTeam</name>
        <label>createSalesTeam</label>
        <locationX>1196</locationX>
        <locationY>841</locationY>
        <inputReference>AllGNGCommitteeMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getProjectId</name>
        <label>getProjectId</label>
        <locationX>652</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignAE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GNG Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>526</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>getProjectId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllGNGCommitteeMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
    <variables>
        <name>OverrideCommitteeMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Request__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
