utopia-project/force-app/main/default/flows/GPS_Response_Find_Articles_for_Responses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action call an apex method to asynchronously answer the questions in selected bucket using the selected provider.</description>
        <name>Apex_Call_To_Answer_Questions</name>
        <label>Apex Call To Answer Questions</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <actionName>ProjectResponseBulkInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bucketId</name>
            <value>
                <elementReference>BucketId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalKnowledgeCategories</name>
            <value>
                <elementReference>knowledgeSelectedCategories</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>internalKnowledgeTopics</name>
            <value>
                <elementReference>knowledgeSelectedTopics</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseProvider</name>
            <value>
                <elementReference>KnowledgeSource</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipAnsweredQuestions</name>
            <value>
                <elementReference>Skip_previously_answered_questions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProjectResponseBulkInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>answererMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aswererSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Filters_Count</name>
        <label>Filters Count</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>knowledgeCategoriesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>knowledgeSelectedCategories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>knowledgeTopicsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>knowledgeSelectedTopics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Current_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the buckets</description>
        <name>Get_Bucket_Count</name>
        <label>Get Bucket Count</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>BucketCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Buckets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_Buckets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Both</name>
        <choiceText>Both Internal Knowledge and Salesforce Jarvis AI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Response_Buckets</name>
        <choiceText>Create Response Buckets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Response Buckets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Find_Responses_to_Questions</name>
        <choiceText>Find Responses to Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Find Responses to Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Knowledge</name>
        <choiceText>Internal Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal_Knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salesforce_Jarvis_AI</name>
        <choiceText>Salesforce Jarvis AI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce_Jarvis_AI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upload_Questions_to_Response_Buckets</name>
        <choiceText>Upload Questions to Response Buckets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload Questions to Response Buckets</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Do we have the buckets?</description>
        <name>Got_Buckets</name>
        <label>Got Buckets?</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Buckets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Buckets</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_buckets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BucketCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bucket_Selection</targetReference>
            </connector>
            <label>Yes we have buckets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Questions</name>
        <label>Got Questions?</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Answer_Provider_Selector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Questions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Questions_Found</targetReference>
            </connector>
            <label>No Questions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Knowledge_Selected</name>
        <label>Internal Knowledge Selected?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Confirm_Current_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>KnowledgeSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Internal_Knowledge</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KnowledgeSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Both</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Knowledge_Search_Filters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to bulk find answers to bucket questions</description>
    <dynamicChoiceSets>
        <name>BucketChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </filters>
        <object>Response_Bucket__c</object>
        <outputAssignments>
            <assignToReference>BucketId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IncrementQuestion</name>
        <dataType>Number</dataType>
        <expression>{!QuestionNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>GPS Response - Find Articles for Responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Response - Find Articles for Responses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the buckets</description>
        <name>Get_Buckets</name>
        <label>Get Buckets</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bucket_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Response_Bucket__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets questions (responses) for this project</description>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response_Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choose_Bucket</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GPS_Response__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Answer_Provider_Selector</name>
        <label>Answer Provider Selector</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Internal_Knowledge_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectAnswerProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Select answer provider﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>KnowledgeSource</name>
            <choiceReferences>Internal_Knowledge</choiceReferences>
            <choiceReferences>Salesforce_Jarvis_AI</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use the following provider to answer these questions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bucket_Selection</name>
        <label>Bucket Selection</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
        <fields>
            <name>choose_Bucket</name>
            <choiceReferences>BucketChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From which bucket should the questions be answered?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the selected parameters prior to process call.</description>
        <name>Confirm_Current_Selection</name>
        <label>Confirm Current Selection</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apex_Call_To_Answer_Questions</targetReference>
        </connector>
        <fields>
            <name>Answer_Question_Params</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Question Processing Confirmation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following parameters has been selected for questions processing:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Bucket:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!choose_Bucket}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Answers provider:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!KnowledgeSource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>knowledgeFilters</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Internal Knowledge Categories:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!knowledgeSelectedCategoriesLabelsString}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Internal Knowledge Topics:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!knowledgeSelectedTopicsLabelsString}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>knowledgeCategoriesCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>knowledgeTopicsCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>skipLabel</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Additional Options&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Skip_previously_answered_questions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Skip previously answered questions?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>confirmMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;If this selection is correct, please continue. Otherwise, go back and change your selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Knowledge_Search_Filters</name>
        <label>Knowledge Search Filters</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filters_Count</targetReference>
        </connector>
        <fields>
            <name>knowledgeFilterTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please, select Internal Knowledge search filters:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>utopiaSearchFilter</name>
            <extensionName>c:utopiaSearchFilter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>knowledgeSelectedCategories</assignToReference>
                <name>selectedCategories</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>knowledgeSelectedTopics</assignToReference>
                <name>selectedTopics</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>knowledgeSelectedCategoriesLabels</assignToReference>
                <name>selectedCategoriesLabels</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>knowledgeSelectedTopicsLabels</assignToReference>
                <name>selectedTopicsLabels</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>knowledgeSelectedCategoriesLabelsString</assignToReference>
                <name>selectedCategoriesLabelsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>knowledgeSelectedTopicsLabelsString</assignToReference>
                <name>selectedTopicsLabelsString</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>There are no buckets</description>
        <name>No_Buckets</name>
        <label>No Buckets</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBucketsMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You need to have at least one bucket to with questions to execute this process. Please complete this step first.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Questions_Found</name>
        <label>No Questions Found</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoResponseMessage</name>
            <fieldText>&lt;p&gt;Your project has no loaded questions.  You&apos;ll need to load questions in step 2 of the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_result</name>
        <label>Process result</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!answererMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>aswererSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!answererMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>aswererSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Buckets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Message returned from the answerer process.</description>
        <name>answererMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean returned by the answerer process.</description>
        <name>aswererSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BucketCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Selected Bucket Id</description>
        <name>BucketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>knowledgeCategoriesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Selected categories for Internal Knowledge Search</description>
        <name>knowledgeSelectedCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>knowledgeSelectedCategoriesLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To assign selected categories as a string of comma-separated values.</description>
        <name>knowledgeSelectedCategoriesLabelsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Internal Knowledge selected topics</description>
        <name>knowledgeSelectedTopics</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>knowledgeSelectedTopicsLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To assign selected topics as a string of comma-separated values.</description>
        <name>knowledgeSelectedTopicsLabelsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>knowledgeTopicsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The GPS Project Id</description>
        <name>ProejctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
