utopia-project/force-app/main/default/flows/GPS_Project_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>get the picklist values for Product Type on the Avnio Project object for better UX with dual column selection for multi-select picklist</description>
        <name>Get_Pickvals</name>
        <label>Get Pickvals</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <actionName>GetPicklistValuesBulkified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DSR_Project_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Product_Type__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>GPS_Project__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetPicklistValuesBulkified</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>cvPickvalString</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>link the file(s) from earlier in the flow to the Project</description>
        <name>Link_File_s_to_Project</name>
        <label>Link File(s) to Project</label>
        <locationX>512</locationX>
        <locationY>3176</locationY>
        <actionName>FileUploadImprovedHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Business_Unit_Go_No_Go_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>versIds</name>
            <value>
                <elementReference>FileUpload.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileUploadImprovedHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>dynamic navigation to the library search or home page</description>
        <name>Navigate_from_Flow</name>
        <label>Navigate from Flow</label>
        <locationX>512</locationX>
        <locationY>4316</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>getNewProject.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>dynamic navigation to the newly created Project record</description>
        <name>Navigate_to_Project_Record</name>
        <label>Navigate to Project Record</label>
        <locationX>578</locationX>
        <locationY>3716</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>getNewProject.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AE_Manager</name>
        <label>Assign AE Manager</label>
        <locationX>512</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.GPS_AE_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Utopia_AE_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_selected_SE_User_in_Utopia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AE_Manager_Variable</name>
        <label>Assign AE Manager Variable</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varOrg62AeManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_62_AE_Running_User.sf62user_manager_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_62_AE_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the dynamic error message requiring users to upload or link a file</description>
        <name>Assign_Error_Msg_File</name>
        <label>Assign Error Msg - No File</label>
        <locationX>864</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>vFileErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A file must be uploaded or linked to the Project.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the dynamic error message requiring users to upload or link a file</description>
        <name>Assign_Error_Msg_Link</name>
        <label>Assign Error Msg - Link</label>
        <locationX>600</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>vFileErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The URL entered is too long, it must be less than 256 characters.  As a reminder, you can only enter 1 URL in each URL Field.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign URLs to the new Project Record</description>
        <name>Assign_File_Links</name>
        <label>Assign File Links</label>
        <locationX>336</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.NDA_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NDALink.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.File_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoFileURLInstead.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NGO_SE_Value</name>
        <label>Assign NGO SE Value</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>seID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_NGO.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign entered values to the New Project var</description>
        <name>assign_Project_Values</name>
        <label>assign Project Values</label>
        <locationX>512</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.ProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Cloud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Blind_Ask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blind_Ask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSelectedProductTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Red_Flags_Current_Issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Red_Flags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.GPS_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>org62oppfromdatatable.ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.SE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Created_By_Intake_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.GPS_Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.GPS_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>org62oppfromdatatable.AccountId__r.ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.AE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Opp_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.OppId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>org62oppfromdatatable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Data.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Account_Locked_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.AccountId__r.Locked_Region_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Questions_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Questions_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_AmountConverted_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.AmountConverted_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.RFx_Procurement_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.RFP_Procurement_Phase_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Opportunity_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.CloseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Org62_Master_Carve__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Data.Master_Carve__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewProject.Oppty_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Data.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PubSec_SE_Value</name>
        <label>Assign PubSec SE Value</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>seID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_PubSec.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SE_Manager</name>
        <label>Assign SE Manager</label>
        <locationX>512</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>varNewProject.SE_Manager_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Utopia_SE_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SE_Manager_Variable</name>
        <label>Assign SE Manager Variable</label>
        <locationX>512</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varOrg62SeManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_62_SE_User.ManagerId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Org_62_SE_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Self_Service_Project</name>
        <label>Assign Values to Self Service Project</label>
        <locationX>50</locationX>
        <locationY>3824</locationY>
        <assignmentItems>
            <assignToReference>Get_Project_Post_GNG.GPS_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bid Ready to Assign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Project_Post_GNG.Self_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Self_Service_Project</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EDU</name>
        <choiceText>EDU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EDU</stringValue>
        </value>
    </choices>
    <choices>
        <name>NGO</name>
        <choiceText>NGO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NGO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pub_Sec</name>
        <choiceText>Public Sector / EDU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Sector</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI</name>
        <choiceText>RFI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFI</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP</name>
        <choiceText>RFP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFP</stringValue>
        </value>
    </choices>
    <constants>
        <description>for dynamic progress bar</description>
        <name>constantPath</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Org,Project Details,Opportunity Selection,DSR Selection,File Upload,Select Answers,Enter Comments,Summary,Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>GPSSecurityReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPS Security Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>SecurityReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPS Security Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Business_Unit_Go_No_Go_Required</name>
        <label>Business Unit Go No Go Required</label>
        <locationX>512</locationX>
        <locationY>3284</locationY>
        <defaultConnector>
            <targetReference>Navigate_from_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionNGO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NGO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NGO_Redirect_Message</targetReference>
            </connector>
            <label>NGO</label>
        </rules>
        <rules>
            <name>Pub_Sec_Final_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pub_Sec</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EDU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Get_Security_Review_Fields</targetReference>
            </connector>
            <label>PubSec</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if a file was uploaded or linked</description>
        <name>File_Check</name>
        <label>File Check</label>
        <locationX>512</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Msg_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No File</defaultConnectorLabel>
        <rules>
            <name>decFile_w_o_Link</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>fFileUploadIdLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Project</targetReference>
            </connector>
            <label>File w/o Link</label>
        </rules>
        <rules>
            <name>decFile_with_Link</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4) OR (1 AND 2 AND 3 AND 4) OR (2 AND 3 AND 4) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>fFileUploadIdLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxURL_Length_Exceeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_File_Links</targetReference>
            </connector>
            <label>File with Link</label>
        </rules>
        <rules>
            <name>Link_Too_Long</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>fxURL_Length_Exceeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoFileURLInstead.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NDALink.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Msg_Link</targetReference>
            </connector>
            <label>Link Too Long</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Org</name>
        <label>Sales Org?</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pub_Sec_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pub_Sec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PubSec_SE_Value</targetReference>
            </connector>
            <label>Pub Sec</label>
        </rules>
        <rules>
            <name>NGO_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NGO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NGO_SE_Value</targetReference>
            </connector>
            <label>NGO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Service_Check</name>
        <label>Self Service Check</label>
        <locationX>182</locationX>
        <locationY>3716</locationY>
        <defaultConnector>
            <targetReference>NGO_Supported_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Post_GNG.GNG_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project_Post_GNG.GPS_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>businessDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Blind_Ask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Organization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NGO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Self_Service_Project</targetReference>
            </connector>
            <label>Self Service</label>
        </rules>
    </decisions>
    <description>20250103 - passing locked region to the GPS GNG process in the OpptyTerritory field
20250701 - Updating AE Manager and SE Manager from Org62</description>
    <dynamicChoiceSets>
        <name>GetOrg62Opportunities</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>09 - Closed Published</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>08 - Closed</stringValue>
            </value>
        </filters>
        <object>q62_Opportunity__x</object>
        <outputAssignments>
            <assignToReference>org62opportunityexternalid</assignToReference>
            <field>ExternalId</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ExternalId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsBigBet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Big_Bet_Strategic_Account__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>pcs for Blind Ask field on Avnio Project</description>
        <name>pcsBlindAsk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blind_Ask__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>pcs for Existing Customer field on Avnio Project</description>
        <name>pcsExistingCustomer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Customer__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsRegionBusinessUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region_Business_Unit__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSalesOrganization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cloud__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>businessDaysFormula</name>
        <dataType>Date</dataType>
        <expression>IF(MOD( TODAY() - DATE(1900, 1, 6), 7) &gt; 1,
TODAY() + 7,
IF(MOD( TODAY() - DATE(1900, 1, 6), 7) = 1,
TODAY() + 5, TODAY() + 7
)
)</expression>
    </formulas>
    <formulas>
        <name>fBusinessDaysEvaluation</name>
        <dataType>Date</dataType>
        <expression>IF(MOD( TODAY() - DATE(1900, 1, 6), 7) &gt; 1,
TODAY() + 7,
IF(MOD( TODAY() - DATE(1900, 1, 6), 7) = 1,
TODAY() + 5, TODAY() + 7
)
)</expression>
    </formulas>
    <formulas>
        <description>check the length of the IDs from the file upload component to have dynamic error messaging for requirement of linked/uploaded file</description>
        <name>fFileUploadIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!FileUpload.contentDocumentIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fLockedRegion</name>
        <dataType>String</dataType>
        <expression>{!org62oppfromdatatable.AccountId__r.Locked_Region_c__c}</expression>
    </formulas>
    <formulas>
        <name>fNavigationURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://utopia-gps--utopiasbf.sandbox.lightning.force.com/getNewProject.Id&quot;</expression>
    </formulas>
    <formulas>
        <name>fProgressBar</name>
        <dataType>String</dataType>
        <expression>CASE({!Sales_Organization}, &quot;Salesforce.org&quot;, &quot;Step 1, Step 2, Step 3, Step 4&quot;,&quot;Step 1, Step 2, Step 3&quot;)</expression>
    </formulas>
    <formulas>
        <description>formula to standardize the naming of project records</description>
        <name>fProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Sales_Organization} &amp;&quot; - &quot;&amp; TEXT({!Due_Date}) &amp;&quot; - &quot;&amp; {!Type_of_Request} &amp;&quot; - &quot;&amp; {!org62oppfromdatatable.Name__c},100)</expression>
    </formulas>
    <formulas>
        <name>fQueueName</name>
        <dataType>String</dataType>
        <expression>&apos;Avnio Project Queue - &apos;+{!Sales_Organization}</expression>
    </formulas>
    <formulas>
        <description>checks if the user has the custom permission indicating they are an SE so that only SE users get stamped in the SE lookup</description>
        <name>fSEDetermination</name>
        <dataType>String</dataType>
        <expression>IF({!$Permission.RFP_SE},{!$User.Id},null)</expression>
    </formulas>
    <formulas>
        <description>replaces the commas in the string with semicolons to make it MSP friendly</description>
        <name>fSelectedProductTypes</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ProductTypeDualList.selectedOptionsCSV},&quot;,&quot;,&quot;;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fURLNotPopulated</name>
        <dataType>Boolean</dataType>
        <expression>IF({!NoFileURLInstead.value}=&quot;&quot;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <description>If Pub Sec, use the non-required version of the Red Flags field, otherwise use the required Red Flags field.</description>
        <name>fx_Red_Flags</name>
        <dataType>String</dataType>
        <expression>IF({!Sales_Organization} = {!Pub_Sec}, {!Red_Flags_Current_Issues_PS}, {!Red_Flags_Current_Issues})</expression>
    </formulas>
    <formulas>
        <name>fxAeManagerId</name>
        <dataType>String</dataType>
        <expression>&apos;x&apos; + {!varOrg62AeManager}</expression>
    </formulas>
    <formulas>
        <name>fxOrg62Email</name>
        <dataType>String</dataType>
        <expression>{!$User.Email} + &apos;.invalid&apos;</expression>
    </formulas>
    <formulas>
        <name>fxURL_Length_Exceeded</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(
LEN( {!NoFileURLInstead.value} ) &gt; 255,
LEN( {!NDALink.value} ) &gt; 255 ), 
True, False)</expression>
    </formulas>
    <formulas>
        <name>gpsRecordTypeFormula</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Hardcoded_Values__c.GPS_Record_Type_Id__c}</expression>
    </formulas>
    <interviewLabel>PC GPS Project Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Project Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create the Anvio Project record from the values entered</description>
        <name>create_Project</name>
        <label>create Project</label>
        <locationX>512</locationX>
        <locationY>2960</locationY>
        <connector>
            <targetReference>getNewProject</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varNewProject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>512</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Project_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Data.AccountId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_Account__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Data</name>
        <label>Get Opportunity Data</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_62_AE_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>org62oppfromdatatable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_Opportunity__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_62_AE_Manager</name>
        <label>Get Org 62 AE Manager</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Utopia_AE_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrg62AeManager</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_User__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_62_AE_Running_User</name>
        <label>Get Org 62 AE Running User</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AE_Manager_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_User__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_62_SE_Manager</name>
        <label>Get Org 62 SE Manager</label>
        <locationX>512</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Utopia_SE_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrg62SeManager</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_User__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_62_SE_User</name>
        <label>Get Org 62 SE User</label>
        <locationX>512</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SE_Manager_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_selected_SE_User_in_Utopia.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>q62_User__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Post_GNG</name>
        <label>Get Project Post GNG</label>
        <locationX>182</locationX>
        <locationY>3608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Self_Service_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_SE_User_in_Utopia</name>
        <label>Get selected SE User in Utopia</label>
        <locationX>512</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_62_SE_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>seID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utopia_AE_Manager</name>
        <label>Get Utopia AE Manager</label>
        <locationX>512</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AE_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_62_AE_Manager.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utopia_SE_Manager</name>
        <label>Get Utopia SE Manager</label>
        <locationX>512</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SE_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_62_SE_Manager.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the new project record for reference in the success screen</description>
        <name>getNewProject</name>
        <label>getNewProject</label>
        <locationX>512</locationX>
        <locationY>3068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_File_s_to_Project</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GPS_Get_Security_Review_Fields</name>
        <label>GPS Get Security Review Fields</label>
        <locationX>578</locationX>
        <locationY>3392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PubSec_Redirect_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPS_Global_Security_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Self_Service_Project</name>
        <label>Update Self Service Project</label>
        <locationX>50</locationX>
        <locationY>3932</locationY>
        <connector>
            <targetReference>NGO_Self_Service_Screen</targetReference>
        </connector>
        <inputReference>Get_Project_Post_GNG</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Project_Confirmation_Screen</name>
        <label>Create Project Confirmation Screen</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scSalesOrganization</targetReference>
        </connector>
        <fields>
            <name>dfdcLogo5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Intake_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>800</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GPS_Project_Record</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;If you would like to  request PubSec, EDU or NGO  RFx Support, please click Continue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>capture the details of the DSR and Project</description>
        <name>DSR_Project_Details</name>
        <label>DSR + Project Details</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Org</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>reminder_message</name>
            <fieldText>&lt;p&gt;Per &lt;a href=&quot;https://salesforce.quip.com/WpWTALgSUUYE#temp:C:Pbd39d34ca89f654c5283c899b81&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GPS Policy,&lt;/a&gt; it is mandatory to complete the RFx Request Process and GNG for all RFxs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Project Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Complete the following information related to your request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RFP_Details</name>
            <fieldText>RFx Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFP_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date on which the proposal needs to be submitted to the customer&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Type_of_Request</name>
                    <choiceReferences>RFP</choiceReferences>
                    <choiceReferences>RFI</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;RFP: Select this option if the customer is intending to make a purchase/acquire a service and/or product contract using the solicitation document they have released. This includes multiphase procurements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;RFI: select this option for all other types of RFx requests.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Questions_Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Questions Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFP_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SE_PubSec</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SE__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GPS_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pub_Sec</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SE_NGO</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SE__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GPS_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NGO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Red_Flags_Current_Issues_PS</name>
                    <fieldText>Red Flags/Current Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Provide information regarding any known red flags or current issues with this opportunity or account that could impact this request.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is a 5,000 character limit, please shorten your entry.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Red_Flags_Current_Issues_PS}) &lt; 5001</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Public Sector</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NGO_Section</name>
            <fieldText>NGO Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NGO_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blind_Ask</name>
                    <choiceReferences>pcsBlindAsk</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unanticipated RFx?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Formerly &quot;Blind Ask&quot;, &quot;Unanticipated RFP&quot; is used to indicate if we have had previous engagements with this customer and knew this RFP was being issued;&amp;nbsp;select NO. If this RFx is the first time you have communicated with the customer, select YES.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NGO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NGO_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Red_Flags_Current_Issues</name>
                    <fieldText>Red Flags/Current Issues</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide information regarding any known red flags or current issues with this opportunity or account that could impact this request.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;There is a 5,000 character limit, please shorten your entry.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Red_Flags_Current_Issues}) &lt; 5001</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Organization</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Public Sector</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Organization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NGO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxtProductSelection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Product Selection&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Select the products that will be included as part of the solution for this RFx. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;To select multiple products, hold &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;Ctrl &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;while clicking each item.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Accurate selection ensures proper qualification and evaluation of this project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Organization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NGO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductTypeDualList</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForData</name>
                <value>
                    <stringValue>value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products in Solution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>cvPickvalString</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Organization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NGO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>error handler</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1128</locationX>
        <locationY>3284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>512</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>File_Check</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_5</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;x&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Upload File(s)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 158, 219);&quot;&gt;Use the component below to upload all RFx documents issued by the customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtNoFileError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 14px;&quot;&gt;{!vFileErrorMsg}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoFileURLInstead</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>No file to upload? Post Link to URL below. Must start with http:// or https://</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(http|https)?:\/\/.*</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NDALink</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide a Link to the NDA (optional). Must start with http:// or https://</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(http|https)?:\/\/.*</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Organization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NGO</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>URL_Help</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;&lt;em&gt;Please Note&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;:&amp;nbsp;Only &lt;/em&gt;&lt;strong style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;&lt;em&gt;one link&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt; can be added into the URL fields.&amp;nbsp;Additional documents should be uploaded as files or added in the Chatter feed of the project record.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NoFileURLInstead.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NDALink.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NGO_Redirect_Message</name>
        <label>NGO Redirect Message</label>
        <locationX>182</locationX>
        <locationY>3392</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NGO_GNG_Question_Process</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_sfdcLogo5_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_dfpBar_7_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_dtxtSuccess2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;You&apos;ve successfully created Project {!getNewProject.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 45, 96); font-size: 16px;&quot;&gt;{!getNewProject.ProjectName__c}﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_RFPSupportedMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 3, 5); font-size: 22px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You will now be taken through the RFX Go No-Go Flow &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NGO_Self_Service_Screen</name>
        <label>NGO Self Service Screen</label>
        <locationX>50</locationX>
        <locationY>4040</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_from_Flow</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_sfdcLogo5_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_dfpBar_7_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_dtxtSuccess2_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;CAUTION: &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your RFx request may be self-service for the following reasons and the GPS RFx Program will not be providing RFx support: &lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It is an unanticipated RFx (no pre-positioning was done); and&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It has a due date of less than 5 business days; and&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It has a Go/No Go score of less than 150.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The recommendation is to no bid this opportunity. RFx metrics indicate that if the above criteria apply, then the win probability is low. If you proceed as self-service, then refer to the following &lt;/strong&gt;&lt;a href=&quot;https://salesforce.quip.com/ejGyAE9mbtUQ&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;guidelines.&amp;nbsp;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NGO_Supported_Screen</name>
        <label>NGO Supported Screen</label>
        <locationX>314</locationX>
        <locationY>3824</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_from_Flow</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_sfdcLogo5_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_dfpBar_7_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_dtxtSuccess2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Thank you for submitting your RFx request!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Go/No Go Questions for Account Executive are now complete.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If an SE has been identified, they have been notified to review and comment on the Go/No Go Scorecard.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection</name>
        <label>Opportunity Selection</label>
        <locationX>512</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Data</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Opportunity Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtTableInstructions_Opportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Select the Org62 Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 158, 219);&quot;&gt;Use the search component to locate and select the desired Opportunity&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Hang Tight! Thank you for your patience as the Opportunity search may take a few minutes to process.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 5, 5);&quot;&gt;NOTE: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(244, 5, 5);&quot;&gt;You may have to take out a portion of the Oppty name for the Oppty to appear in the selection below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtOppError</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;color: rgb(237, 28, 36); user-select: auto; font-size: 14px;&quot;&gt;{!vOppErrorMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOppErrorMsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Table</name>
            <extensionName>c:Org62OpportunityPagination</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>org62opportunityexternalid</assignToReference>
                <name>selectedopportunityexternalid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>org62oppfromdatatable</assignToReference>
                <name>selectedopportunityrecord</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Select Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PubSec_Redirect_Message</name>
        <label>PubSec Redirect Message</label>
        <locationX>578</locationX>
        <locationY>3500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GPS_GNG_Question_Process</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo5_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_7_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtSuccess2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;You&apos;ve successfully created Project {!getNewProject.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 45, 96); font-size: 16px;&quot;&gt;{!getNewProject.ProjectName__c}﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RFPSupportedMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 3, 5); font-size: 22px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You will now be taken through the RFX Go No-Go Flow &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>capture Sales Org</description>
        <name>scSalesOrganization</name>
        <label>Sales Organization</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pickvals</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Sales Org</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtInstructions_0</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); user-select: auto;&quot;&gt;Select the Sales Organization related to the Project&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scSalesOrganization_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scSalesOrganization_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scSalesOrganization_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Organization</name>
                    <choiceReferences>Pub_Sec</choiceReferences>
                    <choiceReferences>NGO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Organization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the sales organization for this account&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scSalesOrganization_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Project_Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GPS_GNG_Question_Process</name>
        <label>GPS GNG Question Process</label>
        <locationX>578</locationX>
        <locationY>3608</locationY>
        <connector>
            <targetReference>Navigate_to_Project_Record</targetReference>
        </connector>
        <flowName>GPS_RFP_Go_No_Go_Process</flowName>
        <inputAssignments>
            <name>IsNewProject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opptyTerritory</name>
            <value>
                <elementReference>Get_Opportunity_Data.AccountId__r.Locked_Region_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varNewProject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rfxType</name>
            <value>
                <elementReference>Type_of_Request</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>NGO_GNG_Question_Process</name>
        <label>NGO GNG Question Process</label>
        <locationX>182</locationX>
        <locationY>3500</locationY>
        <connector>
            <targetReference>Get_Project_Post_GNG</targetReference>
        </connector>
        <flowName>GPS_NGO_RFP_Bid_No_Bid_Questions</flowName>
        <inputAssignments>
            <name>isNewProject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Origin</name>
            <value>
                <stringValue>Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>getNewProject.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>apex defined variable to store the org62 opp column for table display</description>
        <name>avOrg62OppColumn</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>avOrg62OppColumnList</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection variable to store the RFP Answer for bulk creation</description>
        <name>cvarRFPAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answers__c</objectType>
    </variables>
    <variables>
        <description>collection variable to store the available product type picklist values</description>
        <name>cvPickvals</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvPickvalString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Security_Review_Assignment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Org62ColumnList</name>
        <apexClass>ColumnDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the Org62 DSR that was selected from the datatable</description>
        <name>org62DSRfromdatatable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>q62_Deal_Support_Request_c__x</objectType>
    </variables>
    <variables>
        <name>org62oppfromdatatable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>q62_Opportunity__x</objectType>
    </variables>
    <variables>
        <name>org62opportunityexternalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>seID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>to determine where the flow was launched from to dynamically provide a different UX</description>
        <name>varLaunchPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project__c</objectType>
    </variables>
    <variables>
        <name>varOrg62AeManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrg62SeManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dynamic error message for no file uploaded or linked</description>
        <name>vFileErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Error to Display if no Opps are selected from the table</description>
        <name>vOppErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the ID of the DSR that was selected in the datatable</description>
        <name>vSelectedDSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedSIO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelfServiceorRFPSupported</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
