utopia-project/force-app/main/default/flows/GPS_NGO_RFP_Bid_No_Bid_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>compare the existing answers vs. new answers so that duplicates are not created and removed records can be deleted</description>
        <name>Compare_Existing_vs_New</name>
        <label>Compare Existing vs. New</label>
        <locationX>1108</locationX>
        <locationY>1164</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Unique_Answer_Count</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Answer__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Question_Bank__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Answer__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Answer__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Question_Bank__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>RFP_Pursuit_Question_Bank__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>getExistingAnswers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>RFP_Pursuit_Question_Bank__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>RFPAnswerTable.selectedrfqanswers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GPS_Validate_LOE</name>
        <label>validate LOE</label>
        <locationX>851</locationX>
        <locationY>869</locationY>
        <actionName>GPS_RFP_ValidateLOEDetermination</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Answer_Validation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__rfpquestionbanklist</typeName>
            <typeValue>RFP_Pursuit_Question_Bank__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>buname</name>
            <value>
                <elementReference>get_Cur_Project.Cloud__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rfpquestionbanklist</name>
            <value>
                <elementReference>RFPAnswerTable.selectedrfqanswers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_RFP_ValidateLOEDetermination</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>- assign the number of answers that were added from the datatable
- no answers existed previously so the removed/unchanged counts remain at 0 and are not required for assignment</description>
        <name>Assign_New_Answer_Count</name>
        <label>Assign New Answer Count</label>
        <locationX>851</locationX>
        <locationY>1373</locationY>
        <assignmentItems>
            <assignToReference>n_NewAnswerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RFPAnswerTable.selectedrfqanswers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Answers_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the RFP Pursuit Answer Values</description>
        <name>assign_New_Answer_Values</name>
        <label>assign New Answer Values</label>
        <locationX>687</locationX>
        <locationY>2109</locationY>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Answers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Unique_Answer_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the individual RFP Question Banks to a collection variable for preselection in datatable</description>
        <name>assign_Question_Collection</name>
        <label>assign Question Collection</label>
        <locationX>1308</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>cvarExistingRFPQuestions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRFPQuestionBank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingAnswers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the question ids from the existing answers to a collection variable so that they appear pre-selected in the datatable</description>
        <name>assign_Question_Variable</name>
        <label>assign Question Variable</label>
        <locationX>1143</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>varRFPQuestionBank.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAnswers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Question_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Status</name>
        <label>assign Status</label>
        <locationX>1804</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>get_Updated_Project.GPS_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Triage In-Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the Answer record variable to a collection</description>
        <name>assign_Unique_Answer_Collection</name>
        <label>assign Unique Answer Collection</label>
        <locationX>1296</locationX>
        <locationY>1829</locationY>
        <assignmentItems>
            <assignToReference>cvarNewRFPAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewRFPAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_New_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the Answer record variable to a collection</description>
        <name>assign_Unique_Answer_Collection_0</name>
        <label>assign Unique Answer Collection</label>
        <locationX>654</locationX>
        <locationY>1809</locationY>
        <assignmentItems>
            <assignToReference>cvarNewRFPAnswers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewRFPAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the number of answers that were removed, added or left unchanged</description>
        <name>Assign_Unique_Answer_Count</name>
        <label>Assign Unique Answer Count</label>
        <locationX>1296</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>n_NewAnswerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Compare_Existing_vs_New.targetUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>n_DeselectedAnswerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Compare_Existing_vs_New.sourceUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>n_UnchangedAnswerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Compare_Existing_vs_New.sourceCommonRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Answers_Deselected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the RFP Pursuit Answer Values</description>
        <name>assign_Unique_New_Answer_Values</name>
        <label>assign Unique New Answer Values</label>
        <locationX>1295</locationX>
        <locationY>1672</locationY>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unique_New_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unique_New_Answers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewRFPAnswer.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unique_New_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Unique_Answer_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>srAccExec</name>
        <choiceText>Account Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>srSolEng</name>
        <choiceText>Solution Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution Engineer</stringValue>
        </value>
    </choices>
    <constants>
        <name>constantPath</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Org,Project Details,Opportunity Selection,DSR Selection,File Upload,Select Answers,Enter Comments,Summary,Complete</stringValue>
        </value>
    </constants>
    <decisions>
        <description>confirm that all category questions have been answered appropriately</description>
        <name>Answer_Validation</name>
        <label>Answer Validation</label>
        <locationX>843</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Answers_Already_Existed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete</defaultConnectorLabel>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isvalidLOE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incomplete_Screen</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to see if there where any RFP Pursuit Answers already associated to the Project</description>
        <name>Answers_Already_Existed</name>
        <label>Answers Already Existed</label>
        <locationX>841</locationX>
        <locationY>1168</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Answer_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Found_Existing_Answers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingAnswers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Existing_vs_New</targetReference>
            </connector>
            <label>Found Existing Answers</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see if any answers were deselections in the answers table</description>
        <name>Answers_Deselected</name>
        <label>Answers Deselected?</label>
        <locationX>1105</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>New_Answers_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Deselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>n_DeselectedAnswerCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Deselected_Answers</targetReference>
            </connector>
            <label>Deselected</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the flow errored due to character length</description>
        <name>Check_for_Character_Length_Error</name>
        <label>Check for Character Length Error</label>
        <locationX>419</locationX>
        <locationY>2454</locationY>
        <defaultConnector>
            <targetReference>Fault_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STRING_TOO_LONG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>STRING_TOO_LONG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_Length_Fault_Screen</targetReference>
            </connector>
            <label>STRING_TOO_LONG</label>
        </rules>
    </decisions>
    <decisions>
        <description>check to make sure that a comment has been added for each answer</description>
        <name>Check_for_Comments</name>
        <label>Check for Comments</label>
        <locationX>1384</locationX>
        <locationY>2121</locationY>
        <defaultConnector>
            <targetReference>get_Updated_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entered</defaultConnectorLabel>
        <rules>
            <name>decMissing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_Answers_w_o_Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srAccExec</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_RFP_Pursuit_Answers</targetReference>
            </connector>
            <label>Missing AE</label>
        </rules>
        <rules>
            <name>Missing_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SE_Answers_w_o_Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srSolEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_RFP_Pursuit_Answers_0</targetReference>
            </connector>
            <label>Missing SE</label>
        </rules>
    </decisions>
    <decisions>
        <description>check where the flow was initiated from to determine the screens shows</description>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>839</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>get_Cur_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecPage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecPage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Screen</targetReference>
            </connector>
            <label>RecPage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Status</name>
        <label>Check Project Status</label>
        <locationX>1782</locationX>
        <locationY>2512</locationY>
        <defaultConnector>
            <targetReference>assign_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Triage_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Updated_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Triage In-Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Role</targetReference>
            </connector>
            <label>Status is Triage In-Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>1419</locationX>
        <locationY>2481</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Project_AE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNewProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srAccExec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Answers_w_o_Comments</targetReference>
            </connector>
            <label>New Project/AE</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srSolEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SE_Answers_w_o_Comments</targetReference>
            </connector>
            <label>SE</label>
        </rules>
    </decisions>
    <decisions>
        <description>.Org has requirement to enter comments, so need to check if it&apos;s a .Org Project in order to show that comment requirement screen</description>
        <name>Check_Sales_Org</name>
        <label>Check Sales Org</label>
        <locationX>1162</locationX>
        <locationY>1929</locationY>
        <defaultConnector>
            <targetReference>get_Updated_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decSalesforce_org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Cur_Project.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NGO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_RFP_Pursuit_Answers</targetReference>
            </connector>
            <label>Salesforce.org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_project</name>
        <label>Is this a new project?</label>
        <locationX>1105</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Person_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Answers_Screen</targetReference>
            </connector>
            <label>New Project</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the project is for Public Sector</description>
        <name>Is_this_Public_Sector</name>
        <label>Is this Public Sector</label>
        <locationX>1197</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>getExistingAnswers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Public_Sector</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Cur_Project.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Cur_Project.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_PubSec_GnG_Process</targetReference>
            </connector>
            <label>Is Public Sector</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see if any new answers were selected in the answers table (for new record creation)</description>
        <name>New_Answers_Selected</name>
        <label>New Answers Selected?</label>
        <locationX>1106</locationX>
        <locationY>1558</locationY>
        <defaultConnector>
            <targetReference>get_Updated_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Had_Existing_Selected_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>n_NewAnswerCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getExistingAnswers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_New_Answers</targetReference>
            </connector>
            <label>Had Existing, Selected New</label>
        </rules>
        <rules>
            <name>dec_No_Existing_Selected_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>n_NewAnswerCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getExistingAnswers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Answers</targetReference>
            </connector>
            <label>No Existing, Selected New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Person_Role</name>
        <label>Sales Person Role?</label>
        <locationX>1805</locationX>
        <locationY>886</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srAccExec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Answers_Screen</targetReference>
            </connector>
            <label>Account Exec</label>
        </rules>
        <rules>
            <name>Solution_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>srSolEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comment_Screen_0</targetReference>
            </connector>
            <label>Solution Engineer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>guided flow to walk the user through answering bid / no-bid questions for Avnio Projects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS NGO RFP Go / No Go Questions</label>
    <loops>
        <description>loop over the answers that previously existed</description>
        <name>ExistingAnswers</name>
        <label>ExistingAnswers</label>
        <locationX>847</locationX>
        <locationY>608</locationY>
        <collectionReference>getExistingAnswers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Question_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_this_a_new_project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop over the new answers that were selected in the answers table</description>
        <name>New_Answers</name>
        <label>New Answers</label>
        <locationX>838</locationX>
        <locationY>1761</locationY>
        <collectionReference>RFPAnswerTable.selectedrfqanswers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_New_Answer_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_RFP_Pursuit_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop over the unique new answers that were selected in the answers table</description>
        <name>Unique_New_Answers</name>
        <label>Unique New Answers</label>
        <locationX>1032</locationX>
        <locationY>1788</locationY>
        <collectionReference>Compare_Existing_vs_New.targetUniqueRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Unique_New_Answer_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_RFP_Pursuit_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>bulk create the Questions that were selected from the table as Answers</description>
        <name>create_RFP_Pursuit_Answers</name>
        <label>create RFP Pursuit Answers</label>
        <locationX>991</locationX>
        <locationY>1963</locationY>
        <connector>
            <targetReference>Check_Sales_Org</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>cvarNewRFPAnswers</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>deletes the deselected answers from a project record</description>
        <name>Delete_Deselected_Answers</name>
        <label>Delete Deselected Answers</label>
        <locationX>1291</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>New_Answers_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Compare_Existing_vs_New.sourceUniqueRecordCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>get any answers without comments for Salesforce.org comment requirement</description>
        <name>get_Answers_w_o_Comments</name>
        <label>get AE Answers w/o Comments</label>
        <locationX>1290</locationX>
        <locationY>2349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Comments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the project record from which the flow was launched</description>
        <name>get_Cur_Project</name>
        <label>get Cur Project</label>
        <locationX>844</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_Public_Sector</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get any answers without comments for Salesforce.org comment requirement</description>
        <name>get_SE_Answers_w_o_Comments</name>
        <label>get SE Answers w/o Comments</label>
        <locationX>1523</locationX>
        <locationY>2325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NGO_SE_Comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the updated project for new bid / no-bid score display</description>
        <name>get_Updated_Project</name>
        <label>get Updated Project</label>
        <locationX>1450</locationX>
        <locationY>1963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_RFP_Pursuit_Answers</name>
        <label>Get Updated RFP_Pursuit Answers</label>
        <locationX>1138</locationX>
        <locationY>2124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comment_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cur_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_RFP_Pursuit_Answers_0</name>
        <label>Get Updated RFP_Pursuit Answers</label>
        <locationX>1961</locationX>
        <locationY>2077</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Missing_Comment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cur_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the existing RFP Pursuit Answers related to the Project</description>
        <name>getExistingAnswers</name>
        <label>getExistingAnswers</label>
        <locationX>845</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingAnswers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Answers</name>
        <label>Update Answers</label>
        <locationX>1225</locationX>
        <locationY>2588</locationY>
        <connector>
            <targetReference>Check_Project_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Character_Length_Error</targetReference>
        </faultConnector>
        <inputReference>cvarAnswerComments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1658</locationX>
        <locationY>2188</locationY>
        <connector>
            <targetReference>Check_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cur_Project.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPS_Project_Status__c</field>
            <value>
                <stringValue>Triage In-Progress</stringValue>
            </value>
        </inputAssignments>
        <object>GPS_Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>allows for comments to be entered for selected Answers</description>
        <name>Comment_Screen</name>
        <label>Comment Screen</label>
        <locationX>1144</locationX>
        <locationY>2276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Answers</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo4</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Enter Comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxtCommentInstructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Enter a comment for each answer in the table below.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*Each comment must be less than 255 characters.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿*Responses cannot be Saved until there is a comment entered for each answer&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*After entering comments, click &apos;Save&apos; to advance to the next screen.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtCommentError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 28, 36); font-size: 14px;&quot;&gt;Each answer must have a comment.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>decMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtAnswerComments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RFP_Pursuit_Answer__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>RFP_Pursuit_Answer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Question_Name__c,Question__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Question_Name__c:NaN, Question__c:NaN, Comments__c:NaN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Question_Name__c:utility:question, Question__c:utility:answer, Comments__c:utility:comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Question_Name__c:Category, Question__c:Answer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Question_Name__c:true, Question__c:true, Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_RFP_Pursuit_Answers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cvarAnswerComments</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>allows for comments to be entered for selected Answers</description>
        <name>Comment_Screen_0</name>
        <label>Comment Screen</label>
        <locationX>2193</locationX>
        <locationY>2597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Answers</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo4_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_3_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Enter Comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxtCommentInstructions_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Enter a comment for each answer in the table below.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*Each comment must be less than 255 characters.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿*Responses cannot be Saved until there is a comment entered for each answer&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*After entering comments, click &apos;Save&apos; to advance to the next screen.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtCommentError_0</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Each answer must have a comment.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Missing_SE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtAnswerComments_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RFP_Pursuit_Answer__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>RFP_Pursuit_Answer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>NGO_SE_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Question_Name__c,Question__c,Comments__c,NGO_SE_Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Question_Name__c:180, Question__c:NaN, Comments__c:NaN, NGO_SE_Comments__c:NaN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Question_Name__c:utility:question, Question__c:utility:answer, Comments__c:utility:comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Question_Name__c:Category, Question__c:Answer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Question_Name__c:true, Question__c:true, Comments__c:true, NGO_SE_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getExistingAnswers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cvarAnswerComments</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>50</locationX>
        <locationY>931</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtFaultMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 28, 36); font-size: 16px;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Sales_Person_Role</name>
        <label>Get Sales Person Role</label>
        <locationX>1311</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Person_Role</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo4_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtCommentInstructions_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Select your role:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Role</name>
            <choiceReferences>srAccExec</choiceReferences>
            <choiceReferences>srSolEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>displays if the user has not completed all of the questions</description>
        <name>Incomplete_Screen</name>
        <label>Incomplete Screen</label>
        <locationX>1103</locationX>
        <locationY>1002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sfdcLogo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtIncompleteCategories</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 28, 36);&quot;&gt;Incomplete Answers&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The categories below have not been answered. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please click Previous to update the answers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!LOEInvocableError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>allows for comments to be entered for selected Answers</description>
        <name>Missing_Comment_Screen</name>
        <label>Missing Comment Screen</label>
        <locationX>1961</locationX>
        <locationY>2666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Answers</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo4_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_3_0_0</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Enter Comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxtCommentInstructions_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Enter a comment for each answer in the table below.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*Each comment must be less than 255 characters.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿*Responses cannot be Saved until there is a comment entered for each answer&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*After entering comments, click &apos;Save&apos; to advance to the next screen.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtCommentError_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Each answer must have a comment.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Missing_SE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtAnswerComments_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RFP_Pursuit_Answer__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>RFP_Pursuit_Answer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>NGO_SE_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Question_Name__c,Question__c,Comments__c,NGO_SE_Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Question_Name__c:180, Question__c:NaN, Comments__c:NaN, NGO_SE_Comments__c:NaN</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Question_Name__c:utility:question, Question__c:utility:answer, Comments__c:utility:comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Question_Name__c:Category, Question__c:Answer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Question_Name__c:true, Question__c:true, Comments__c:true, NGO_SE_Comments__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_RFP_Pursuit_Answers_0</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cvarAnswerComments</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>String_Length_Fault_Screen</name>
        <label>String Length Fault Screen</label>
        <locationX>84</locationX>
        <locationY>2467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Re-Enter Comments</backButtonLabel>
        <fields>
            <name>dImage5</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtStringLengthFaultMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Each comment must be less than 255 characters.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Please click &apos;Re-Enter Comments&apos; to return to the comment entry screen.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>displays the number of removed, added and unchanged answers</description>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>1617</locationX>
        <locationY>1963</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sfdcLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxt_ChangeSummary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 158, 219); background-color: rgb(255, 255, 255);&quot;&gt;Answer Summary&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96); font-size: 16px;&quot;&gt;New Score: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;{!get_Updated_Project.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96); font-size: 16px;&quot;&gt;Prior Score: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;{!get_Cur_Project.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;Added: &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;{!n_NewAnswerCount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;Removed: &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;{!n_DeselectedAnswerCount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;Unchanged: &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;{!n_UnchangedAnswerCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>get_Updated_Project.Cloud__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Salesforce.org</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Updated_Project.Cloud__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Salesforce.org</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Updated_Project.GNG_Score__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>70.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dotOrg_Special_Messaging_Over70</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Answer Summary&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for submitting this RFP!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;You&apos;ve successfully created Project {!get_Updated_Project.Name} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96);&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your current &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96);&quot;&gt;Go / No Go Score&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); background-color: rgb(255, 255, 255);&quot;&gt;{!get_Updated_Project.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The next step is for the assigned SE to review and comment on the Go / No Go Scorecard. Follow directions in &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;this document&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; to complete this step.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The last step is for your manager to review the final Go / No Go Scorecard and provide their &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;appr﻿oval&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You will receive a response from the RFP Team within one business day determining next steps.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;In the meantime, visit &lt;/span&gt;&lt;a href=&quot;https://salesforce.highspot.com/items/613fde36047b152b1623ed4f?lfrm=ssrp.4&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Salesforce.org RFP Central Spot&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; and &lt;/span&gt;&lt;a href=&quot;https://salesforce-internal.slack.com/archives/C01PK0P7QKD&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;#sfdo-rfp-support&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; Slack channel where you can learn more about our team and gain access to RFP Response tools and templates.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Updated_Project.Cloud__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Salesforce.org</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Updated_Project.GNG_Score__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>70.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dotOrg_Special_Messaging_70orBelow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Answer Summary&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for submitting this RFP!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;﻿You&apos;ve successfully created Project {!get_Updated_Project.Name} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96);&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your current &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96);&quot;&gt;Go / No Go Score&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219); background-color: rgb(255, 255, 255);&quot;&gt;{!get_Updated_Project.GNG_Score__c} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 0, 30); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;em&gt;Note:  This is below the threshold and therefore requires additional approvals, please carefully read the directions below.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The next step is for the assigned SE to review and comment on the Go / No Go Scorecard. Follow directions in &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;this document&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; to complete this step.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The last step is for your manager, &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(150, 0, 30);&quot;&gt;your sales AVP and SE manager&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; to review the final Go / No Go Scorecard and provide their &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;approval&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You will receive a response from the RFP Team within one business day determining next steps.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;In the meantime, visit &lt;/span&gt;&lt;a href=&quot;https://salesforce.highspot.com/items/613fde36047b152b1623ed4f?lfrm=ssrp.4&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;u&gt;Salesforce.org RFP Central Spot&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt; and &lt;/span&gt;&lt;a href=&quot;https://salesforce-internal.slack.com/archives/C01PK0P7QKD&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;u&gt;#sfdo-rfp-support&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt; Slack channel where you can learn more about our team and gain access to RFP Response tools and templates.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Updated_Project.Cloud__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Salesforce.org</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Updated_Project.GNG_Score__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>70.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dotOrg_Special_Messaging_Resubmit_70orBelow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 158, 219); background-color: rgb(255, 255, 255);&quot;&gt;Answer Summary&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your updated &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 45, 96);&quot;&gt;Go / No Go Score&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 158, 219);&quot;&gt;{!get_Updated_Project.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;Prior Score: &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 158, 219);&quot;&gt;{!get_Cur_Project.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;The next step is for the assigned SE to review and comment on the Go / No Go Scorecard. Follow directions in &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;this document&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; to complete this step.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;The last step is for your manager, &lt;/span&gt;&lt;strong style=&quot;color: rgb(150, 0, 30); font-size: 16px;&quot;&gt;your sales AVP and SE manager&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; to review the final Go / No Go Scorecard and provide their &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/document/d/1cxj7NEtGXKyX5xaN8G7I_RFMR5oRWGc-A4JYFnrOW-k/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-size: 16px;&quot;&gt;&lt;u&gt;approval&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Updated_Project.Cloud__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Salesforce.org</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>get_Updated_Project.GNG_Score__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>70.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Title_Screen</name>
        <label>Title Screen</label>
        <locationX>571</locationX>
        <locationY>226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Cur_Project</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtTitle</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Go/No-Go Scorecard&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Answer Questions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Answers_Screen</name>
        <label>Update Answers Screen</label>
        <locationX>664</locationX>
        <locationY>757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GPS_Validate_LOE</targetReference>
        </connector>
        <fields>
            <name>sfdcLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dfpBar_1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select Answers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subflow</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtxtTableInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Select the appropriate answer(s) for each category in the table below.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;em style=&quot;color: rgb(0, 158, 219); font-size: 14px; background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Note: Previously selected answers will already be selected.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center; user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RFPAnswerTable</name>
            <extensionName>c:RFPPersuitQuestionbankPagination</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recrid</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedrfqanswers</name>
                <value>
                    <elementReference>RFPAnswerTable.selectedrfqanswers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Answers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>721</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GPS_PubSec_GnG_Process</name>
        <label>GPS PubSec GnG Process</label>
        <locationX>1451</locationX>
        <locationY>391</locationY>
        <flowName>GPS_RFP_Go_No_Go_Process</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rfxType</name>
            <value>
                <elementReference>get_Cur_Project.Category__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>collection variable to store the RFP_Pursuit_Answer__c records that have a comment for mass update</description>
        <name>cvarAnswerComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <description>collection variable to store all of the Questions that have been answered on the project</description>
        <name>cvarExistingRFPQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Question_Bank__c</objectType>
    </variables>
    <variables>
        <description>collection variable to store the new rfp pursuit answers to be created in bulk</description>
        <name>cvarNewRFPAnswers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <name>isNewProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isvalidLOE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOEInvocableError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>n_DeselectedAnswerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the number of new answers selected for display in screen message</description>
        <name>n_NewAnswerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>represents the number of existing answers that we not deselected</description>
        <name>n_UnchangedAnswerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>input variable to determine where the flow originated</description>
        <name>Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the recordID of the Project</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewRFPAnswer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <description>stores RFP Pursuit Question Bank record for assignment to collection</description>
        <name>varRFPQuestionBank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Question_Bank__c</objectType>
    </variables>
</Flow>
