utopia-project/force-app/main/default/flows/GPS_RFP_Update_Sales_Rationale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>GPS_Set_Field_for_AE</name>
        <label>Set Field for AE</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_AE_Sales_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GPS_Set_field_for_SE</name>
        <label>Set field for SE</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SE_Sales_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GPS_Set_Field_for_SE_MGR</name>
        <label>Set Field for SE MGR</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SE_MGR_Sales_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_field_for_AE_MGR</name>
        <label>Set field for AE MGR</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_AE_MGR_Sales_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_for_SEC_SPEC</name>
        <label>Set Field for SEC SPEC</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_Sec_Specialist_Sales_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Operations</name>
        <label>Set Fields for Operations</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_BU_SVP_Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_BU_SVP_Business_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_BU_SVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_RFx</name>
        <label>Set Fields for RFx</label>
        <locationX>2162</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GNG_SVP_Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_GNG_SVP_Business_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_GNG_SVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_SE_Leader</name>
        <label>Set Fields for SE Leader</label>
        <locationX>1634</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GNG_SE_SVP_Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SE_SVP_Business_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SE_SVP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Security_Leader</name>
        <label>Set Fields for Security Leader</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SEC_SVP_Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SEC_VP_Business_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_GPS_Project.GPS_SEC_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GPS_Update_Sales_Rationale_AE</name>
        <label>Update Sales Rationale for AE</label>
        <locationX>313</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GPS_Update_Sales_Rationale_for_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Is_Committee_Member_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Set_Field_for_AE</targetReference>
            </connector>
            <label>Is Committee Member AE</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Update_Sales_Rationale_for_SE</name>
        <label>Update Sales Rationale for SE</label>
        <locationX>576</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_AE_MGR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Committee_Member_Role_is_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Set_field_for_SE</targetReference>
            </connector>
            <label>Is Committee Member is SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Update_Sales_Rationale_for_SE_MGR</name>
        <label>Update Sales Rationale for SE MGR</label>
        <locationX>1101</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_Security_Specialist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_SE_MGR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE MGR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Set_Field_for_SE_MGR</targetReference>
            </connector>
            <label>Is Committee Member SE MGR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_AE_MGR</name>
        <label>Update Sales Rationale for AE MGR</label>
        <locationX>839</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>GPS_Update_Sales_Rationale_for_SE_MGR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_AE_MGR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE MGR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_field_for_AE_MGR</targetReference>
            </connector>
            <label>Is Committee Member AE MGR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_Operations</name>
        <label>Update Sales Rationale for Operations</label>
        <locationX>2096</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_RFx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_for_Operations</targetReference>
            </connector>
            <label>Is Committee Member Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_RFx</name>
        <label>Update Sales Rationale for RFx</label>
        <locationX>2294</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>GPS_Update_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_RFx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_for_RFx</targetReference>
            </connector>
            <label>Is Committee Member RFx</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_SE_Leader</name>
        <label>Update Sales Rationale for SE Leader</label>
        <locationX>1865</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_Operations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_SE_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE Leader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_for_SE_Leader</targetReference>
            </connector>
            <label>Is Committee Member SE Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_Security_Leader</name>
        <label>Update Sales Rationale for Security Leader</label>
        <locationX>1617</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_SE_Leader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_Security_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security Leader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_for_Security_Leader</targetReference>
            </connector>
            <label>Is Committee Member Security Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Sales_Rationale_for_Security_Specialist</name>
        <label>Update Sales Rationale for Security Specialist</label>
        <locationX>1361</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Rationale_for_Security_Leader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Committee_Member_SEC_SPEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Member_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEC SPEC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Field_for_SEC_SPEC</targetReference>
            </connector>
            <label>Is Committee Member SEC SPEC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GPS Update Sales Rationale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Update Sales Rationale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GPS_Project</name>
        <label>Get GPS Project</label>
        <locationX>313</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPS_Update_Sales_Rationale_AE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPS_Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>GPS_Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>313</locationX>
        <locationY>2267</locationY>
        <inputReference>Get_GPS_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>187</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GPS_Project</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE MGR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE MGR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC SPEC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFx</stringValue>
            </value>
        </filters>
        <object>Override_Requests__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
