utopia-project/force-app/main/default/flows/GPS_Data_Categories_Update_Knowledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Format_Data_Category_Names</name>
        <label>Format Data Category Names</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>FormattedDataCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Data_Categories.DataCategoryName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Data_Categories</targetReference>
        </connector>
    </assignments>
    <description>Updates Data Categories text field when Knowledge article is updated.</description>
    <environments>Default</environments>
    <interviewLabel>GPS Data Categories - Update Knowledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Data Categories - Update Knowledge</label>
    <loops>
        <name>Loop_Data_Categories</name>
        <label>Loop Data Categories</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Data_Category_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Format_Data_Category_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Knowledge_Article</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Data_Category_Assignments</name>
        <label>Get Data Category Assignments</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Data_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__DataCategorySelection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Knowledge_Article</name>
        <label>Update Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Data_Categories__c</field>
            <value>
                <elementReference>FormattedDataCategories</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Data_Category_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FormattedDataCategories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
