utopia-project/force-app/main/default/flows/GPS_RFP_Project_Automation_on_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Survey_to_Creator</name>
        <label>Email Survey to Creator</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailOrgSurvey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GPS Project {!$Record.ProjectName__c} is Complete! </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Self_Service_Email_to_Org_Creator</name>
        <label>Send Self Service Email to .Org Creator</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttSelfServiceDotOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The GPS Project {!$Record.Name} has been directed to Self Service</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Project_Finalized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completion_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Finalized</label>
        </rules>
        <rules>
            <name>Org_Send_to_Self_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Directed to Self Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Self_Service_Email_to_Org_Creator</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>.Org Send to Self Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Org_Survey</name>
        <label>Send .Org Survey?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Survey_to_Creator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v1 - Sets the Completion Date to TODAY() when Status is changed to Submitted.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxProjectURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_570}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_570}))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>GPS RFP Project Automation on Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Project Automation on Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Completion_Date</name>
        <label>Set Completion Date</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_Org_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>CompletionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <filterLogic>(1 OR (3 AND 4)) AND 2</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentProjectId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status_c__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cloud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce.org</stringValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailOrgSurvey</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for engaging the Salesforce.org RFP team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The RFP Project &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;{!$Record.ProjectName__c}&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; has been completed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please take a few minutes to complete a short survey about working with our team: &lt;/span&gt;&lt;a href=&quot;https://forms.gle/J8FDMWvZvmscCVQDA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;https://forms.gle/J8FDMWvZvmscCVQDA&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Good luck in the next stage. We look forward to working with you again in the future!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce.org RFP Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSelfServiceDotOrg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for engaging the Salesforce.org RFP Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Based on the guidelines we used to determine the priority assigned to support requests, we have categorized &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;RFP Project {!$Record.Name} &lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;as &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Self Service&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, where the Sales Team is responsible for all aspects of the response.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please visit &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;Salesforce.org RFP Central Spot&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;#sfdo-rfp-support&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Slack channel where you will find tools, templates, and more to assist you in completing proposal responses.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Good luck in the next stage.  We look forward to working with you again in the future!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce.org RFP Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
