utopia-project/force-app/main/default/flows/GPS_RFP_Assign_Override_Sales_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addSalesTeamMemberAE</name>
        <label>addSalesTeamMemberAE</label>
        <locationX>868</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAEMg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAE</name>
        <label>assignAE</label>
        <locationX>656</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMember.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addSalesTeamMemberAE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAEMg</name>
        <label>assignAEMgr</label>
        <locationX>672</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMember.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_AE_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE MGR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSalesTeamMemberSEMgr_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSalesTeamMemberSE</name>
        <label>assignSalesTeamMemberSE</label>
        <locationX>911</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSEMgr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSalesTeamMemberSec</name>
        <label>assignSalesTeamMemberSec</label>
        <locationX>948</locationX>
        <locationY>1328</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSalesTeamOverrideRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSalesTeamMemberSEMgr</name>
        <label>assignSalesTeamMemberSEMgr</label>
        <locationX>934</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSalesTeamMemberSEMgr_0</name>
        <label>assignSalesTeamMemberAEMgr</label>
        <locationX>912</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSE</name>
        <label>assignSE</label>
        <locationX>654</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMember.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSalesTeamMemberSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSecuritySpecialist</name>
        <label>assignSecuritySpecialist</label>
        <locationX>686</locationX>
        <locationY>1363</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMember.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Security_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEC SPEC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSalesTeamMemberSec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSEMgr</name>
        <label>assignSEMgr</label>
        <locationX>665</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>salesTeamMember.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SE_Manager_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE MGR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesTeamMember.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSalesTeamMemberSEMgr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_Category</name>
        <label>Project Category</label>
        <locationX>640</locationX>
        <locationY>1182</locationY>
        <defaultConnector>
            <targetReference>createSalesTeamOverrideRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_RFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSecuritySpecialist</targetReference>
            </connector>
            <label>Not RFI</label>
        </rules>
    </decisions>
    <description>Updated entry logic to fire for RFIs</description>
    <environments>Default</environments>
    <interviewLabel>GPS RFP Assign Override Sales Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Assign Override Sales Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSalesTeamOverrideRequest</name>
        <label>createSalesTeamOverrideRequest</label>
        <locationX>1321</locationX>
        <locationY>1168</locationY>
        <connector>
            <targetReference>updateGPSStatus</targetReference>
        </connector>
        <inputReference>salesTeamMembersCollection</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updateGPSStatus</name>
        <label>updateGPSStatus</label>
        <locationX>1535</locationX>
        <locationY>1004</locationY>
        <inputAssignments>
            <field>GPS_Project_Status__c</field>
            <value>
                <stringValue>Sales Rationale Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>531</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assignAE</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 6) AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Score__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Override_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Committee_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Override_Number_Justifications_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Triage In-Progress</stringValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>salesTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
    <variables>
        <name>salesTeamMembersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
</Flow>
