utopia-project/force-app/main/default/flows/GPS_RFP_GNG_Override_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Committee_Vote_Complete_to_Triage_Slack</name>
        <label>Committee Vote Complete to Triage Slack</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Committee_Vote_Complete_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Committee_Vote_Complete_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Sales_Rationale_Completed_to_Triage</name>
        <label>Committee Vote Requested to Comm Slack</label>
        <locationX>2294</locationX>
        <locationY>1271</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Committee_Vote_Requested_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Committee_Vote_Requested_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_GNG_Score_Card</name>
        <label>Generate GNG Score Card</label>
        <locationX>2294</locationX>
        <locationY>1055</locationY>
        <actionName>GNG_Score_Card_Generation</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Set_the_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:GPS_Project__c</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GNG_Score_Card_Generation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sales_Rationale_Completed_to_Triage_Slack</name>
        <label>Sales Rationale Completed to Triage Slack</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Sales_Rationale_Completed_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Sales_Rationale_Completed_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Leads_Email</name>
        <label>Send Leads Email</label>
        <locationX>3614</locationX>
        <locationY>1847</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Bid_Assigned_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Bid_Assigned_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisStringCollectionOfEmailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_QC_Auditor_Email</name>
        <label>Send QC Auditor Email</label>
        <locationX>4186</locationX>
        <locationY>647</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>QC_Auditor_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>QC_Auditor_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisStringCollectionOfEmailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Sales_Rationale_Requested_Email</name>
        <label>Send Sales Rationale Requested Email</label>
        <locationX>1348</locationX>
        <locationY>2123</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Sales_Rationale_Requested_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Sales_Rationale_Requested_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisStringCollectionOfEmailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Security_Reviewer_Email0</name>
        <label>Send Security Reviewer Email</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Security_Review_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Security_Review_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Triage_Team_Owner_Email</name>
        <label>Send Triage Team Owner Email</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Security_Review_Complete_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Security_Review_Complete_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_EmailMessage</name>
        <label>Assign Values to EmailMessage</label>
        <locationX>2404</locationX>
        <locationY>2315</locationY>
        <assignmentItems>
            <assignToReference>newEmailMessage.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_HTML_Body_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1216</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE_Manager_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE_Manager_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Check_for_SE_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1216</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Check_for_AE_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1216</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_AE_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RFP_Email_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Check_for_SE_MGR_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Security_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Security_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GPS_Check_for_AVP_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>3482</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_SE_Email_Bid_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountrySpecificSlackChannel</name>
        <label>CountrySpecificSlackChannel</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSlackEmailCountryCodes.Slack_Channel_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_GNG_Score_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefaultSlackChannel</name>
        <label>DefaultSlackChannel</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDefaultSlackEmail.Slack_Channel_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_GNG_Score_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GPS_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1216</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Sales_Rationale_Requested_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Bid_Assigned_AE</name>
        <label>Set Variables for Email</label>
        <locationX>3482</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Leads_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Bid_Assigned_CL</name>
        <label>Set Variables for Email</label>
        <locationX>3482</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Co_Lead_2_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Bid_Assigned_Lead</name>
        <label>Set Variables for Email</label>
        <locationX>3614</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Co_Lead_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Bid_Assigned_SE</name>
        <label>Set Variables for Email</label>
        <locationX>3482</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_AE_Email_Bid_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_QC_Auditor</name>
        <label>Set Variables for Email</label>
        <locationX>4186</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QC_Auditor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QC_Auditor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_QC_Auditor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Rationale_Complete</name>
        <label>Set Variables for Email</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Rationale_Completed_to_Triage_Slack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Sec_Review</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Security_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Security_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Security_Reviewer_Email0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_TTO</name>
        <label>Set Variables for Email</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Triage_Team_Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Triage_Team_Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Triage_Team_Owner_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_Vote_Complete</name>
        <label>Set Variables for Email</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Committee_Vote_Complete_to_Triage_Slack</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_AE_Email_Bid_Assigned</name>
        <label>Check for AE Email</label>
        <locationX>3614</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Send_Leads_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_Email_is_Present_Bid_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Bid_Assigned_AE</targetReference>
            </connector>
            <label>AE Email is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SE_Email_Bid_Assigned</name>
        <label>Check for SE Email</label>
        <locationX>3614</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Check_for_AE_Email_Bid_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_Email_Exists_Bid_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Bid_Assigned_SE</targetReference>
            </connector>
            <label>SE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Security_Reviewer_Email</name>
        <label>Check for Security Reviewer Email</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Security_Reviewer_Email_Exists0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Security_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Sec_Review</targetReference>
            </connector>
            <label>Security Reviewer Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Triage_Team_Owner_Email</name>
        <label>Check for Triage Team Owner Email</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Triage_Owner_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Triage_Team_Owner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_TTO</targetReference>
            </connector>
            <label>Triage Owner Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Co_Lead_2_Populated</name>
        <label>Co-Lead 2 Populated?</label>
        <locationX>3614</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_for_SE_Email_Bid_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Co_Lead_2_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>Yes, Co-Lead 2 Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Co_Lead_Populated</name>
        <label>Co-Lead Populated?</label>
        <locationX>3614</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Co_Lead_2_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Co_Lead_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Bid_Assigned_CL</targetReference>
            </connector>
            <label>Yes, Co-Lead Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CountryMatch</name>
        <label>CountryMatch</label>
        <locationX>2294</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>DefaultSlackChannel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSlackEmailCountryCodes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountrySpecificSlackChannel</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Category_is_RFI_or_RFP</name>
        <label>Category is RFI</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Yes_RFI_or_RFP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Check_for_AVP_Email</targetReference>
            </connector>
            <label>Yes RFI</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Category_is_RFP</name>
        <label>Category is RFP</label>
        <locationX>1348</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GPS_Category_is_RFI_or_RFP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Yes_RFP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Check_for_Security_Reviewer_Email</targetReference>
            </connector>
            <label>Yes RFP</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_AE_Email</name>
        <label>Check for AE Email</label>
        <locationX>1348</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Send_Sales_Rationale_Requested_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_AE_Email_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Set_Variables_for_Email</targetReference>
            </connector>
            <label>AE Email is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_AVP_Email</name>
        <label>Check for AE MGR Email</label>
        <locationX>1348</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_SE_MGR_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_AVP_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_AE_Manager__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>AE MGR Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_SE_Email</name>
        <label>Check for SE Email</label>
        <locationX>1348</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_AE_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_SE_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>SE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_SE_MGR_Email</name>
        <label>Check for SE MGR Email</label>
        <locationX>1348</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_SE_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_SE_MGR_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE_Manager_User__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>SE MGR Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_Security_Reviewer_Email</name>
        <label>Check for Security Reviewer Email</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_AVP_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Security_Reviewer_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Security_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>Security Reviewer Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPubSec</name>
        <label>IsPubSec</label>
        <locationX>2492</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DefaultSlackChannel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountryMatch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Populated_Bid_Assigned</name>
        <label>Lead Populated?</label>
        <locationX>3768</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Populated_Bid_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Bid_Assigned_Lead</targetReference>
            </connector>
            <label>Yes, Lead Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Status_Sales_Rationale_Requested</name>
        <label>Project Status</label>
        <locationX>2404</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Security_Review</name>
            <conditionLogic>4 AND ((1 AND 2) OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Security_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Security_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Security_Reviewer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Security_Reviewer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Security_Reviewer_Email</targetReference>
            </connector>
            <label>Security Review</label>
        </rules>
        <rules>
            <name>Security_Review_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Security_Review_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Triage_Team_Owner_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Security Review Complete</label>
        </rules>
        <rules>
            <name>Sales_Rationale_Requested</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Triage In-Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Category_is_RFP</targetReference>
            </connector>
            <label>Sales Rationale Requested</label>
        </rules>
        <rules>
            <name>Sales_Rationale_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale In-Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Rationale_Complete</targetReference>
            </connector>
            <label>Sales Rationale Completed</label>
        </rules>
        <rules>
            <name>Committee_Vote_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committee Vote Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDefaultSlackEmail</targetReference>
            </connector>
            <label>Committee Vote Requested</label>
        </rules>
        <rules>
            <name>Committee_Vote_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committee Vote Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committee Vote In-Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_Vote_Complete</targetReference>
            </connector>
            <label>Committee Vote Complete</label>
        </rules>
        <rules>
            <name>Bid_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Lead_Populated_Bid_Assigned</targetReference>
            </connector>
            <label>Bid Assigned</label>
        </rules>
        <rules>
            <name>Bid_Assigned_but_Lead_Co_Lead_or_Co_Lead_2_ischanged</name>
            <conditionLogic>(1 AND 2) AND ( (3 AND 6) OR (4 AND 7) OR (5 and 8) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Populated_Bid_Assigned</targetReference>
            </connector>
            <label>Bid Assigned but Lead, Co-Lead, or Co-Lead 2 ischanged</label>
        </rules>
        <rules>
            <name>QC_Auditor_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QC_Auditor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QC_Auditor_Populated</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>QC Auditor is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>QC_Auditor_Populated</name>
        <label>QC Auditor Populated?</label>
        <locationX>4318</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QC_Auditor_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QC_Auditor__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_QC_Auditor</targetReference>
            </connector>
            <label>Yes, QC Auditor Populated</label>
        </rules>
    </decisions>
    <description>9/2 -- added NGO exception to Slack channel logic
8/26 -- updated Committee Vote Requested logic to reference a metadata table for the Slack email channels</description>
    <environments>Default</environments>
    <formulas>
        <name>emailMessageRecipients</name>
        <dataType>String</dataType>
        <expression>{!Email_Address_List}</expression>
    </formulas>
    <formulas>
        <name>GPS_Body</name>
        <dataType>String</dataType>
        <expression>&quot;please provide sales rationale justification: &quot;&amp;
{!GPS_Project_URL}</expression>
    </formulas>
    <formulas>
        <name>GPS_HTML_Body</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;html&gt;&lt;body&gt;&quot; &amp;
&quot;You have been assigned a project. Please provide sales rationale &lt;br&gt;&quot;&amp;
&quot;&lt;a href=&apos;&quot; &amp; {!GPS_Project_URL} &amp;
&quot;&apos;&gt;Click Here&lt;/a&gt;&quot; &amp;
&quot;&lt;/body&gt;&lt;?html&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>GPS_HTML_Body_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Sales_Rationale_Requested} = TRUE, {!Sales_Rationale_Requested_Text_Template},
IF({!Security_Review} = TRUE, {!Security_Review_Text_Template},
IF({!Security_Review_Complete} = TRUE, {!Security_Review_Complete_Text_Template},
IF({!Sales_Rationale_Completed} = TRUE, {!Sales_Rationale_Completed_Text_Template},
IF({!Committee_Vote_Requested} = TRUE, {!Committee_Vote_Requested_Text_Template},
IF({!Committee_Vote_Complete} = TRUE, {!Committee_Vote_Complete_Text_Template},
IF(OR({!Bid_Assigned} = TRUE, {!Bid_Assigned_but_Lead_Co_Lead_or_Co_Lead_2_ischanged} = TRUE), {!Bid_Assigned_Text_Template},
IF({!QC_Auditor_is_populated} = TRUE, {!QC_Auditor_Text_Template},
&quot;NO TEMPLATE&quot;
)
)
)
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>GPS_Project_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/lightning/r/GPS_Project__c/&quot;&amp;   {!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>GPS_Subject_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Security_Review} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: RFx is Ready for Security Review!&quot;,
IF({!Security_Review_Complete} = TRUE, {!$Record.Name} +&quot; - ATTENTION: RFx Security Review is complete!&quot;,
IF({!Sales_Rationale_Requested} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: RFx GNG Score is under 150 and Requires your rationales for GNG Committee!&quot;,
IF({!Sales_Rationale_Completed} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: RFx Rationales Completed and Ready to go to GNG Committee&quot;,
IF({!Committee_Vote_Requested} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: RFx Needs GNG Committee Votes!&quot;,
IF({!Committee_Vote_Complete} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: GNG Committee Votes are Completed for Next Steps!&quot;,
IF(OR({!Bid_Assigned} = TRUE,  {!Bid_Assigned_but_Lead_Co_Lead_or_Co_Lead_2_ischanged} = TRUE), {!$Record.Name} + &quot; - ACTION REQUIRED: You have been assigned to support an RFx!&quot;,
IF({!QC_Auditor_is_populated} = TRUE, {!$Record.Name} +&quot; - ACTION REQUIRED: You have been assigned as a QC Auditor!&quot;,
&quot;NO SUBJECT&quot;
)
)
)
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>Lead_Email_Body</name>
        <dataType>String</dataType>
        <expression>&quot;Test Lead and Co-Lead Bid Assigned Email Template&quot; + {!GPS_Project_URL}</expression>
    </formulas>
    <formulas>
        <name>oppURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://org62.lightning.force.com/lightning/r/Opportunity/&quot;&amp;{!$Record.Opportunity__c}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>projectURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://utopia-gps.demo.lightning.force.com/lightning/r/GPS_Project__c/&quot;&amp;{!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>RFP_Email_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!GPS_Yes_RFP} = TRUE, &quot;,&quot;+{!$Record.GPS_AE_Manager__r.Email},
{!$Record.GPS_AE_Manager__r.Email}
)</expression>
    </formulas>
    <interviewLabel>GPS RFP GNG Override Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Email Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>2404</locationX>
        <locationY>2423</locationY>
        <inputReference>newEmailMessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetDefaultSlackEmail</name>
        <label>GetDefaultSlackEmail</label>
        <locationX>2492</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSlackEmailCountryCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Slack_Email_Country_Code__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSlackEmailCountryCodes</name>
        <label>GetSlackEmailCountryCodes</label>
        <locationX>2492</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPubSec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Slack_Email_Country_Code__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_the_field</name>
        <label>Set the field</label>
        <locationX>2294</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_2_of_Sales_Rationale_Completed_to_Triage</targetReference>
        </connector>
        <inputAssignments>
            <field>GNG_Score_Card__c</field>
            <value>
                <elementReference>Generate_GNG_Score_Card.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2278</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Status_Sales_Rationale_Requested</targetReference>
        </connector>
        <object>GPS_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Bid_Assigned_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Congratulations!  {!$Record.GPS_Lead__r.FirstName} {!$Record.GPS_Lead__r.LastName}, you have been assigned to support this Project. The assigned RFX Team Member please be sure to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Schedule a kickoff call within 1 business day of this assignment.&lt;/li&gt;&lt;li&gt;Please review all fields in the Project record and manage and update all appropriate fields.&lt;/li&gt;&lt;li&gt;Conclude the  Project record upon completion of your assignment.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions about this assignment, please discuss it with your manager accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;&lt;p&gt;cc: @{!$Record.AE__r.Email} @{!$Record.SE__r.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead: {!$Record.GPS_Lead__r.FirstName} {!$Record.GPS_Lead__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Co-Lead: {!$Record.GPS_Co_Lead__r.FirstName} {!$Record.GPS_Co_Lead__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Due Date: {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Special Instructions: {!$Record.Special_Instructions__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Committee_Vote_Complete_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Triage Team: This RFx has all completed GNG Committee votes and is ready to be assigned and/or actioned accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Due Date:  {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go/No-Go Score: {!$Record.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Committee_Vote_Requested_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This RFx requires GNG Committee review due to a low GNG score. Please go to the GNG Exception tab in the Project Record and insert your vote and rationale within one business day.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Due Date:  {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go/No-Go Score: {!$Record.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Scorecard: {!$Record.GNG_Score_Card__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>QC_Auditor_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have been assigned as a QC Coach to this project. Please ensure you advise the Project Lead on your availability.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;If you have any questions about this assignment, please discuss it with your manager accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;Thank you!&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead: {!$Record.GPS_Lead__r.FirstName} {!$Record.GPS_Lead__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Co-Lead: {!$Record.GPS_Co_Lead__r.FirstName} {!$Record.GPS_Co_Lead__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Target Complete Date: {!$Record.GPS_Target_Complete_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Due Date: {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Special Instructions: {!$Record.Special_Instructions__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_Rationale_Completed_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;All of the rationales are completed and ready for triage review for next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Due Date:  {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go/No-Go Score: {!$Record.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_Rationale_Requested_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The GNG score is {!$Record.GNG_Score__c} and is below the 150 point GNG threshold. This will now proceed to the GNG Committee for review.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;All of you need to provide rationales as to why we should proceed&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;in GPS Utopia&lt;/span&gt; for this opportunity &lt;strong&gt;no later than one business day. &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click on the project link below and navigate to the GNG Exception Tab where there is a field to insert your rationale. &lt;/span&gt;Once rationales are complete, the &lt;a href=&quot;https://docs.google.com/document/d/1Qp_Vji8KjsyN8SiCg29mjxWuRfr5x1HigwPvCr6hM8E/edit#bookmark=id.n98nl8ue95ge&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GNG Committee&lt;/a&gt; will vote to provide either &lt;a href=&quot;https://docs.google.com/document/d/1wZlzdW9yGj8v_OonB3rThNWm_AUpDD4xzxaY0fFdyAA/edit#bookmark=id.ergyis8x7vr&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;full or limited&lt;/a&gt; support. Note, the RFx team typically turns these around in one business day.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Due Date:  {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Go/No-Go Score: {!$Record.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Security_Review_Complete_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Security Review is Completed and is ready for next steps!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Due Date: {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Security_Review_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Security_Reviewer__r.FirstName} {!$Record.Security_Reviewer__r.LastName}, the following RFx is ready for your security review. The RFx documents that need to be reviewed are attached to the GPS Utopia Project record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Due Date:  {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go/No-Go Score: {!$Record.GNG_Score__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>Email_Address_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Org_Wide_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Hardcoded_Values__c.Org_Wide_Email__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>GPS_Org_Wide_Email_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Hardcoded_Values__c.GPS_Org_Wide_Email_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>GPS_Recipient_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Recipient_Email_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Recipient_Email_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Recipient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Sender_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GPS RFx Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sample Subject</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Target_Object_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Template_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X5E0000036dJy</stringValue>
        </value>
    </variables>
    <variables>
        <name>newEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
