utopia-project/force-app/main/default/flows/GPS_sales_team_justification_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Override_Request_Detected</name>
        <label>Override Request Detected</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Screen_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Override_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Sales_Team_Committee_Notes</targetReference>
            </connector>
            <label>Trigger Screen Flow</label>
        </rules>
    </decisions>
    <description>Made some requested changes to the display field on the screen component.</description>
    <environments>Default</environments>
    <formulas>
        <name>Org62OppLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://org62.lightning.force.com/&quot;&amp;{!Project.Opportunity__c}, &quot;Project.Org62_Opp_Name__c&quot;)</expression>
    </formulas>
    <formulas>
        <name>RFx_Directory_Link_Formula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!Project.Master_RFx_Directory_link__c},{!Project.Master_RFx_Directory_LINK_FORMULA__c})</expression>
    </formulas>
    <interviewLabel>GPS sales team justification screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS sales team justification screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Project</name>
        <label>Project</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Override_Request_Detected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Override_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>GPS_Sales_Team_Committee_Notes</name>
        <label>GPS Sales Team Committee Notes</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GPS_Sales_Team_Rationale_to_Proceed</name>
            <fieldText>Sales Team Rationale to Proceed</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GPS_Sales_Team_Rationale_to_Proceed_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesRationaleList</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;AE Sales Rationale: {!Project.GPS_AE_Sales_Rationale__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;AE Manager Sales Rationale: {!Project.GPS_AE_MGR_Sales_Rationale__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;SE Sales Rationale: {!Project.GPS_SE_Sales_Rationale__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿SE Manager Sales Rationale: {!Project.GPS_SE_MGR_Sales_Rationale__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Security Specialist Sales Rationale: {!Project.GPS_Sec_Specialist_Sales_Rationale__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_Level_of_Effort</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Est. Level of Effort&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If approved by the GNG Committee, the RFx team will provide one of the three types of support:&amp;nbsp;&lt;a href=&quot;https://docs.google.com/document/d/1wZlzdW9yGj8v_OonB3rThNWm_AUpDD4xzxaY0fFdyAA/edit#bookmark=id.ergyis8x7vr&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Full Support, Limited Support, or QA Support.&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;If the GNG Committee does not approve then this is a&amp;nbsp;&lt;a href=&quot;https://docs.google.com/document/d/1Qp_Vji8KjsyN8SiCg29mjxWuRfr5x1HigwPvCr6hM8E/edit#bookmark=id.fh2z6njve7uf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;No Bid&amp;nbsp;&lt;/u&gt;&lt;/a&gt;for Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Overview</name>
            <fieldText>Opportunity Overview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Overview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OppOverviewList</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Project Created Date: {!Project.CreatedDate}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Questions Due Date: {!Project.Questions_Due_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;RFx Response Due Date: {!Project.GPS_Due_Date__c}&lt;/li&gt;&lt;li&gt;Opportunity: {!Project.Org62_Opportunity_Link__c}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Oppty Amount: {!Project.Oppty_Amount__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;GNG Score: {!Project.GNG_score__c}&lt;/li&gt;&lt;li&gt;Security Review Notes: &lt;a href=&quot;{!Project.Security_DSR_Logged__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Project.Security_DSR_Logged__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Master RFx Directory: &lt;/span&gt;&lt;a href=&quot;{!Project.Master_RFx_Directory_link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Project.Master_RFx_Directory_link__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;RFx Evaluation Criteria: {!Project.RFx_Evaluation_Criteria__c}&lt;/li&gt;&lt;li&gt;Synopsis: {!Project.Synopsis__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LevelofEffort</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;RFx Team: If approved by the GNG Committee, the RFx team will provide &lt;strong&gt;Full Support&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;RFx Team: If approved by the GNG Committee, unless the customer grants an extension, the RFx team will provide &lt;strong&gt;Limited Support.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Org62_Opp_Link_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&apos;&quot;HYPERLINK(&quot;https://org62.lightning.force.com/&quot;&amp;amp;{!Project.Opportunity__c}, &quot;{!Project.Org62_Opp_Name__c}&quot;)&quot;&lt;/a&gt;&quot;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
