utopia-project/force-app/main/default/flows/GPS_AE_SE_Notification_of_New_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AE_GNG_Complete</name>
        <label>AE GNG Complete</label>
        <locationX>622</locationX>
        <locationY>1200</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GNG_Complete_Email_Body_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GNG_Complete_Email_Body_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisOneEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Security_Reviewer_Email</name>
        <label>Send AE Email</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>New_Project_Email_Body_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>New_Project_Email_Body_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisOneEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <outputParameters>
            <assignToReference>emailMessageId</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_Email</name>
        <label>Send Reminder Email</label>
        <locationX>1326</locationX>
        <locationY>1692</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_to_EmailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GNG_Reminder_Email_Body_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GNG_Reminder_Email_Body_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendBCCthisOneEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisOneEmailAddress</name>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>Email_Address_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_EmailMessage</name>
        <label>Assign Values to EmailMessage</label>
        <locationX>1018</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>newEmailMessage.RelatedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Subject_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Body_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Org_Wide_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.ToAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GPS_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailMessage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>490</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Variables_for_Slack_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Variables_for_Email_0</name>
        <label>Set Variables for Email</label>
        <locationX>1194</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Variables_for_Email_0</name>
        <label>Set Variables for Email</label>
        <locationX>1194</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_BU_SVP_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Variables_for_Email_0_0</name>
        <label>Set Variables for Email</label>
        <locationX>490</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_SE_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>1194</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_AE_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GPS_AE_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AE_Manager_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Scheduled.GPS_AE_Manager__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_SE_MGR_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_AEdraft</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_SE_Email_draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_SEdraft</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Variables_for_Slack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Email_SEMGR</name>
        <label>Set Variables for Email</label>
        <locationX>1194</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE_Manager_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE_Manager_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SE_Manager_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Scheduled.SE_Manager_User__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Slack</name>
        <label>Set Variables for Slack</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Security_Reviewer_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_for_Slack_0</name>
        <label>Set Variables for Slack</label>
        <locationX>622</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Email_Address_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Recipient_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AE_GNG_Complete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_AE_Email_Draft</name>
        <label>Check for AE Email</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Check_for_SE_Email_draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_Email_Exists_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_AEdraft</targetReference>
            </connector>
            <label>AE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SE_Email_draft</name>
        <label>Check for SE Email</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Set_Variables_for_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_Email_Exists_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_SEdraft</targetReference>
            </connector>
            <label>SE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SE_MGR_Email</name>
        <label>Check for SE MGR Email</label>
        <locationX>1326</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Send_Reminder_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_MGR_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE_Manager_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email_SEMGR</targetReference>
            </connector>
            <label>SE MGR Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context</name>
        <label>Context</label>
        <locationX>556</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_AE_Email_Draft</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>GNG_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_for_Security_Reviewer_Email_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>GNG Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_BU_SVP_Email_0</name>
        <label>Check for SE Email</label>
        <locationX>1326</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Decision_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BU_SVP_Email_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Variables_for_Email_0</targetReference>
            </connector>
            <label>SE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_SE_Email</name>
        <label>Check for SE Email</label>
        <locationX>622</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Set_Variables_for_Slack_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SE_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>SE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Security_Reviewer_Email_0</name>
        <label>Check for AE Email</label>
        <locationX>1326</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_BU_SVP_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Security_Reviewer_Email_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Variables_for_Email_0</targetReference>
            </connector>
            <label>AE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Security_Reviewer_Email_0_0</name>
        <label>Check for AE Email</label>
        <locationX>622</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_SE_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Security_Reviewer_Email_Exists_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Variables_for_Email_0_0</targetReference>
            </connector>
            <label>AE Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_7</name>
        <label>AE MGR Exists</label>
        <locationX>1326</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Check_for_SE_MGR_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_MGR_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_AE_Manager__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_for_Email</targetReference>
            </connector>
            <label>AE MGR Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GNG_Complete_scheduled</name>
        <label>GNG Complete?</label>
        <locationX>1480</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GNG_NOT_Complete_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_for_Security_Reviewer_Email_0</targetReference>
            </connector>
            <label>GNG NOT Complete</label>
        </rules>
    </decisions>
    <description>Updated email templates- 8.22.24
Updated Org62 Oppty link and region fields - 4.21.24</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckAEManager</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISNULL({!Record.GPS_AE_Manager__c})), TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>CheckSEManager</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISNULL({!Record.SE_Manager_User__c})), TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>emailMessageRecipients</name>
        <dataType>String</dataType>
        <expression>{!Email_Address_List}</expression>
    </formulas>
    <formulas>
        <name>GPS_Body</name>
        <dataType>String</dataType>
        <expression>&quot;pleasereviewnewgpsproject  &quot;&amp;
{!GPS_Project_URL}</expression>
    </formulas>
    <formulas>
        <name>GPS_Body_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Created} = TRUE, {!New_Project_Email_Body_Template}, 
IF({!GNG_Complete} = TRUE, {!GNG_Complete_Email_Body_Text_Template},
IF({!GNG_NOT_Complete_scheduled} = TRUE, {!GNG_Reminder_Email_Body_Text_Template},
&quot;NO TEMPLATE&quot;
)
)
)</expression>
    </formulas>
    <formulas>
        <name>GPS_HTML_Body</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;html&gt;&lt;body&gt;&quot; &amp;
&quot;You have been assigned a project. Please provide sales rationale &lt;br&gt;&quot;&amp;
&quot;&lt;a href=&apos;&quot; &amp; {!GPS_Project_URL} &amp;
&quot;&apos;&gt;Click Here&lt;/a&gt;&quot; &amp;
&quot;&lt;/body&gt;&lt;?html&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>GPS_Project_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/lightning/r/avnio__Project__c/&quot;&amp;   {!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>GPS_Subject_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Created} = TRUE,{!$Record.Name} +&quot; - ACTION REQUIRED: Complete your RFx Request - DRAFT RFx Support Intake&quot;, 
IF({!GNG_Complete} = TRUE, {!$Record.Name} +&quot; - Your RFx Support Request is Being Reviewed by Triage for Next Steps&quot;,
IF({!GNG_NOT_Complete_scheduled} = TRUE, {!$Record.Name} +&quot; - REMINDER: Your RFx Support Request is Stalled and Needs Action!&quot;,
&quot;NO SUBJECT&quot;
)
)
)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>oppURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://org62.lightning.force.com/lightning/r/Account/&quot;&amp;{!$Record.Opportunity__c}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>projectURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://utopia-gps.demo.lightning.force.com/lightning/r/avnio__Project__c/&quot;&amp;{!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>RVP_Email_Exists</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Account_RVP__r.Email} != NULL,
{!$Record.Account_RVP__r.Email},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SE_Email_Exists</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.SE__r.Email} != NULL,
{!$Record.SE__r.Email},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SE_First_Last</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.SE__c} != NULL,
&quot;and {!$Record.SE__r.FirstName} {!$Record.SE__r.LastName} &quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SE_Manager_Email_Exists</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.SE_Manager_User__r.Email} != NULL,
{!$Record.SE_Manager_User__r.Email},
&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>GPS AE/SE Notification of New Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS AE/SE Notification of New Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EmailMessage_record</name>
        <label>Create EmailMessage record</label>
        <locationX>1018</locationX>
        <locationY>2087</locationY>
        <inputReference>newEmailMessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>556</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Scheduled</name>
        <label>Get Project</label>
        <locationX>1480</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GNG_Complete_scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>avnio__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>GNG_Reminder</name>
            <connector>
                <targetReference>Get_Project_Scheduled</targetReference>
            </connector>
            <label>GNG Reminder</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>GNG_Complete_Email_Body_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.AE__r.FirstName} {!$Record.AE__r.LastName}&lt;/span&gt; and &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.SE__r.FirstName} {!$Record.SE__r.LastName} &lt;/span&gt; for completing the request for RFx support. We are currently reviewing your request and will respond with next steps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.avnio__ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: {!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}{!Get_Project}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Questions Due Date: {!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Due Date:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go/No-Go Score: {!$Record.GNG_score__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GNG_Reminder_Email_Body_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Reminder: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.AE__r.FirstName} {!$Record.AE__r.LastName} and &lt;/span&gt;{!$Record.SE__r.FirstName} {!$Record.SE__r.LastName} we need to keep things moving as the RFx team supports a high volume of RFx. We see that your GNG is in process and has yet to be completed. GNG is to be completed within 2 business days of the release of the RFx. As this day has passed, your request is at risk and we may not be able to support you. Please complete your GNG within 1 business day of this notification.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;cc: @{!$Record.GPS_AE_Manager__r.Email} @{!$Record.SE_Manager_User__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.avnio__ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: {!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Due Date:&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>New_Project_Email_Body_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you {!$Record.AE__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.AE__r.LastName} &lt;/span&gt;for initiating a request for RFx support. We are eager to support you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.AE__r.FirstName} {!$Record.AE__r.LastName} and &lt;/span&gt;{!$Record.SE__r.FirstName} {!$Record.SE__r.LastName}, please continue to complete your Go/No Go (GNG) by selecting the below linked Project Name in GPS Utopia and selecting the Go/No Go Determination button on the top right of the screen.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;IMPORTANT for the SE (if identified): The Bill of Materials (BOM) question is part of the GNG. As part of the GNG process, a Security Specialist may also be reviewing the GNG. Note: Security Review is not required for RFIs as part of GNG. Please review the AE&apos;s completed GNG and provide comments for each GNG question.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The GNG needs to be fully completed within 2 business days of the release of the RFx documents. Once completed, we typically respond to your request within 1 business day or less. Should you have any questions in completing the GNG, please see &lt;a href=&quot;https://docs.google.com/document/d/1Qp_Vji8KjsyN8SiCg29mjxWuRfr5x1HigwPvCr6hM8E/edit#bookmark=id.v8zgae4npwa7&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Getting to Know Go/No Go&lt;/a&gt; and the &lt;a href=&quot;https://salesforce.quip.com/BXFQAGbhf4HA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GPS Utopia enablement guide&lt;/a&gt;. You may also contact us via the RFx Intake Questions flow in the #gps-rfx-team slack channel.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;&lt;a href=&quot;{!projectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.avnio__ProjectName__c}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization: {!$Record.Cloud__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: {!$Record.Org62_Account_Locked_Region__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Org62 Opportunity: &lt;/strong&gt;&lt;a href=&quot;{!oppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!$Record.Org62_Opp_Name__c}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GPS Project Status: {!$Record.GPS_Project_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Category: {!$Record.Category__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Questions Due Date:{!$Record.Questions_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Due Date: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.GPS_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>AEformulacheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formulacheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Org_Wide_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Hardcoded_Values__c.Org_Wide_Email__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>GPS_Org_Wide_Email_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Hardcoded_Values__c.GPS_Org_Wide_Email_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>GPS_Project_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Recipient_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Sender_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GPS RFx Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sample Subject</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Template_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X5E0000036dJy</stringValue>
        </value>
    </variables>
    <variables>
        <name>newEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Project__c</objectType>
    </variables>
    <variables>
        <name>seformulacheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Channel_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Hardcoded_Values__c.Triage_Slack_Email_Address__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_AE_Manager_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SE_Manager_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
