utopia-project/force-app/main/default/flows/GPS_RFP_Project_Team_Member_Lead_Co_Lead_and_Co_Lead2_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PTM_Record_to_Collection</name>
        <label>Add PTM Record to Collection</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>colProjectTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sinProjecTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Co_Lead_is_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PTM_Record_to_Collection_colead2</name>
        <label>Add PTM Record to Collection</label>
        <locationX>402</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>colProjectTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sinProjecTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_Count</name>
        <label>Assign Collection Count</label>
        <locationX>182</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>vCountCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colProjectTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Creating_Any_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Count of Co-Lead</description>
        <name>Assign_Count_Co_Lead</name>
        <label>Assign Count Co-Lead</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>vCountCoLead</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Co_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Co_Lead_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns count of filter</description>
        <name>Assign_Count_Lead</name>
        <label>Assign Count Lead</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vCountLead</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Lead_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns count for co-lead 2</description>
        <name>Assign_for_Co_Lead_2</name>
        <label>Assign for Co Lead 2</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>vCountCoLead2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Co_Lead_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Co_Lead_2_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigns_the_Variables_for_the_Project_Team_Member_Record</name>
        <label>Assigns the Variables for the Project Team Member Record</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Team_MemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.ProjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Report_Summary_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Owner;Assignee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PTM_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigns_the_Variables_for_the_Project_Team_Member_Record_colead</name>
        <label>Assigns the Variables for the Project Team Member Record</label>
        <locationX>402</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Team_MemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.ProjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Report_Summary_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Owner;Assignee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PTM_Record_to_Collection_colead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigns_the_Variables_for_the_Project_Team_Member_Record_colead2</name>
        <label>Assigns the Variables for the Project Team Member Record</label>
        <locationX>402</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Team_MemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.ProjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Report_Summary_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sinProjecTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Owner;Assignee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PTM_Record_to_Collection_colead2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PTM_Record_to_Collection_colead</name>
        <label>Add PTM Record to Collection</label>
        <locationX>402</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>colProjectTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sinProjecTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Co_Lead_2_is_Blank</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters to see if Co-Lead is in the list</description>
        <name>Filter_for_Co_Lead</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Co-Lead</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Co_Lead_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Co_Lead_0.Team_MemberId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.GPS_Co_Lead__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_Co_Lead</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters to see if Co-Lead 2 is in Project Team Members</description>
        <name>Filter_for_Co_Lead_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Co-Lead 2</label>
        <locationX>314</locationX>
        <locationY>2171</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Co_Lead_2_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Co_Lead_2_0.Team_MemberId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.GPS_Co_Lead_2__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_for_Co_Lead_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filters to see if the Lead is in the list</description>
        <name>Filter_for_Lead</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Lead</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Lead_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Team_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Lead_0.Team_MemberId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.GPS_Lead__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_Lead</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Checks to see if Lead field is populated</description>
        <name>Check_if_Co_Lead_2_Exists</name>
        <label>Check if Co-Lead 2 Exists</label>
        <locationX>314</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Assigns_the_Variables_for_the_Project_Team_Member_Record_colead2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_2_of_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountCoLead2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collection_Count</targetReference>
            </connector>
            <label>Copy 2 of Copy 2 of Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Lead field is populated</description>
        <name>Check_if_Co_Lead_Exists</name>
        <label>Check if Co-Lead Exists</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Assigns_the_Variables_for_the_Project_Team_Member_Record_colead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountCoLead</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Co_Lead_2_is_Blank</targetReference>
            </connector>
            <label>Copy 2 of Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Creating_Any_Records</name>
        <label>Check if Creating Any Records</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vcount_is_0_for_one_of_three_variables</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCountCollection</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Team_Members</targetReference>
            </connector>
            <label>Vcount is 0 for one of three variables</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Lead field is populated</description>
        <name>Check_if_Lead_Exists</name>
        <label>Check if Lead Exists</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assigns_the_Variables_for_the_Project_Team_Member_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountLead</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Co_Lead_is_Blank</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lead_is_Blank</name>
        <label>Check if Lead is Blank</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Filter_for_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Co_Lead_is_Blank</targetReference>
            </connector>
            <label>Lead is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Co_Lead_2_is_Blank</name>
        <label>Co Lead 2 is Blank</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Filter_for_Co_Lead_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Co_Lead_2_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collection_Count</targetReference>
            </connector>
            <label>Co Lead 2 Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Co-Lead is Blank</description>
        <name>Co_Lead_is_Blank</name>
        <label>Co-Lead is Blank</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Filter_for_Co_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Co_Lead_is_Blank2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Co_Lead_2_is_Blank</targetReference>
            </connector>
            <label>Co Lead is Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GPS RFP Project Team Member Lead Co-Lead and Co-Lead2 Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Project Team Member Lead Co-Lead and Co-Lead2 Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Team_Members</name>
        <label>Create Project Team Members</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <inputReference>colProjectTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets all Project Team Members for the triggering project so that they can be looped and stored in a variable for later use. If no value is returned, then that will be used in a decision node later.</description>
        <name>Get_Project_Team_Members</name>
        <label>Get Project Team Members</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Lead_is_Blank</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Team_MemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPS_Lead__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_MemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_MemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GPS_Co_Lead_2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GPS_Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Team_Members</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GPS_Lead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colProjectTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Co_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Co_Lead_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Co_Lead_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Co_Lead_2_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Lead_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>sinProjecTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project_Team__c</objectType>
    </variables>
    <variables>
        <name>vCountCoLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountCoLead2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountTeamMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
