utopia-project/force-app/main/default/flows/GPS_Topic_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_assgnments</name>
        <label>Add to Assignments to Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rvar_NewAssignmentsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTopicAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Entities</name>
        <label>Assign All Entities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AllEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Get_Entity_IDs.EntityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Entity_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_problem_entities</name>
        <label>Assign Duplicate Entities to Problem variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ProblemEntityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Duplicates.EntityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_SingleAssignment</name>
        <label>Build Single Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleTopicAssignment.EntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.EntityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTopicAssignment.TopicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTopicId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_assgnments</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Does_Record_have_both_new_and_old_topics</name>
        <label>Does Record have both new and old topics?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_SingleAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Safe</defaultConnectorLabel>
        <rules>
            <name>Yes_has_both_topics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ProblemEntityIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_1.EntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Yes has both topics</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GPS Topic Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Topic Update</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Topic_Assignments</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Record_have_both_new_and_old_topics</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Duplicates</name>
        <label>Loop Duplicates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_ExistingDuplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_problem_entities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Entity_IDs</name>
        <label>Loop to Get Entity IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Topic_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_All_Entities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Entities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Assignments</name>
        <label>Create New Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete</targetReference>
        </connector>
        <inputReference>rvar_NewAssignmentsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Topic_Assignments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Entities</name>
        <label>Get All Entities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AllEntityIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTopicId</elementReference>
            </value>
        </filters>
        <object>TopicAssignment</object>
        <outputReference>col_ExistingDuplicates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EntityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_new_topic</name>
        <label>get new topic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Topic_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Topic_to_Be_Added</elementReference>
            </value>
        </filters>
        <object>Topic</object>
        <outputAssignments>
            <assignToReference>NewTopicId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_old_topic</name>
        <label>Get old  topic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_new_topic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Topic_to_Be_Replaced</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Topic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Topic_Assignments</name>
        <label>Get Topic Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Get_Entity_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_old_topic.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Provide_Find_and_Replace_Information</name>
        <label>Provide Find and Replace Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_old_topic</targetReference>
        </connector>
        <fields>
            <name>Topic_to_Be_Replaced</name>
            <dataType>String</dataType>
            <fieldText>Topic to Be Replaced</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Topic_to_Be_Added</name>
            <dataType>String</dataType>
            <fieldText>Topic to Be Added</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provide_Find_and_Replace_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ExistingDuplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>NewTopicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvar_NewAssignmentsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>singleTopicAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <description>Purpose: To hold the IDs of all records we&apos;re about to process.</description>
        <name>var_AllEntityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Purpose: To hold the IDs of records that already have the new topic.</description>
        <name>var_ProblemEntityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
