utopia-project/force-app/main/default/flows/GPS_Update_Project_Status_on_GNG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_GNG_Complete</name>
        <label>Is GNG Complete</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.of_GNG_AE_Answers__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.of_AE_Questions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_GNG_SE_Answers__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.of_SE_Questions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_GNG_SE_Answers__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_No_Go_Complete__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GPS Update Project Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Update Project Status on GNG</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Project_Status</name>
        <label>Update Project Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE GNG Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>GPS_Project_Status__c</field>
            <value>
                <stringValue>Triage In-Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_No_Go_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_GNG_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE GNG Review</stringValue>
            </value>
        </filters>
        <object>avnio__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
