utopia-project/force-app/main/default/flows/GPS_Bulk_Upload_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Questions</name>
        <label>Parse Questions</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>UtopiaFlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Question_Review</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>QuestionsList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UtopiaFlowUtils</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ParsedQuestionList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Response_Record</name>
        <label>Assign Response Record</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NewResponse.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Question_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Response_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucketId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Question_Full_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Response_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the buckets</description>
        <name>Get_Bucket_Count</name>
        <label>Get Bucket Count</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>BucketCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Buckets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BucketNames</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Got_Bucketss</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Internal_Knowledge</name>
        <choiceText>Internal Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salesforce_Jarvis_AI</name>
        <choiceText>Salesforce Jarvis AI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Jarvis AI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unified_Knowledge</name>
        <choiceText>Unified Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unified Knowledge</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Do we have the buckets?</description>
        <name>Got_Bucketss</name>
        <label>Got Bucketss?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Buckets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Buckets</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_buckets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BucketCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Upload_Questions</targetReference>
            </connector>
            <label>Yes we have buckets</label>
        </rules>
    </decisions>
    <description>GPS Utopia flow to bulk upload RFP Questions to a project</description>
    <dynamicChoiceSets>
        <name>BuvkertList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Response_Bucket__c</object>
        <outputAssignments>
            <assignToReference>BucketId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Shortens question to 80 characters or less</description>
        <name>QuestionTitle</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!ForEachQuestion}) &gt; 77, LEFT({!ForEachQuestion}, 77) &amp; &apos;...&apos;, {!ForEachQuestion})</expression>
    </formulas>
    <interviewLabel>GPS - Bulk Upload Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS - Bulk Upload Questions</label>
    <loops>
        <name>ForEachQuestion</name>
        <label>For each question</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>ParsedQuestionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Response_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response_Record</name>
        <label>Create Response Record</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ForEachQuestion</targetReference>
        </connector>
        <inputReference>NewResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the buckets</description>
        <name>Get_Buckets</name>
        <label>Get Buckets</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bucket_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Response_Bucket__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bulk_Upload_Questions</name>
        <label>Bulk Upload Questions</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Questions</targetReference>
        </connector>
        <fields>
            <name>Choose_Bucket</name>
            <choiceReferences>BuvkertList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which bucket should these questions go into?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QuestionsList</name>
            <fieldText>Paste the list of questions below, one question per line.  You may also paste a single column from a spreadsheet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>There are no buckets</description>
        <name>No_Buckets</name>
        <label>No Buckets</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBucketsMessage</name>
            <fieldText>&lt;p&gt;You need to have at least one bucket to bulk load questions.  Please complete the first step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Review</name>
        <label>Question Review</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ForEachQuestion</targetReference>
        </connector>
        <fields>
            <name>ReviewQuestions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Review Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BulkLoadReview</name>
            <fieldText>&lt;p&gt;Review the list of questions below and ensure that each question is on a single line and no questions have been combined.  If you see overlaps, go back to the previous screen and edit the text that you pasted in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QuestionListView</name>
            <extensionName>c:UtopiaListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>items</name>
                <value>
                    <elementReference>ParsedQuestionList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ParsedQuestionList</assignToReference>
                <name>items</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Buckets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BucketCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BucketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BucketNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Response__c</objectType>
    </variables>
    <variables>
        <name>ParsedQuestionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The project / case ID for this flow to parent the Response records</description>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
