utopia-project/force-app/main/default/flows/GPS_RFP_Assign_GNG_Committee_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignCommitteeMember</name>
        <label>assignCommitteeMember</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>GNG_Override.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Committee_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Committee_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Committee_Member_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Override.Team_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>committeeMembers.Team_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignGNGMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGNGMember</name>
        <label>assignGNGMember</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>AllGNGMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GNG_Override</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalCommitteeMembers</name>
        <label>FinalCommitteeMembers</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>FinalCommitteeNembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCommitteeMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalDefaultCommitteeAssignment</name>
        <label>FinalDefaultCommitteeAssignment</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FinalCommitteeNembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDefaultCommittee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>committeeMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_GNG_Members_Exist_for_Country</name>
        <label>Do GNG Members Exist for Country</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetDefaultCommittee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Default GNG Committee</defaultConnectorLabel>
        <rules>
            <name>Country_GNG_Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCommitteeMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalCommitteeMembers</targetReference>
            </connector>
            <label>Country GNG Members Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_contains_bid</name>
        <label>Status contains bid?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bid Ready to Assign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateGPSStatus</targetReference>
            </connector>
            <label>No, update status</label>
        </rules>
    </decisions>
    <decisions>
        <description>NGO or Pub Sec</description>
        <name>What_is_the_Sales_Organization</name>
        <label>What is the Sales Organization</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetDefaultCommittee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales org is NGO or Anything Else</defaultConnectorLabel>
        <rules>
            <name>Sales_org_is_Pub_Sec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCommitteeMembers</targetReference>
            </connector>
            <label>Sales org is Pub Sec</label>
        </rules>
    </decisions>
    <description>8/11/25 - This Version has the the logic to get GNG committee based on country and adds the committee to the project record.
8/13/25 - Added a condition to exclude NGO from country specific logic</description>
    <environments>Default</environments>
    <interviewLabel>GPS RFP Assign GNG Committee Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Assign GNG Committee Members</label>
    <loops>
        <name>committeeMembers</name>
        <label>committeeMembers</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>FinalCommitteeNembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCommitteeMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createOverrideRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createOverrideRequest</name>
        <label>createOverrideRequest</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Status_contains_bid</targetReference>
        </connector>
        <inputReference>AllGNGMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCommitteeMembers</name>
        <label>getCommitteeMembers</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_GNG_Members_Exist_for_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GNG_Committee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committee_Member_Role__c</queriedFields>
        <queriedFields>Team_Category__c</queriedFields>
        <queriedFields>Committee_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultCommittee</name>
        <label>GetDefaultCommittee</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinalDefaultCommitteeAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GNG_Committee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committee_Member_Role__c</queriedFields>
        <queriedFields>Team_Category__c</queriedFields>
        <queriedFields>Committee_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateGPSStatus</name>
        <label>updateGPSStatus</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>GPS_Project_Status__c</field>
            <value>
                <stringValue>Committee Vote Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Sales_Organization</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Override_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Score__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Committee_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Rationale Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Override_Request_Num_Votes__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllGNGMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
    <variables>
        <name>FinalCommitteeNembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GNG_Committee__c</objectType>
    </variables>
    <variables>
        <name>GNG_Override</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
</Flow>
