utopia-project/force-app/main/default/flows/gps_KnowledgeReview_clone_parent_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Knowledge_Review.KnowledgeArticle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Knowledge_Review_Assignment.KnowledgeArticle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Knowledge_Review.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Knowledge_Review_Assignment</targetReference>
        </connector>
    </assignments>
    <description>When a knowledge article is edited as draft, this flow clowns the knowledge review and knowledge review assignment
1/14 - added not validated status
1/12 2025 - update to only clone KA Assignments when article is published. Removed all other functionality</description>
    <environments>Default</environments>
    <interviewLabel>gps KnowledgeReview - clone parent records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gps KnowledgeReview - clone parent records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Knowledge_Review_Assignment</name>
        <label>Clone Knowledge Review Assignment</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Parent_Knowledge_Review_Assignment</inputReference>
    </recordCreates>
    <recordLookups>
        <description>looks for published version of article and gets associated review record</description>
        <name>Get_Parent_Knowledge_Review</name>
        <label>Get Parent Knowledge Review</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Knowledge_Review_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentArticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gps_KnowledgeReview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Knowledge_Review_Assignment</name>
        <label>Get Parent Knowledge Review Assignment</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Published_Article_Version</name>
        <label>Get Published Article Version</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Knowledge_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varParentArticleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Published_Article_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varParentArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
