utopia-project/force-app/main/default/flows/GPS_Agent_Translation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translate_Articles</name>
        <label>Translate Articles</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>GPS_Translate_Articles</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Knowledge_Article</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Language</name>
            <value>
                <elementReference>varLanguage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_Translate_Articles</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varPomptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_record_id</name>
        <label>assign record id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Knowledge_Article</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Articles</targetReference>
        </connector>
    </assignments>
    <description>Flow for agent to translate knowledge articles</description>
    <environments>Default</environments>
    <interviewLabel>GPS - Agent Translation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS - Agent Translation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_record_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>textReponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varPomptResponse}</text>
    </textTemplates>
    <variables>
        <description>Knowledge Article Id</description>
        <name>KnowledgeArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <description>Language that the user wants to translate the article to</description>
        <name>varLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPomptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
