utopia-project/force-app/main/default/flows/GPS_RFP_GNG_Override_Input.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Committee_Record_values</name>
        <label>Assign Committee Record values</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCommitteeRecord.Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmAuthorization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommitteeRecord.Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCommitteeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Override_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_varCommitteeRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Team_values</name>
        <label>Assign Sales Team values</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varSalesTeam.Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authorization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesTeam.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Override_Requests.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_varSalesTeam</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Committee_Vote</name>
        <label>Committee Vote?</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>srAuth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Override_Requests.GPS_Project__r.GPS_Project_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_srNotAuth</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Team_Category</name>
        <label>Determine Team Category</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Override_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Executive_Committee</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Override_Requests.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive Committee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Override_Requests.GPS_Project__r.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale In-Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Override_Requests.GPS_Project__r.GPS_Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Committee_srAuth</targetReference>
            </connector>
            <label>Executive Committee</label>
        </rules>
        <rules>
            <name>Sales_Team</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Override_Requests.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Override_Requests.GPS_Project__r.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale In-Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Override_Requests.GPS_Project__r.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rationale Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Committee_Vote</targetReference>
            </connector>
            <label>Sales Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Valid</name>
        <label>Is User Valid</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>srNotAuth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Override_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Override_Requests</targetReference>
            </connector>
            <label>Yes, Valid User</label>
        </rules>
    </decisions>
    <description>3.3.2025 - Updated display text in srAuth Screen</description>
    <dynamicChoiceSets>
        <name>VoteValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vote__c</picklistField>
        <picklistObject>Override_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GPS RFP GNG Override Input {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP GNG Override Input</label>
    <loops>
        <name>Loop_Override_Requests</name>
        <label>Loop Override Requests</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Override_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Team_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>srThanks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Override_User</name>
        <label>Get Override User</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Committee_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Override_Requests__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Committee_Member__c</queriedFields>
        <queriedFields>Committee_Member_Role__c</queriedFields>
        <queriedFields>Justification__c</queriedFields>
        <queriedFields>Vote__c</queriedFields>
        <queriedFields>GPS_Project__c</queriedFields>
        <queriedFields>Team_Category__c</queriedFields>
        <queriedFields>Committee_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_varCommitteeRecord</name>
        <label>Update varCommitteeRecord</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Override_Requests</targetReference>
        </connector>
        <inputReference>varCommitteeRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_varSalesTeam</name>
        <label>Update varSalesTeam</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Override_Requests</targetReference>
        </connector>
        <inputReference>varSalesTeam</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Committee_srAuth</name>
        <label>Committee srAuth</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Committee_Record_values</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_dtErrNoAuth</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} {!$User.LastName} you are committee member: {!Loop_Override_Requests.Committee_Member_Role__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you are entering rationale on behalf of another user, please make sure to note that in the field matching their role.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vote</name>
            <choiceReferences>VoteValues</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_Override_Requests.Vote__c</elementReference>
            </defaultValue>
            <fieldText>GNG (Yes = Proceed | No = No Bid)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cmAuthorization</name>
            <defaultValue>
                <stringValue>{!Loop_Override_Requests.Justification__c}</stringValue>
            </defaultValue>
            <fieldText>Why or Why Not?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_srNotAuth</name>
        <label>Copy 1 of srNotAuth</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_dtErrNoAuth</name>
            <fieldText>&lt;p&gt;Sorry, Project is in Committee Voting - Sales Rationales are not allowed at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>srAuth</name>
        <label>srAuth</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Sales_Team_values</targetReference>
        </connector>
        <fields>
            <name>dtAuth</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} {!$User.LastName} you are authorized&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>committeeMemeberRole</name>
            <fieldText>&lt;p&gt;You are entering justification for Project {!Loop_Override_Requests.Committee_Member_Role__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you are entering rationale on behalf of another user, please make sure to note that in the field matching their role.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Note: After entering your rationale, click the blue &quot;Finish&quot; button. You only need to click the &quot;Finish&quot; button once. After that, refresh your screen, and you will see your rationale displayed in the section below the rationale box.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Authorization</name>
            <defaultValue>
                <stringValue>{!Loop_Override_Requests.Justification__c}</stringValue>
            </defaultValue>
            <fieldText>Why should we proceed?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>srNotAuth</name>
        <label>srNotAuth</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtErrNoAuth</name>
            <fieldText>&lt;p&gt;Sorry, You are not Authorized to add comments: {!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>srThanks</name>
        <label>srThanks</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtThanks</name>
            <fieldText>&lt;p&gt;Thank you &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.FirstName} {!$User.LastName} &lt;/span&gt;for completing the Justification&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Override_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommitteeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
    <variables>
        <name>varOverrideCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
    <variables>
        <name>varSalesTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Override_Requests__c</objectType>
    </variables>
</Flow>
