utopia-project/force-app/main/default/flows/GPS_Delete_Articles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Delete_Draft_Articles</name>
        <label>Delete Draft Articles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>deleteKnowledgeArticles</actionName>
        <actionType>deleteKnowledgeArticles</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Records</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>IdsToDelete</elementReference>
            </value>
        </inputParameters>
        <nameSegment>deleteKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>navigateEverywhereLFA_Action_1</name>
        <label>navigateEverywhereLFA Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>recordURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Resolve_approval</name>
        <label>Resolve approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>Get_approval_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>deleting record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContentManager</name>
        <label>Assign as Content Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIsUserAContentManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Article_Value</name>
        <label>Assign Parent Article Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varParentKA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Draft_Article.KnowledgeArticleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarDraftAricle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Draft_Article</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Draft_Article.MasterVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Published_Article</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Delete_this_draft_AND_set_Reviewer_to_Archive</name>
        <choiceText>Delete this draft AND set Reviewer to Archive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete this draft AND set Reviewer to Archive</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletethisDraft</name>
        <choiceText>Delete this Draft</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Just_Delete_this_Draft</name>
        <choiceText>Just Delete this Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Just Delete this Draft</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Archive_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete and Archive</defaultConnectorLabel>
        <rules>
            <name>Delee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowDecison</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeletethisDraft</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparent_Knowledge_Review</targetReference>
            </connector>
            <label>Just Delete Drafts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Article_in_Approval</name>
        <label>Is Article in Approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approval</defaultConnectorLabel>
        <rules>
            <name>Yes_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Approvals.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_approval_id</targetReference>
            </connector>
            <label>Yes Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_running_user_assigned_the_review</name>
        <label>Is running user assigned the review?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>RunningUser18DigitId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Knowledge_Review.Record_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Knowledge_Review.Validation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RunningUser18DigitId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Knowledge_Review.Primary_Reviewer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Knowledge_Review.Validation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Primary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RunningUser18DigitId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Knowledge_Review.Secondary_Reviewer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Knowledge_Review.Validation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Secondary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsUserAContentManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Approvals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_content_manager</name>
        <label>Is user content manager?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Group_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Content_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Group_Members.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RunningUser18DigitId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ContentManager</targetReference>
            </connector>
            <label>Yes Content Manager</label>
        </rules>
    </decisions>
    <description>Custom Delete Article Button/Flow to support the Knowledge Review process
11/12 - updates based on requirements</description>
    <environments>Default</environments>
    <formulas>
        <description>{!$Organization.BaseUrl}/lightning/r/Knowledge__kav/{!varPublishedArticleId}/view</description>
        <name>recordURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/Knowledge__kav/&quot; &amp; {!varPublishedVersionId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>RunningUser18DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>GPS - Delete Articles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS - Delete Articles</label>
    <loops>
        <name>Add_Group_Members</name>
        <label>Add Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Content_Manager_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_user_content_manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_running_user_assigned_the_review</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Content_Manager_Users</name>
        <label>Get All Content Manager Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentManagers_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_approval_id</name>
        <label>Get approval id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Message_To_Resolve_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pending_Approvals.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Archive_User</name>
        <label>Get Archive User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reparent_Update_Knowledge_Review</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all content managers who have the ability to delete drafts on behalf of reviewers</description>
        <name>Get_ContentManagers_Group</name>
        <label>Get Content Managers Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Content_Manager_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utopia_Content_Managers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Article</name>
        <label>Get Draft Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Article_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Review</name>
        <label>Get Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentManagers_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gps_KnowledgeReview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Approvals</name>
        <label>Get Pending Approvals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Article_in_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Published_Article</name>
        <label>Get Published Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Knowledge_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentKA</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varPublishedArticleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPublishedVersionId</assignToReference>
            <field>MasterVersionId</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessage</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Reparent_Knowledge_Review</name>
        <label>Reparent Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Draft_Articles</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>KnowledgeArticle__c</field>
            <value>
                <elementReference>varPublishedVersionId</elementReference>
            </value>
        </inputAssignments>
        <object>gps_KnowledgeReview__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reparent_Update_Knowledge_Review</name>
        <label>Reparent and Update Knowledge Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Draft_Articles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>KnowledgeArticle__c</field>
            <value>
                <elementReference>varPublishedArticleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>Get_Archive_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>gps_KnowledgeReview__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Choices</name>
        <label>Display Choices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Draft_Article</targetReference>
        </connector>
        <fields>
            <name>FlowDecison</name>
            <choiceReferences>DeletethisDraft</choiceReferences>
            <choiceReferences>Delete_this_draft_AND_set_Reviewer_to_Archive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>&lt;p&gt;Something went wrong. &lt;/p&gt;&lt;p&gt;Check to make sure record is not pending approval. &lt;/p&gt;&lt;p&gt;Then please reach out to the Utopia team for troubleshooting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_To_Resolve_Approval</name>
        <label>Message To Resolve Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resolve_approval</targetReference>
        </connector>
        <fields>
            <name>DisplayApproveDeletion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This record is in an approval. To delete the article, click Next to resolve approval and proceed with deletion&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed with Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigateEverywhereLFA_Action_1</targetReference>
        </connector>
        <fields>
            <name>SucccessDisplayMessage</name>
            <fieldText>&lt;p&gt;Draft successfully deleted! &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Choices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>draft IDs assigned to deletion</description>
        <name>IdsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarDraftAricle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>varIsUserAContentManager</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varParentKA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishedArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishedVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
