utopia-project/force-app/main/default/flows/GPS_Project_Sync_Solution_Products_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_Multi_Select_Picklist</name>
        <label>Split Multi-Select Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectPicklistSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Product_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>picklistValues</name>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectPicklistSplitter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>productvalues</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Single_Solution_Product_to_Collection</name>
        <label>Add Single Solution Product to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewSolutionProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleSolutionProductRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_to_Solution_Product_Record</name>
        <label>Assign Product to Solution Product Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleSolutionProductRecord.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleSolutionProductRecord.Product_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Solution_Product_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Existing_Solution_Products</name>
        <label>Has Existing Solution Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Solution_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Solution_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Multi_Select_Picklist</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Keeps the Solution Products child object in sync with the Products in Solution multi-select picklist on GPS Projects.</description>
    <environments>Default</environments>
    <interviewLabel>GPS Project - Sync Solution Products - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Project - Sync Solution Products - After Save</label>
    <loops>
        <name>Loop_Product_Values</name>
        <label>Loop Product Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productvalues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_to_Solution_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Solution_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Solution_Product_Records</name>
        <label>Create Solution Product Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewSolutionProducts</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Solution_Products</name>
        <label>Delete Existing Solution Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Split_Multi_Select_Picklist</targetReference>
        </connector>
        <inputReference>Get_Existing_Solution_Products</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Solution_Products</name>
        <label>Get Existing Solution Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_Solution_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Solution_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Solution_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collects all new Solution Product records to insert</description>
        <name>NewSolutionProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solution_Product__c</objectType>
    </variables>
    <variables>
        <name>productvalues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds one Solution Product to create in the loop</description>
        <name>singleSolutionProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Solution_Product__c</objectType>
    </variables>
</Flow>
