utopia-project/force-app/main/default/flows/GPS_RFP_Update_Level_of_Effort.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_10</name>
        <label>Assign Level of Effort</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_20</name>
        <label>Assign Level of Effort</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_40</name>
        <label>Assign Level of Effort</label>
        <locationX>842</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_40</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_5</name>
        <label>Assign Level of Effort</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_60</name>
        <label>Assign Level of Effort</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead2_75</name>
        <label>Assign Level of Effort</label>
        <locationX>1370</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_2_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_75</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_10</name>
        <label>Assign Level of Effort</label>
        <locationX>358</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_20</name>
        <label>Assign Level of Effort</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_40</name>
        <label>Assign Level of Effort</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_40</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_5</name>
        <label>Assign Level of Effort</label>
        <locationX>94</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_60</name>
        <label>Assign Level of Effort</label>
        <locationX>1150</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_CoLead_75</name>
        <label>Assign Level of Effort</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Co_Lead_s_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_75</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_10</name>
        <label>Assign Level of Effort</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_20</name>
        <label>Assign Level of Effort</label>
        <locationX>622</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_40</name>
        <label>Assign Level of Effort</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_40</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_5</name>
        <label>Assign Level of Effort</label>
        <locationX>94</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_60</name>
        <label>Assign Level of Effort</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Level_of_Effort_Lead_75</name>
        <label>Assign Level of Effort</label>
        <locationX>1414</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GPS_Lead_s_Level_of_Effort_Require__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPS_Level_of_Effort_Update_75</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GPS_Level_of_Effort_Update_10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>GPS_Level_of_Effort_Update_20</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>GPS_Level_of_Effort_Update_40</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>40.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>GPS_Level_of_Effort_Update_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>GPS_Level_of_Effort_Update_60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>GPS_Level_of_Effort_Update_75</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Co_Lead_2_Effort_Updated_Was_Updated</name>
        <label>Co_Lead_2_Effort_Updated Was Updated</label>
        <locationX>1370</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Co_Lead_2_Effort_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_GPS_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Co_Lead_s_Effort_Required_0</targetReference>
            </connector>
            <label>Co-Lead 2 Effort Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Co_Lead_Effort_Updated to see if it was updated</description>
        <name>Co_Lead_Effort_Updated_Is_Updated</name>
        <label>Co_Lead_Effort_Updated Is Updated</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Co_Lead_2_Effort_Updated_Was_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Co_Lead_Effort_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_GPS_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Co_Lead_s_Effort_Required</targetReference>
            </connector>
            <label>Co-Lead Effort Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Co_Lead_s_Effort_Required</name>
        <label>GPS Co-Lead&apos;s Effort Required</label>
        <locationX>886</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Puppy_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puppy (XXS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_5</targetReference>
            </connector>
            <label>Puppy</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Chihuahua_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chihuahua (XS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_10</targetReference>
            </connector>
            <label>Chihuahua</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Beagle_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beagle (S)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_20</targetReference>
            </connector>
            <label>Beagle</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Collie_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collie (M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_40</targetReference>
            </connector>
            <label>Collie</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Doberman_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doberman (LG)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_60</targetReference>
            </connector>
            <label>Doberman</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Great_Dane_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_s_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Great Dane (XL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead_75</targetReference>
            </connector>
            <label>Great Dane</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Co_Lead_s_Effort_Required_0</name>
        <label>GPS Co-Lead&apos;s Effort Required</label>
        <locationX>842</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Puppy_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puppy (XXS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_5</targetReference>
            </connector>
            <label>Puppy</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Chihuahua_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chihuahua (XS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_10</targetReference>
            </connector>
            <label>Chihuahua</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Beagle_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beagle (S)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_20</targetReference>
            </connector>
            <label>Beagle</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Collie_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collie (M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_40</targetReference>
            </connector>
            <label>Collie</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Doberman_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doberman (LG)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_60</targetReference>
            </connector>
            <label>Doberman</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Great_Dane_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Co_Lead_2_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Great Dane (XL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_CoLead2_75</targetReference>
            </connector>
            <label>Great Dane</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if GPS_Lead_Effort_Required__c was updated</description>
        <name>GPS_Lead_Effort_Required_c_Updated_Decision</name>
        <label>GPS_Lead_Effort_Required__c Updated Decision</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Co_Lead_Effort_Updated_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Lead_Effort_Required_c_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_GPS_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Leads_Effort_Required</targetReference>
            </connector>
            <label>GPS_Lead_Effort_Required__c Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Leads_Effort_Required</name>
        <label>GPS Lead&apos;s Effort Required</label>
        <locationX>886</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Puppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puppy (XXS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_5</targetReference>
            </connector>
            <label>Puppy</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Chihuahua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chihuahua (XS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_10</targetReference>
            </connector>
            <label>Chihuahua</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Beagle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beagle (S)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_20</targetReference>
            </connector>
            <label>Beagle</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Collie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collie (M)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_40</targetReference>
            </connector>
            <label>Collie</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Doberman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doberman (LG)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_60</targetReference>
            </connector>
            <label>Doberman</label>
        </rules>
        <rules>
            <name>GPS_Lead_s_Effort_Required_Great_Dane</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_Lead_Effort_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Great Dane (XL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Level_of_Effort_Lead_75</targetReference>
            </connector>
            <label>Great Dane</label>
        </rules>
    </decisions>
    <description>Updates Lead fields Level of effort when Level of Effort Required is updated
04/19/2024: Updated flow to add entry criteria, then evaluate each field individually in decision nodes, and reference custom metadata that stores the dog size.</description>
    <environments>Default</environments>
    <interviewLabel>GPS RFP Update Level of Effort {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Update Level of Effort</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets RecordType object record where Developername = GPS_Project</description>
        <name>Get_GPS_Record_Type</name>
        <label>Get GPS Record Type</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPS_Lead_Effort_Required_c_Updated_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.GPS_Record_Type_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Project</name>
        <label>Copy 1 of Update Project</label>
        <locationX>886</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Co_Lead_Effort_Updated_Is_Updated</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Project</name>
        <label>Copy 2 of Update Project</label>
        <locationX>886</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Co_Lead_2_Effort_Updated_Was_Updated</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>842</locationX>
        <locationY>2039</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GPS_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GPS_Lead_Effort_Required__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead_s_Effort_Required__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead_2_Effort_Required__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
