utopia-project/force-app/main/default/flows/GPS_RFP_Project_Go_No_Go_Complete_Change_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>GPS_Project_Record_Type</name>
        <label>GPS Project Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_GPS_Project_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_GPS_Project_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Go_No_Go_Complete_Change_Date</targetReference>
            </connector>
            <label>Yes GPS Project Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Go_No_Go_Complete</name>
        <dataType>Date</dataType>
        <expression>if( {!$Record.Go_No_Go_Complete__c}= True , TODAY(), NULL )</expression>
    </formulas>
    <formulas>
        <name>Go_No_Go_Complete_Change_Date</name>
        <dataType>Date</dataType>
        <expression>if( {!$Record.Go_No_Go_Complete__c}= True , TODAY(), NULL )</expression>
    </formulas>
    <interviewLabel>GPS RFP Project Go/No-Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Project Go/No-Go Complete Change Date (OBSOLETE)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GPS_Project_Record_Type</name>
        <label>Get GPS Project Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPS_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPS_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>GPS_Go_No_Go_Complete_Change_Date</name>
        <label>GPS Go/No-Go Complete Change Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Go_No_Go_Complete_Change_Date__c</field>
            <value>
                <elementReference>Go_No_Go_Complete_Change_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GPS_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
