utopia-project/force-app/main/default/flows/gps_Set_Next_Review_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Recall_Open_Approvals</name>
        <label>Copy 1 of Recall Open Approvals</label>
        <locationX>2646</locationX>
        <locationY>458</locationY>
        <actionName>GPSRecallApprovalsBulk</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_List_Unvalidated_Articles2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvalProcessName</name>
            <value>
                <stringValue>GPS Knowledge Approval Publish</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Bulk recalled by content manager</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GPSRecallApprovalsBulk</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Updates outstanding KRs to Not Validated</description>
        <name>Copy_1_of_Update_Review_Statuses</name>
        <label>Copy 1 of Update Review Statuses</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <actionName>InvocableUpdateKnowledgeReview</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Review_Date_to_Variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>InvocableUpdateKnowledgeReview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_drafts_and_reviewes</name>
        <label>Create drafts and reviewes</label>
        <locationX>182</locationX>
        <locationY>1346</locationY>
        <actionName>InvocableCreateDraftsAndReviews</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_box_checked</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchSize</name>
        </inputParameters>
        <inputParameters>
            <name>nextReviewDate</name>
            <value>
                <elementReference>varNextReviewDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>publishStatusToTarget</name>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InvocableCreateDraftsAndReviews</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Knowledge_Article_Drafts_Action_1</name>
        <label>Delete Knowledge Article Drafts Action 1</label>
        <locationX>1854</locationX>
        <locationY>350</locationY>
        <actionName>GPSKnowledgeArticleDraftDeleter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createdBeforeDate</name>
        </inputParameters>
        <inputParameters>
            <name>deleteAllDrafts</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GPSKnowledgeArticleDraftDeleter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Recall_Open_Approvals</name>
        <label>Recall Open Approvals</label>
        <locationX>2646</locationX>
        <locationY>350</locationY>
        <actionName>GPSRecallApprovalsBulk</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Recall_Open_Approvals</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approvalProcessName</name>
            <value>
                <stringValue>GPS Knowledge Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Bulk recalled by content manager</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GPSRecallApprovalsBulk</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_emails</name>
        <label>Send emails</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <actionName>GPSEmailKnowledgeReviewersFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessEmailsSent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>triggerUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPSEmailKnowledgeReviewersFromFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Updates outstanding KRs to Not Validated</description>
        <name>Update_Review_Statuses</name>
        <label>Update Review Statuses</label>
        <locationX>2382</locationX>
        <locationY>782</locationY>
        <actionName>InvocableUpdateKnowledgeReview</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Mass_Close_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>InvocableUpdateKnowledgeReview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Count</name>
        <label>Assign Record Count</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_unvalidated_articles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Date_to_Variable</name>
        <label>Assign Review Date to Variable</label>
        <locationX>182</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>varNextReviewDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Next_Review_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActionSet_Next_Review_Date</name>
        <choiceText>Set Next Review Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Next Review Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_Content_Reviewers_to_Kickoff_Cycle</name>
        <choiceText>Email Content Reviewers to Kickoff Cycle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Content Reviewers to Kickoff Cycle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mass_Close_Open_Reviews</name>
        <choiceText>Mass Close Open Reviews</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass Close Open Reviews</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mass_Delete_Draft_Articles</name>
        <choiceText>Mass Delete Draft Articles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass Delete Draft Articles</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Go_back</name>
        <choiceText>No, Go back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Go back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Validated_Statuses</name>
        <choiceText>Mass update statuses to Unvalidated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mass update statuses to Unvalidated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Set_or_Update_Reviewer_Assignments</name>
        <choiceText>Set or Update Reviewer Assignments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set or Update Reviewer Assignments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_validate_all</name>
        <choiceText>Yes, validate all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, validate all</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>1414</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Recall_Open_Approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Close Open Reviews</defaultConnectorLabel>
        <rules>
            <name>Set_Next_Review_Datedec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActionSet_Next_Review_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Review</targetReference>
            </connector>
            <label>Set Next Review Date</label>
        </rules>
        <rules>
            <name>Assign_Reviewers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Set_or_Update_Reviewer_Assignments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_and_Update_Reviewer_Assignments</targetReference>
            </connector>
            <label>Assign Reviewers</label>
        </rules>
        <rules>
            <name>Alert_Content_Reviewers_of_Records_to_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email_Content_Reviewers_to_Kickoff_Cycle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Confirmation_Screen</targetReference>
            </connector>
            <label>Alert Content Reviewers of Records to Review</label>
        </rules>
        <rules>
            <name>Mass_Delete_Drafts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mass_Delete_Draft_Articles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Knowledge_Article_Drafts_Action_1</targetReference>
            </connector>
            <label>Mass Delete Drafts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_unvalidated_articles</name>
        <label>Are there unvalidated articles?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Screen_List_Unvalidated_Articles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarUnvalidatedReviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Review_Date_to_Variable</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Mass_Validate_open_reviews</name>
        <label>Copy 1 of Mass Validate open reviews?</label>
        <locationX>2646</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Action_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_mass_validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question_MassValidate2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Validated_Statuses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Statuses</targetReference>
            </connector>
            <label>Copy 1 of Yes, mass validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_box_checked</name>
        <label>Is box confirmation box checked?</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>No, box unchecked</defaultConnectorLabel>
        <rules>
            <name>Yes_box_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_understand_that_submitting_this_next_review_date_will_update_all_active_respon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>Yes, box checked</label>
        </rules>
    </decisions>
    <description>This flow allows content review team to mass set the date for article review 
1.29 - moved create record to sub flow
10.7 - update to create draft articles an invalidate reviews
10.8 bulk handling updates
10.21 added a recall approvals features
11.11 adding screens and fault paths</description>
    <environments>Default</environments>
    <formulas>
        <name>fCountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!varCount} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>gps_Set Next Review Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gps_Set Next Review Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Unvalidated_Knowledge_Review_Records</name>
        <label>Get Unvalidated Knowledge Review Records</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <object>gps_KnowledgeReview__c</object>
        <outputReference>rvarUnvalidatedReviews</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_drafts_and_reviewes</targetReference>
        </connector>
        <fields>
            <name>I_understand_that_submitting_this_next_review_date_will_update_all_active_respon</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand that submitting this next review date will create reviews for all reviewers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>1562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you! All reviews have been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Success_Screen</name>
        <label>Delete Success Screen</label>
        <locationX>1854</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaysuccess</name>
            <fieldText>&lt;p&gt;All drafts have successfully been deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Mass_Close_Success</name>
        <label>Display Mass Close Success</label>
        <locationX>2382</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayThanks</name>
            <fieldText>&lt;p&gt;Thank you, all reviews are now closed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;Something went wrong. Send this screenshot to Nicole Peters&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Copy_1_of_Recall_Open_Approvals.errorMessages}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Create_drafts_and_reviewes.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Delete_Knowledge_Article_Drafts_Action_1.errorDetails}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Recall_Open_Approvals.errorMessages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_List_Unvalidated_Articles</name>
        <label>Screen List Unvalidated Articles</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Update_Review_Statuses</targetReference>
        </connector>
        <fields>
            <name>UnvalidatedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 30, 30); font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;You have {!varCount} Knowledge Reviews that have a status other than Validated&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To proceed the system will mark these reviews as &lt;strong&gt;Not Validated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Mass Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_List_Unvalidated_Articles2</name>
        <label>Screen List Unvalidated Articles2</label>
        <locationX>2646</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Mass_Validate_open_reviews</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_UnvalidatedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 30, 30); font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;You have {!varCount} Knowledge Reviews that have a status other than Validated&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To add a banner to these records, update their status to Unvalidated&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>question_MassValidate2</name>
            <choiceReferences>Not_Validated_Statuses</choiceReferences>
            <choiceReferences>No_Go_back</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update update outstanding reviews to Not Validated</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Action_Screen</name>
        <label>Select Action Screen</label>
        <locationX>1414</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>StartMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Content Manager Tools&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>ActionSet_Next_Review_Date</choiceReferences>
            <choiceReferences>Mass_Close_Open_Reviews</choiceReferences>
            <choiceReferences>Set_or_Update_Reviewer_Assignments</choiceReferences>
            <choiceReferences>Email_Content_Reviewers_to_Kickoff_Cycle</choiceReferences>
            <choiceReferences>Mass_Delete_Draft_Articles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Confirmation_Screen</name>
        <label>Send Email Confirmation Screen</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_emails</targetReference>
        </connector>
        <fields>
            <name>ConfirmSendEmailmessage</name>
            <fieldText>&lt;p&gt;You are about to send an email to all current record owners. Click Next to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Next_Review</name>
        <label>Set Next Review</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Unvalidated_Knowledge_Review_Records</targetReference>
        </connector>
        <fields>
            <name>SetDateDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; Set next review date  and create draft articles to kick off review cycle:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Set_Next_Review_Date</name>
            <dataType>Date</dataType>
            <fieldText>Set Next Review Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Draft_Articles</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Draft Articles</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessEmailsSent</name>
        <label>SuccessEmailsSent</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SentEmails</name>
            <fieldText>&lt;p&gt;Thank You! All Emails have been sent&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Action_Screen</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Create_and_Update_Reviewer_Assignments</name>
        <label>Create and Update Reviewer Assignments</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <flowName>gps_Create_and_Update_Reviewer_Assignments</flowName>
    </subflows>
    <variables>
        <name>ArticlesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>collKnowledgeArticleAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_Knowledge_Reviewer_Assignments__c</objectType>
    </variables>
    <variables>
        <name>collNewKnowledgeReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>currentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection of unique email address to send notice to record owners</description>
        <name>RecordOwnerEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarUnvalidatedReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>SingleKnowledgeArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varArticleId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varKnowledgeReviewCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>varKnowlegdeReviewq</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>varNextReviewDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
