utopia-project/force-app/main/default/flows/gps_Content_Review_Complete_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Process2</name>
        <label>Approval Process 2</label>
        <locationX>2954</locationX>
        <locationY>1538</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Assign_KR_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>varApprovalRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approve_Approval_Process</name>
        <label>Approve Approval Process</label>
        <locationX>1414</locationX>
        <locationY>1538</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Secondary_Approver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>varApprovalRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approval_Process_2</name>
        <label>Copy 1 of Approval Process 2</label>
        <locationX>4538</locationX>
        <locationY>1322</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>varApprovalRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>because secondary reviewer does not need to enter an approval process for their own updates, the article can automatically be published</description>
        <name>Publish_Knowledge_Article</name>
        <label>Publish Knowledge Article</label>
        <locationX>3482</locationX>
        <locationY>1538</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <connector>
            <targetReference>Copy_1_of_Assign_KR_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>cvarKnowledgeArticletoPublish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE_NEW_VERSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>publishKnowledgeArticles</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RejectApprovalProcess</name>
        <label>Reject Approval Process</label>
        <locationX>1810</locationX>
        <locationY>1538</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayRejectionComments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>varApprovalRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RejectApprovalProcess2</name>
        <label>Reject Approval Provess</label>
        <locationX>3218</locationX>
        <locationY>1430</locationY>
        <actionName>GPS_ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_KR_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>varApprovalRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varSecondaryReviewer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>creates an approval for primary reviewer</description>
        <name>Submit_for_Primary_Review_Approval</name>
        <label>Submit for Primary Review Approval</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Review_Comments_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Permission_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varPrimaryReviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>cApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>creates an approval for primary reviewer out of cycle</description>
        <name>Submit_for_Primary_Review_Approval_offcycle</name>
        <label>Submit for Primary Review Approval</label>
        <locationX>4274</locationX>
        <locationY>1214</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>screen_Submitted_for_Review</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varPrimaryReviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>cPublishApprovalProcess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>creates an approval for secondary reviewer</description>
        <name>Submit_for_Secondary_Review_Approval</name>
        <label>Submit for Secondary Review Approval</label>
        <locationX>1282</locationX>
        <locationY>1754</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_Review_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varSecondaryReviewer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>cPublishApprovalProcess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Record_Variables</name>
        <label>Assign Current Record Variables</label>
        <locationX>3248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varPublishedArticleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Knowledge_Article.KnowledgeArticleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KR_Variables</name>
        <label>Assign KR Variables</label>
        <locationX>2090</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varKnowledgeReviewStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textAllReviewerComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge_Review_Status2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Reviewer</name>
        <label>Assign Primary Reviewer</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPrimaryReviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Primary_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Primary_Review_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Reviewer_offcycle</name>
        <label>Assign Primary Reviewer</label>
        <locationX>4274</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varPrimaryReviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssignedPrimaryReviewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Primary_Review_Approval_offcycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Publish_Article_Variables</name>
        <label>Assign Publish Article Variables</label>
        <locationX>3482</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>cvarKnowledgeArticletoPublish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Knowledge_Article.ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Knowledge_Article.Last_Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Record_Owner__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Knowledge_Article.Last_Reviewed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Next_Review_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Status</name>
        <label>Assign Review Status</label>
        <locationX>1843</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varKnowledgeReviewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Secondary Reviewer	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Comments_primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Reviewer</name>
        <label>Assign Secondary Reviewer</label>
        <locationX>1843</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varSecondaryReviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Secondary_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validated_Status</name>
        <label>Assign Validated Status</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varKnowledgeReviewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Comments_primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignKRvariables</name>
        <label>Assign KR Variables</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Primary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>My_Review_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateKnowledgeReviewStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_KR_Variables</name>
        <label>Copy 1 of Assign KR Variables</label>
        <locationX>3515</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>My_Review_Comments_primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Knowledge_Review_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Publish_Article_Variables</name>
        <label>Copy 1 of Assign Publish Article Variables</label>
        <locationX>4538</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>cvarKnowledgeArticletoPublish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Knowledge_Article.ValidationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Knowledge_Article.Last_Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Publish_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_KR_Variables</name>
        <label>Copy 1 of Copy 1 of Assign KR Variables</label>
        <locationX>3218</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Primary Reviewer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>My_Review_Comments_primary</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_KR_Variables</name>
        <label>Copy 2 of Assign KR Variables</label>
        <locationX>1810</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review by Owner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Knowledge_Review_Record.Review_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textAllReviewerComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge_Review_Status_reject</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>name of knowledge approval process</description>
        <name>cApprovalProcessName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPS_Knowledge_Approval</stringValue>
        </value>
    </constants>
    <constants>
        <description>name of the approval process that publishes an article</description>
        <name>cPublishApprovalProcess</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GPS_Knowledge_Approval_publish</stringValue>
        </value>
    </constants>
    <decisions>
        <description>checks to see if the prior reviewer edited as draft, thus kicking off the review process</description>
        <name>Approval_Found</name>
        <label>Approval Found?</label>
        <locationX>1843</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_Review_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, first edit</defaultConnectorLabel>
        <rules>
            <name>Yes_approval_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessInstanceId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectAction</targetReference>
            </connector>
            <label>Yes, approval found</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see if the prior reviewer edited as draft, thus kicking off the review process</description>
        <name>Approval_Found2</name>
        <label>Approval Found?</label>
        <locationX>3284</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Publish_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, first edit</defaultConnectorLabel>
        <rules>
            <name>Yes_approval_found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessInstanceId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SelectAction</targetReference>
            </connector>
            <label>Yes, approval found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved</name>
        <label>Approved?</label>
        <locationX>1612</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>RejectApprovalProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>YesApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aprrove_RejectButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Approval_Process</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Approved</name>
        <label>Copy 2 of Approved?</label>
        <locationX>3086</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>RejectApprovalProcess2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_RejectButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Article</targetReference>
            </connector>
            <label>Copy 1 of Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_article_a_draft</name>
        <label>Is article a draft?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Review_Comments_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, published</defaultConnectorLabel>
        <rules>
            <name>Yes_drat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Article.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Reviewer</targetReference>
            </connector>
            <label>Yes, draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_article_a_draft_3</name>
        <label>Is article a draft?</label>
        <locationX>3515</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>No_Updates_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, published</defaultConnectorLabel>
        <rules>
            <name>Yes_isdraft3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Article.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval2</targetReference>
            </connector>
            <label>Yes, draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Isarticlestilldraft</name>
        <label>Is article a draft?</label>
        <locationX>2090</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Secondary_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, published</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Article.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Secondary_Reviewer</targetReference>
            </connector>
            <label>Copy 1 of Yes, draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Off_Cycle_Approval_Found</name>
        <label>Off Cycle Approval Found?</label>
        <locationX>4406</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Publish_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, final approval</defaultConnectorLabel>
        <rules>
            <name>No_first_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcessInstanceId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Knowledge_Assignment</targetReference>
            </connector>
            <label>No, first edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Reviewer_Assigned</name>
        <label>Primary Reviewer Assigned?</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Isarticlestilldraft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No primary reviewer assigned</defaultConnectorLabel>
        <rules>
            <name>yes_primaryAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Primary_Reviewer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_article_a_draft</targetReference>
            </connector>
            <label>Yes, primary assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the review is in or out of cycle. If no active knowledge review is found then the update is out of cycle</description>
        <name>Related_Review_Record</name>
        <label>Related Review Record?</label>
        <locationX>3248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_offcycle_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, out of cycle</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Cycle_Reviewq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_is_reviewing_article</targetReference>
            </connector>
            <label>Yes, In Cycle Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Approver</name>
        <label>Secondary Approver?</label>
        <locationX>1414</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Publish_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No secondary approver</defaultConnectorLabel>
        <rules>
            <name>Yes_secondary_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Secondary_Reviewer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Secondary_Review_Approval</targetReference>
            </connector>
            <label>Yes, secondary Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Reviewer</name>
        <label>Secondary Reviewer?</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Validated_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, secondary reviewer2</defaultConnectorLabel>
        <rules>
            <name>Yes_secondary_reviewer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Secondary_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Comments_primary</targetReference>
            </connector>
            <label>Yes, secondary reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_reviewing_article</name>
        <label>Who is reviewing article?</label>
        <locationX>2090</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_article_a_draft_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Reviewer</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Reviewer_Assigned</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
        <rules>
            <name>Primary_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Knowledge_Review_Record.Validation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review by Primary Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isarticlestilldraft</targetReference>
            </connector>
            <label>Primary Reviewer</label>
        </rules>
    </decisions>
    <description>Flow for the content review process

2.09 - removing dependency on primary reviewer
3.18 - adding fault line for approval process error. nothing else (np)
4.21 - updating approval process to fix a bug (np)</description>
    <environments>Default</environments>
    <formulas>
        <name>fDynamicURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Knowledge__kav/&apos; &amp; {!recordId} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>gps Content Review_Complete Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gps Content Review_Complete Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval</name>
        <label>Get Approval</label>
        <locationX>1843</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>varProcessInstanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval2</name>
        <label>Get Approval 2</label>
        <locationX>3284</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Step2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>varProcessInstanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Step</name>
        <label>Get Approval Step</label>
        <locationX>1843</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProcessInstanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Primary_Reviewer__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>varApprovalRequestId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Step2</name>
        <label>Copy 1 of Get Approval Step</label>
        <locationX>3284</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProcessInstanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Knowledge_Review_Record.Secondary_Reviewer__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>varApprovalRequestId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>3248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Record_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Assignment</name>
        <label>Get Knowledge Review Assignment</label>
        <locationX>4274</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Primary_Reviewer_offcycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <outputAssignments>
            <assignToReference>varAssignedPrimaryReviewer</assignToReference>
            <field>Primary_Reviewer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_offcycle_approval</name>
        <label>Get off cycle approal</label>
        <locationX>4406</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OffCycle_Approval_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>varProcessInstanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_OffCycle_Approval_Step</name>
        <label>Get Off Cycle Approval Step</label>
        <locationX>4406</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Off_Cycle_Approval_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProcessInstanceId</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>varApprovalRequestId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Article</name>
        <label>Get Parent Article</label>
        <locationX>3248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Knowledge_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublishedArticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Knowledge_Review_Record</name>
        <label>Get Related Knowledge Review Record</label>
        <locationX>3248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Review_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Article.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Validated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gps_KnowledgeReview__c</object>
        <queriedFields>Validation_Status__c</queriedFields>
        <queriedFields>Review_Comments__c</queriedFields>
        <queriedFields>Primary_Reviewer__c</queriedFields>
        <queriedFields>Record_Owner__c</queriedFields>
        <queriedFields>Secondary_Reviewer__c</queriedFields>
        <queriedFields>Next_Review_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Knowledge_Review_Status</name>
        <label>Copy 1 of Update Knowledge Review Status</label>
        <locationX>3515</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Success_Screen_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_next_assigned_reviewer3</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Knowledge_Review_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Knowledge_Article</name>
        <label>Update Knowledge Article</label>
        <locationX>3482</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Publish_Knowledge_Article</targetReference>
        </connector>
        <inputReference>Get_Knowledge_Article</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Knowledge_Review_Status2</name>
        <label>Update Knowledge Review Status</label>
        <locationX>2090</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Success_Screen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_next_assigned_reviewer2</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Knowledge_Review_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Knowledge_Review_Status_reject</name>
        <label>Update Knowledge Review Status Rejection</label>
        <locationX>1810</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>displayRejectionScreen</targetReference>
        </connector>
        <inputReference>Get_Related_Knowledge_Review_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateKnowledgeReviewStatus</name>
        <label>Update Knowledge Review Status</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_next_assigned_reviewwer</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Knowledge_Review_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_for_next_assigned_reviewer2</name>
        <label>Check for next assigned reviewer2</label>
        <locationX>2690</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DisplayMessage1</name>
            <fieldText>&lt;p&gt;{!textErrorMessage1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_for_next_assigned_reviewer3</name>
        <label>Check for next assigned reviewer3</label>
        <locationX>4010</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_DisplayMessage1</name>
            <fieldText>&lt;p&gt;{!textErrorMessage1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_for_next_assigned_reviewwer</name>
        <label>Check for next assigned reviewwer</label>
        <locationX>754</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMessage1</name>
            <fieldText>&lt;p&gt;{!textErrorMessage1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note if your review comment exceeds 255 characters, make it a chatter post.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Publish_Article</name>
        <label>Copy 1 of Copy 1 of Publish Article</label>
        <locationX>4538</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Publish_Article_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_ConfirmPublishScreen</name>
            <fieldText>&lt;p&gt;By completing this review you are automatically publishing this draft article. Click Publish to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Publish Draft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Publish_Article</name>
        <label>Copy 1 of Publish Article</label>
        <locationX>3482</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Publish_Article_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ConfirmPublishScreen</name>
            <fieldText>&lt;p&gt;By completing this review you are automatically publishing this draft article. Click Publish to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Publish Draft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_SelectAction</name>
        <label>SelectAction</label>
        <locationX>3086</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Approved</targetReference>
        </connector>
        <fields>
            <name>DisplayMessage_SelectOutcome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please select an action for Draft Article:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_RejectButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Reject&quot;,&quot;value&quot;:&quot;Reject&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Publish_Article</name>
        <label>Copy 2 of Publish Article</label>
        <locationX>4538</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Approval_Process_2</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_ConfirmPublishScreen</name>
            <fieldText>&lt;p&gt;By completing this review you are automatically publishing this draft article. Click Publish to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Publish Draft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayRejectionComments</name>
        <label>Rejection Comments</label>
        <locationX>1810</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_KR_Variables</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_My_Review_Comments_primary</name>
            <fieldText>My Review Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>displayRejectionScreen</name>
        <label>Rejection Screen Confirmation</label>
        <locationX>1810</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayRejectionMessagePrimaryRev</name>
            <fieldText>&lt;p&gt;Thank you the rejected article has been sent back to the owner for updates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Updates_Confirmation_Screen</name>
        <label>No Updates Confirmation Screen</label>
        <locationX>3746</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_KR_Variables</targetReference>
        </connector>
        <fields>
            <name>This_article_requires_no_updates</name>
            <dataType>Boolean</dataType>
            <fieldText>This article requires no updates</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permission_Error</name>
        <label>Permission Error</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PermissionErrorMessage</name>
            <fieldText>&lt;p&gt;Something went wrong. Likely due to permissions. Reach out to the Utopia team for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Publish_Article</name>
        <label>Publish Article</label>
        <locationX>2954</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Process2</targetReference>
        </connector>
        <fields>
            <name>ConfirmPublishScreen</name>
            <fieldText>&lt;p&gt;By completing this review you are automatically publishing this draft article. Click Publish to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Publish Draft</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Comments_owner</name>
        <label>Review Comments from Owner</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignKRvariables</targetReference>
        </connector>
        <fields>
            <name>My_Review_Comments</name>
            <fieldText>My Review Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Comments_primary</name>
        <label>Review Comments Primary</label>
        <locationX>2090</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_KR_Variables</targetReference>
        </connector>
        <fields>
            <name>My_Review_Comments_primary</name>
            <fieldText>My Review Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Submitted_for_Review</name>
        <label>screen Submitted for Review</label>
        <locationX>4274</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySubmissionforApproval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Your review has been sent to &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varAssignedPrimaryReviewer} &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;for approval&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!fDynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;Click Here&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to go back to your record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectAction</name>
        <label>SelectAction</label>
        <locationX>1612</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approved</targetReference>
        </connector>
        <fields>
            <name>DoYouApprove1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Do you want to approve this review?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Aprrove_RejectButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Reject&quot;,&quot;value&quot;:&quot;Reject&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you! Your review is complete. &lt;a href=&quot;{!fDynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to navigate back to your original article.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen2</name>
        <label>Success Screen 2</label>
        <locationX>2090</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you! Your review is complete. &lt;a href=&quot;{!fDynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to navigate back to your original article.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_3</name>
        <label>Success Screen 3</label>
        <locationX>3248</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you! Your review is complete. &lt;a href=&quot;{!fDynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to navigate back to your original article.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>appends new comments to existing reviewer comments</description>
        <name>textAllReviewerComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Related_Knowledge_Review_Record.Review_Comments__c} + &lt;/p&gt;&lt;p&gt;{!My_Review_Comments_primary} + {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>error message to check for reviewers</description>
        <name>textErrorMessage1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Whoops! Something went wrong. An email has been sent to your Admin but please check to make sure your review record has a Primary and Secondary Reviewer assigned. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>cvarKnowledgeArticletoPublish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarKnowledgeReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_KnowledgeReview__c</objectType>
    </variables>
    <variables>
        <name>varApprovalRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varArticlestoPublish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>gets primary reviewer from KR Assignment to assign approval during OUT OF CYCLE review</description>
        <name>varAssignedPrimaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKAVStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKnowledgeReviewID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKnowledgeReviewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKR_ValidationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishedArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSecondaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
