utopia-project/force-app/main/default/flows/GPS_Test_Temporary_Create_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>GPS Test - Temporary Create Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Test - Temporary Create Assignments</label>
    <loops>
        <name>Loop_Articles</name>
        <label>Loop Articles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>KnowledgeArticleVersions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Archived</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Assignment</name>
        <label>Create New Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Articles</targetReference>
        </connector>
        <inputAssignments>
            <field>KnowledgeArticle__c</field>
            <value>
                <elementReference>Loop_Articles.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reviewer__c</field>
            <value>
                <elementReference>Get_Archived_Assignment.Primary_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>Get_Archived_Assignment.Record_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Reviewer__c</field>
            <value>
                <elementReference>Get_Archived_Assignment.Secondary_Reviewer__c</elementReference>
            </value>
        </inputAssignments>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Archived</name>
        <label>Get Archived Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Archived_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Articles.KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <sortField>ArchivedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Archived_Assignment</name>
        <label>Get Archived Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KnowledgeArticle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Archived.KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge</name>
        <label>Get Knowledge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Articles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignment_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>KnowledgeArticleVersions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterVersionId</queriedFields>
        <queriedFields>KnowledgeArticleId</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>KnowledgeArticleVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
