utopia-project/force-app/main/default/flows/GPS_Get_Knowledge_Article_for_Employee_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Prompt_Instructions_1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Prompt Instructions 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Use {!KnowledgeArticle.Answer__c} as the knowledge article to translate
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>For translating knowledge articles - it gets the KA that hydrates the prompt</description>
    <environments>Default</environments>
    <interviewLabel>GPS Get Knowledge Article for Employee Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Get Knowledge Article for Employee Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Prompt_Instructions_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>af47d98e-712b-4e9c-baf7-99fc8a0558f2</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>KnowledgeArticle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Answer__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>FlexTemplate://GPS_Translate_Articles</name>
            <capabilityName>FlexTemplate://GPS_Translate_Articles</capabilityName>
            <inputs>
                <name>Knowledge_Article</name>
                <capabilityInputName>Knowledge_Article</capabilityInputName>
                <dataType>SOBJECT://Knowledge__kav</dataType>
                <isCollection>false</isCollection>
            </inputs>
            <inputs>
                <name>Language</name>
                <capabilityInputName>Language</capabilityInputName>
                <dataType>String</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>KnowledgeArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
