utopia-project/force-app/main/default/flows/gps_Create_and_Update_Reviewer_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Primay_Reviewer</name>
        <label>Assign Primary Reviewer</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Primaryassignments.Primary_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewReviewer.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordOwner</name>
        <label>Assign Record Owner</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_assignments1.Record_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewReviewer.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_torecordvariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Reviewer</name>
        <label>Assign Secondary Reviewer</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_throughsecondary_assignments.Secondary_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewReviewer.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_Collection</name>
        <label>Assign to Update Collection</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collUpdatedKnowledgeAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_throughsecondary_assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_throughsecondary_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_torecordvariable</name>
        <label>Assign to Record Variable</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collUpdatedKnowledgeAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_assignments1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_assignments1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Collection</name>
        <label>Assign Update Collection</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collUpdatedKnowledgeAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Primaryassignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Primaryassignments</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateNewAssignment</name>
        <choiceText>Create New Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Go_Back</name>
        <choiceText>No! Go Back!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No! Go Back!</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_I_only_want_to_update_some_records</name>
        <choiceText>No, I only want to update some records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, I only want to update some records</stringValue>
        </value>
    </choices>
    <choices>
        <name>Primary_Reviewer</name>
        <choiceText>Primary Reviewer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary Reviewer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Owner</name>
        <choiceText>Record Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secondary_Reviewer</name>
        <choiceText>Secondary Reviewer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary Reviewer</stringValue>
        </value>
    </choices>
    <choices>
        <name>updateCurrentAssignment</name>
        <choiceText>Update Current Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Current Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_update_all_records_with_new_reviewer</name>
        <choiceText>Yes, update all records with new reviewer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, update all records with new reviewer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_new_assignment</name>
        <label>Create new assignment?</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Select_reviewer_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeclectanAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewAssignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_AssignmentScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_does_user_want_to_do</name>
        <label>What does user want to do?</label>
        <locationX>754</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Go Back</defaultConnectorLabel>
        <rules>
            <name>Update_all_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_update_all_records_with_new_reviewer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AllRecords_Action</targetReference>
            </connector>
            <label>Update all records</label>
        </rules>
        <rules>
            <name>Update_some_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_I_only_want_to_update_some_records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Some_Message</targetReference>
            </connector>
            <label>Update some records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_reviewer_are_we_updating</name>
        <label>Which reviewer are we updating?</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Knowledge_Assignment_Secondary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Reviewer</defaultConnectorLabel>
        <rules>
            <name>Record_Owner_reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reviewer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record_Owner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KnowledgeAssignment_Owner</targetReference>
            </connector>
            <label>Record Owner</label>
        </rules>
        <rules>
            <name>PrimaryReviewerSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Reviewer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Primary_Reviewer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Knowledge_Assignment_primary</targetReference>
            </connector>
            <label>Primary Reviewer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>gps Create and Update Reviewer Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gps Create and Update Reviewer Assignments</label>
    <loops>
        <name>Loop_through_assignments1</name>
        <label>Loop through assignments</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>collKnowledgeAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RecordOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Action_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Primaryassignments</name>
        <label>Loop through assignments</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <collectionReference>collKnowledgeAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Primay_Reviewer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Action_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_throughsecondary_assignments</name>
        <label>Loop through secondary assignments</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <collectionReference>collKnowledgeAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Secondary_Reviewer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Action_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>varCreateNewAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Knowledge_Assignment_Secondary</name>
        <label>Get Knowledge Assignment Secondary</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_throughsecondary_assignments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Secondary_Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookupCurrentReviewer.recordId</elementReference>
            </value>
        </filters>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <outputReference>collKnowledgeAssignments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_KnowledgeAssignment_Owner</name>
        <label>Get Knowledge Assignment Owner</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_assignments1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookupCurrentReviewer.recordId</elementReference>
            </value>
        </filters>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <outputReference>collKnowledgeAssignments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Knowledge_Assignment_primary</name>
        <label>Get Knowledge Assignment Primary</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Primaryassignments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Primary_Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookupCurrentReviewer.recordId</elementReference>
            </value>
        </filters>
        <object>gps_Knowledge_Reviewer_Assignments__c</object>
        <outputReference>collKnowledgeAssignments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_AllRecords_Action</name>
        <label>Update All Records</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <inputReference>collUpdatedKnowledgeAssignments</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Action_Screen</name>
        <label>Confirm Action Screen</label>
        <locationX>754</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_does_user_want_to_do</targetReference>
        </connector>
        <fields>
            <name>ConfirmReplacements</name>
            <fieldText>&lt;p&gt;Are you sure you want to replace all articles assigned to &lt;strong&gt;{!LookupCurrentReviewer.recordName} &lt;/strong&gt;with &lt;strong&gt;{!NewReviewer.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectConfirmation</name>
            <choiceReferences>Yes_update_all_records_with_new_reviewer</choiceReferences>
            <choiceReferences>No_I_only_want_to_update_some_records</choiceReferences>
            <choiceReferences>No_Go_Back</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_AssignmentScreen</name>
        <label>Create New Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Assignment</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCreateNewAssignment.KnowledgeArticle__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCreateNewAssignment.Record_Owner__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCreateNewAssignment.Primary_Reviewer__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCreateNewAssignment.Secondary_Reviewer__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_reviewer_to_update</name>
        <label>Select reviewer to update</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_reviewer_are_we_updating</targetReference>
        </connector>
        <fields>
            <name>Select_Reviewer_Type</name>
            <choiceReferences>Record_Owner</choiceReferences>
            <choiceReferences>Primary_Reviewer</choiceReferences>
            <choiceReferences>Secondary_Reviewer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Reviewer Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LookupCurrentReviewer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Reviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lookup Current Reviewer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>gps_Knowledge_Reviewer_Assignments__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewReviewer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Reviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign New Reviewer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>gps_Knowledge_Reviewer_Assignments__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Some_Message</name>
        <label>Update Some Message</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LaterFeatureMessage</name>
            <fieldText>&lt;p&gt;This will be a 2.0 feature&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_do_you_need_to_do</name>
        <label>What do you need to do</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_assignment</targetReference>
        </connector>
        <fields>
            <name>SeclectanAction</name>
            <choiceReferences>updateCurrentAssignment</choiceReferences>
            <choiceReferences>CreateNewAssignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select An Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_do_you_need_to_do</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collKnowledgeAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_Knowledge_Reviewer_Assignments__c</objectType>
    </variables>
    <variables>
        <name>collUpdatedKnowledgeAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_Knowledge_Reviewer_Assignments__c</objectType>
    </variables>
    <variables>
        <name>rvarNewReviewer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_Knowledge_Reviewer_Assignments__c</objectType>
    </variables>
    <variables>
        <name>varCreateNewAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gps_Knowledge_Reviewer_Assignments__c</objectType>
    </variables>
    <variables>
        <name>VarNewOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewPrimary</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewSecondaryReviewer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
