utopia-project/force-app/main/default/flows/GPS_RFP_Go_No_Go_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Checks_if_the_selected_category_has_questions_with_additional_comments_Action</name>
        <label>Checks if the selected category has questions with additional comments.</label>
        <locationX>1678</locationX>
        <locationY>2522</locationY>
        <actionName>GPS_RFPQuestionListingByCategory</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Should_category_be_skiped</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryName</name>
            <value>
                <elementReference>Loop_Thru_Categories.Category_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gpsProjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rfpSalesRole</name>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_RFPQuestionListingByCategory</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Commit operations until here.</description>
        <name>Commit_Transaction</name>
        <label>Commit Transaction</label>
        <locationX>1194</locationX>
        <locationY>6476</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Remove_Duplicate_Answers</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Remove_Duplicate_Answers</name>
        <label>Remove Duplicate Answers</label>
        <locationX>1194</locationX>
        <locationY>6584</locationY>
        <actionName>GPS_RFPQuestionListingController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>gpsProjectIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_RFPQuestionListingController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the answers to the questions to a list of answers object</description>
        <name>Assign_Answer_to_Questions</name>
        <label>Assign Answer to Questions</label>
        <locationX>2426</locationX>
        <locationY>4028</locationY>
        <assignmentItems>
            <assignToReference>GNGAnswertoQuestionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GNG_Selected_Answers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreGNG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPSRFPQuestions.scoreGNG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GNG_Question_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_No_Override</name>
        <label>Assign Answers to No Override</label>
        <locationX>732</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-90.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Override_Answer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_No_Override_SE</name>
        <label>Assign Answers to No Override</label>
        <locationX>1260</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-90.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Record</name>
        <label>Assign Answers to Record</label>
        <locationX>2426</locationX>
        <locationY>3920</locationY>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.GPS_Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Answer_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverAllGNGScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.RFP_Sales_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Comments2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Response_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Response_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNG_Selected_Answers.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Additional_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Answer_to_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Yes_Override</name>
        <label>Assign Answers to Yes Override</label>
        <locationX>468</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yesOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Override_Answer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_to_Yes_Override_NF</name>
        <label>Assign Answers to Yes Override</label>
        <locationX>996</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>overrideQuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yesOverrideAnswerText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Answers_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Item_Score</name>
        <label>Assign Current Item Score</label>
        <locationX>952</locationX>
        <locationY>5168</locationY>
        <assignmentItems>
            <assignToReference>seCurrentItemScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SE_Scores.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_SE_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the update answers to the questions to a list of answers object</description>
        <name>Assign_Updates_Answer_to_Questions</name>
        <label>Assign Updates Answer to Questions</label>
        <locationX>2778</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>GNGUpdateAnswertoQuestionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Answers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_GNG_Question_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Recordsets</name>
        <label>Clean Recordsets</label>
        <locationX>864</locationX>
        <locationY>6284</locationY>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>overrideAnswerRecordUpdate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Answer_to_Questions_List</name>
        <label>Clear Answer to Questions List</label>
        <locationX>2074</locationX>
        <locationY>4436</locationY>
        <assignmentItems>
            <assignToReference>GNGAnswertoQuestionsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GNGAnswertoQuestionsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GNGUpdateAnswertoQuestionsList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>GNGUpdateAnswertoQuestionsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_all_categories_skipped</name>
        <label>No all categories skipped</label>
        <locationX>2074</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>allCategoriesSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_No_Go_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Count</name>
        <label>Set AE Count</label>
        <locationX>930</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.of_AE_Questions__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_RFx_Type_AE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_with_Question_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the BOM on the project record for the RFx</description>
        <name>Set_Project_BOM</name>
        <label>Set Project BOM</label>
        <locationX>1106</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>NewProject.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plProductSelection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the query values needed to pull the correct questions</description>
        <name>Set_Question_Query_Variables</name>
        <label>Set Question Query Variables</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rfxType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Org62_Account_Locked_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scoreGNG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.GNG_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Answer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SE_Count</name>
        <label>Set SE Count</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.of_SE_Questions__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_RFx_Type_SE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Project_with_Question_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Role</name>
        <label>Set User Role</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>userRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rbSPRoleAccountExec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_of_GNG_Questions_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the User Role based on user Input</description>
        <name>Set_User_Role_from_Input</name>
        <label>Set User Role from Input</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>userRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rbRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_of_GNG_Questions_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_SE_Score</name>
        <label>Total SE Score</label>
        <locationX>952</locationX>
        <locationY>5276</locationY>
        <assignmentItems>
            <assignToReference>seTotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>seCurrentItemScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SE_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Answers_to_Record</name>
        <label>Update Answers to Record</label>
        <locationX>2778</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.RFP_Pursuit_Question_Bank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.RFP_Answer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.RFP_Answer_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverAllGNGScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Answers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Answers.GPS_Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.RFP_Sales_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Comments2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_GNG_Question_Answers.Comments2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Existing_Answers.Response_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Answers.Response_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updates_Answer_to_Questions</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Account Executive Role</description>
        <name>rbSPRoleAccountExec</name>
        <choiceText>Account Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Executive</stringValue>
        </value>
    </choices>
    <choices>
        <description>Solution Engineer role</description>
        <name>rbSPRoleSolutionEng</name>
        <choiceText>Solution Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution Engineer</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Due to bug with query on multiselect, filter on the RFx Type here</description>
        <name>Filter_RFx_Type_AE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter RFx Type - AE</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_RFx_Type_AE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Count_of_Questions_AE</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_RFx_Type_AE.RFx_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rfxType</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_AE_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Due to bug with query on multiselect, filter on the RFx Type here</description>
        <name>Filter_RFx_Type_SE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter RFx Type - SE</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_RFx_Type_AE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Count_of_Questions_SE</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_RFx_Type_AE.RFx_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rfxType</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_SE_Count</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>noOverrideAnswerText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No, we have a solution that meets some of the functional, technical, and security requirements, but there are many gaps that can’t be closed or will require too much customization.</stringValue>
        </value>
    </constants>
    <constants>
        <name>overrideQuestionText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This score to this question is system generated based on the SE’s completed GNG answers as either -90 (Not a Fit for Salesforce) or +10 (Fit for Salesforce). The SE GNG question points need to total 40 or greater in order to obtain +10 system generated score.</stringValue>
        </value>
    </constants>
    <constants>
        <name>yesOverrideAnswerText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, we have a solution that can meet the functional, technical, and security requirements. Any functional gaps can be met with AppExchange apps or minimum custom development.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Existing_Answers</name>
        <label>Check for Existing Answers</label>
        <locationX>2426</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_List_of_Existing_Answers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Answer</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Record</targetReference>
            </connector>
            <label>No List of Existing Answers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we need to update an existing answer</description>
        <name>Check_if_Existing_Answer</name>
        <label>Check if Existing Answer</label>
        <locationX>2910</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_GNG_Question_Answers.RFP_Pursuit_Question_Bank__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Existing_Answers.RFP_Pursuit_Question_Bank__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Answers_to_Record</targetReference>
            </connector>
            <label>Existing Answer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check project status</description>
        <name>Check_Project_Status</name>
        <label>Check Project Status</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Question_Query_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GNG_Locked_Out</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Rationale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Committee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Ready to Assign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GPS_Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bid Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.GNG_Process_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GNG_Locked_Out_Screen</targetReference>
            </connector>
            <label>GNG Locked Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfExistingAnswer</name>
        <label>Check if Existing Answer</label>
        <locationX>864</locationX>
        <locationY>5576</locationY>
        <defaultConnector>
            <targetReference>OverallScoreOverrideDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Answer</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Override_Answer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overall_Score_Override_Decision</targetReference>
            </connector>
            <label>Existing Answer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the project object to see if we set the number of GNG questions</description>
        <name>Is_of_GNG_Questions_Set</name>
        <label>Is # of GNG Questions Set</label>
        <locationX>1194</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Is_this_an_SE_Sales_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_AE_Questions_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.of_AE_Questions__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleAccountExec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count_of_Questions_AE</targetReference>
            </connector>
            <label>No AE Questions Set</label>
        </rules>
        <rules>
            <name>No_SE_Questions_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.of_SE_Questions__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count_of_Questions_SE</targetReference>
            </connector>
            <label>No SE Questions Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we were called from the creation of a NEW project</description>
        <name>Is_this_a_New_Project</name>
        <label>Is this a New Project</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Person_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewProject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_SE_Role</name>
        <label>Is this an SE Sales Role</label>
        <locationX>1194</locationX>
        <locationY>4844</locationY>
        <defaultConnector>
            <targetReference>Commit_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_an_SE_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SE_Score</targetReference>
            </connector>
            <label>Is an SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_SE_Sales_Role</name>
        <label>Is this an SE Sales Role</label>
        <locationX>1194</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Get_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_an_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rbSPRoleSolutionEng</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAdditionalCommentsOnlySelected</targetReference>
            </connector>
            <label>Is an SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAdditionalCommentsOnlySelected</name>
        <label>Is additional comments only selected?</label>
        <locationX>1018</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>BOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsAdditionalCommentsOnlySelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalCommentsFilter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Categories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overall_Score_Override_Decision</name>
        <label>Overall Score Override Decision</label>
        <locationX>600</locationX>
        <locationY>5684</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_No_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GNG Score Below 40</defaultConnectorLabel>
        <rules>
            <name>GNG_Score_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seTotalScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Yes_Override</targetReference>
            </connector>
            <label>GNG Score &gt;= 40</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverallScoreOverrideDecision</name>
        <label>Overall Score Override Decision</label>
        <locationX>1128</locationX>
        <locationY>5684</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_No_Override_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GNG Score Below 40</defaultConnectorLabel>
        <rules>
            <name>GNG_Score_Over_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>seTotalScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_to_Yes_Override_NF</targetReference>
            </connector>
            <label>GNG Score &gt;= 40</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_category_be_skiped</name>
        <label>Should category be skiped?</label>
        <locationX>1678</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>No_all_categories_skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Skip_Category_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalCommentsFilter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checks_if_the_selected_category_has_questions_with_additional_comments_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Categories</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>8/21 updated BOM verbiage for multi-selecting products -- 2025-06-05 - JCDJ - W-000641: Skip &quot;Go / No Go Questions&quot; screen component when Additional Comments Only is selected and there is not answers for the selected category. BOM overwrite fix.
2025-05-28 - JCDJ - W-000641: Hide BOM screen when additional comments only is selected.
2025-05-26 - JCDJ - Show additional comments toggle and filter question selection.
2025-04-08 - JCDJ - CommitTransaction step at the end of the flow.
2025-02-21 - JCDJ - Issue with SE path.
2025-02-21 - JCDJ - Duplication fix (WORKING VERSION).
2025-01-31 - Updated overrideQuestionText value
2025-01-03 - removed the find territory variable and returned to the opportunity territory variable that is input to this process.
GPS Pub Sec GnG Process Flow - Removed the check and update of Project Status to Status Flow - this will just move into the process</description>
    <dynamicChoiceSets>
        <description>list of products</description>
        <name>productList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Type__c</picklistField>
        <picklistObject>GPS_Project__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Determine the territory from the role</description>
        <name>findOpptyTerr</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Get_Project.Oppty_Owner_Role__c},&quot;EMEA&quot;), &quot;EMEA&quot;, 
IF(CONTAINS({!Get_Project.Oppty_Owner_Role__c},&quot;AMER&quot;), &quot;AMER&quot;, &quot;&quot;)
)</expression>
    </formulas>
    <interviewLabel>Go / No Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS RFP Go No Go Process</label>
    <loops>
        <description>Looks the list of existing answers to see if we need to update an answer vs create a new answer</description>
        <name>Loop_Existing_Answers</name>
        <label>Loop Existing Answers</label>
        <locationX>2690</locationX>
        <locationY>3170</locationY>
        <collectionReference>Get_Existing_Answer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Existing_Answer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Answers_to_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop answers from questions component</description>
        <name>Loop_GNG_Question_Answers</name>
        <label>Loop GNG Question Answers</label>
        <locationX>2074</locationX>
        <locationY>2954</locationY>
        <collectionReference>GPSRFPQuestions.currentAnswers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Existing_Answers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_SE_Scores</name>
        <label>Loop through SE Scores</label>
        <locationX>864</locationX>
        <locationY>5060</locationY>
        <collectionReference>Get_SE_Score</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Item_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Override_Answer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Categories</name>
        <label>Loop Thru Categories</label>
        <locationX>1194</locationX>
        <locationY>2414</locationY>
        <collectionReference>Get_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checks_if_the_selected_category_has_questions_with_additional_comments_Action</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_this_an_SE_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Answer_Records</name>
        <label>Create Answer Records</label>
        <locationX>2074</locationX>
        <locationY>4328</locationY>
        <connector>
            <targetReference>Clear_Answer_to_Questions_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scError</targetReference>
        </faultConnector>
        <inputReference>GNGAnswertoQuestionsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Answer_Records_SE</name>
        <label>Create Answer Records</label>
        <locationX>864</locationX>
        <locationY>6176</locationY>
        <connector>
            <targetReference>Clean_Recordsets</targetReference>
        </connector>
        <inputReference>overrideAnswerRecordCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the list of Categories</description>
        <name>Get_Categories</name>
        <label>Get Categories</label>
        <locationX>1194</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Categories</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public Sector</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank_Category__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Count_of_Questions_AE</name>
        <label>Get Count of Questions - AE</label>
        <locationX>930</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_RFx_Type_AE</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>opptyTerritory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deactivate_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Count_of_Questions_SE</name>
        <label>Get Count of Questions - SE</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_RFx_Type_SE</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Sales_Person_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>opptyTerritory</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deactivate_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Question_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get any existing answers</description>
        <name>Get_Existing_Answer</name>
        <label>Get Existing Answer</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_New_Project</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Override_Answer</name>
        <label>Get Override Answer</label>
        <locationX>864</locationX>
        <locationY>5468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfExistingAnswer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Pursuit_Question_Bank__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Hardcoded_Values__c.RFP_Override_Question_Bank_Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SE_Score</name>
        <label>Get SE Score</label>
        <locationX>864</locationX>
        <locationY>4952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SE_Scores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPS_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFP_Sales_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rbSPRoleSolutionEng</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFP_Pursuit_Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Answers if Changed</description>
        <name>Update_Answers</name>
        <label>Update Answers</label>
        <locationX>2074</locationX>
        <locationY>4220</locationY>
        <connector>
            <targetReference>Create_Answer_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scError</targetReference>
        </faultConnector>
        <inputReference>GNGUpdateAnswertoQuestionsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Answers_SE</name>
        <label>Update Answers</label>
        <locationX>864</locationX>
        <locationY>6068</locationY>
        <connector>
            <targetReference>Create_Answer_Records_SE</targetReference>
        </connector>
        <inputReference>overrideAnswerRecordUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Project with status</description>
        <name>Update_Project</name>
        <label>Update New Project</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Get_Categories</targetReference>
        </connector>
        <inputReference>NewProject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Question_Count</name>
        <label>Update Project with Question Count</label>
        <locationX>930</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Is_this_an_SE_Sales_Role</targetReference>
        </connector>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <screens>
        <name>BOM</name>
        <label>BOM</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Project_BOM</targetReference>
        </connector>
        <fields>
            <name>dImage3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtBOMprocessinstruct</name>
            <fieldText>&lt;p&gt;Complete the following required questions. Note, you can require and update questions several times before submitting them to the RFx Team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To select multiple products, hold &lt;strong&gt;Ctrl&lt;/strong&gt; while clicking each item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtBOMtitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Bill of Materials (BOM)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtBOMinstruct</name>
            <fieldText>&lt;p&gt;Select the products that define the Bill of Materials (BOM) for this RFx&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>plProductSelection</name>
            <choiceReferences>productList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Project.Product_Type__c</elementReference>
            </defaultValue>
            <fieldText>Products for this Solution</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Sales_Person_Role</name>
        <label>Get Sales Person Role</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_Role_from_Input</targetReference>
        </connector>
        <fields>
            <name>dImage1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>descGetSalesPersonRole</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select your role:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>rbRole</name>
            <choiceReferences>rbSPRoleAccountExec</choiceReferences>
            <choiceReferences>rbSPRoleSolutionEng</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AdditionalCommentsFilter</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Show questions with additional comments only?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AdditionalCommentsOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;Questions needing intake follow-up are categorized. Review and click through the entire flow to see all.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalCommentsFilter.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GNG_Locked_Out_Screen</name>
        <label>GNG Locked Out</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unavailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Go / No Go Questions are unavailable at this status.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Go_No_Go_Questions</name>
        <label>Go / No Go Questions</label>
        <locationX>2074</locationX>
        <locationY>2846</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_GNG_Question_Answers</targetReference>
        </connector>
        <fields>
            <name>dImage2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GPS_RFX_Utopia_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtWidgetInformation</name>
            <fieldText>&lt;p&gt;Complete the following required questions.  Note, you can require and update questions several times before submitting them to the RFx Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GPSRFPQuestions</name>
            <extensionName>c:GPS_RFP_QuestionListing</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scoreGNG</name>
                <value>
                    <elementReference>scoreGNG</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recrid</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesRole</name>
                <value>
                    <elementReference>userRole</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentAnswers</name>
                <value>
                    <elementReference>Get_Existing_Answer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rfpquestioncategory</name>
                <value>
                    <elementReference>Loop_Thru_Categories.Category_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opptyTerritory</name>
                <value>
                    <elementReference>opptyTerritory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rfxType</name>
                <value>
                    <elementReference>rfxType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedrfqanswers</name>
                <value>
                    <elementReference>GPSRFPQuestions.selectedrfqanswers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalCommentsOnly</name>
                <value>
                    <elementReference>AdditionalCommentsFilter.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scError</name>
        <label>Error</label>
        <locationX>2338</locationX>
        <locationY>4436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px; color: rgb(255, 0, 0);&quot;&gt;Error Occurred&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please contact Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1194</locationX>
        <locationY>6692</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Go / No Go Questions for {!userRole} is Completed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SFDCCelebrationImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SFDCCelebration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtOverAllGNGScore</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;You GNG Score is: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;{!OverAllGNGScore}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>noAdditionalQuestions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;No additional comment answers were found for {!userRole}.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalCommentsFilter.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>allCategoriesSkipped</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allCategoriesSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AnswerDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnswerName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The value of the answer</description>
        <name>AnswerValue</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_RFx_Type_AE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Question_Bank__c</objectType>
    </variables>
    <variables>
        <name>GNG_Selected_Answers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <description>The list of answers to create in the database</description>
        <name>GNGAnswertoQuestionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <name>GNGUpdateAnswertoQuestionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <name>InputSelectedScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IsNewProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Base project object for all updated values</description>
        <name>NewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPS_Project__c</objectType>
    </variables>
    <variables>
        <name>NumberQuestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opptyTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OverAllGNGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overrideAnswerRecordCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <name>overrideAnswerRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RFP_Pursuit_Answer__c</objectType>
    </variables>
    <variables>
        <description>The input record IR</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The type of RFx the GNG is set for</description>
        <name>rfxType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Score Tracking Value from LWC</description>
        <name>scoreGNG</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>seCurrentItemScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>seTotalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>this is the userRole executing the flow</description>
        <name>userRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
