utopia-project/force-app/main/default/flows/GPS_Prompt_Recommend_Bid_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate</name>
        <label>Evaluate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PS_Bid_Manager_Assignment</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:GPS_Project</name>
            <value>
                <elementReference>get_project</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Bid_Manager_Information</name>
            <value>
                <elementReference>BidManagerInformationList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PS_Bid_Manager_Assignment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Bid_Manager_Information</name>
        <label>Get Bid Manager Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GPS_Utopia_BidManager_Assignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GPS_Utopia_BidManager_Assignment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>BidManagerInformationList</assignToReference>
            <name>dataJSON</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>GPS Prompt Recommend Bid Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Prompt Recommend Bid Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_project</name>
        <label>get project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bid_Manager_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GPS_Project__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BidManagerInformationList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
