utopia-project/force-app/main/default/flows/GPS_Creaste_Response_Buckets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Buckets</name>
        <label>Parse Buckets</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>UtopiaFlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Bucket_Review</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>BucketList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UtopiaFlowUtils</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ParsedBucketList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bucket_Record</name>
        <label>Assign Bucket Record</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewResponseBucket.GPS_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponseBucket.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Bucket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Response_Bucket</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Internal_Knowledge</name>
        <choiceText>Internal Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salesforce_Jarvis_AI</name>
        <choiceText>Salesforce Jarvis AI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce Jarvis AI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unified_Knowledge</name>
        <choiceText>Unified Knowledge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unified Knowledge</stringValue>
        </value>
    </choices>
    <description>Step one of the bulk response flow process</description>
    <environments>Default</environments>
    <interviewLabel>GPS - Creaste Response Buckets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Response #1 - Creaste Response Buckets</label>
    <loops>
        <name>For_Each_Bucket</name>
        <label>For Each Bucket</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>ParsedBucketList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bucket_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response_Bucket</name>
        <label>Create Response Bucket</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>For_Each_Bucket</targetReference>
        </connector>
        <inputReference>NewResponseBucket</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bucket_Review</name>
        <label>Bucket Review</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Bucket</targetReference>
        </connector>
        <fields>
            <name>ReviewQuestions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Review Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BulkLoadReview</name>
            <fieldText>&lt;p&gt;Review the list of buckets below and ensure that each bucket is on a single line and no bucket names have been combined.  If you see overlaps, go back to the previous screen and edit the list of buckets.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BucketListView</name>
            <extensionName>c:UtopiaListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>items</name>
                <value>
                    <elementReference>ParsedBucketList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ParsedBucketList</assignToReference>
                <name>items</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Response_Buckets</name>
        <label>Enter Response Buckets</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Buckets</targetReference>
        </connector>
        <fields>
            <name>Step1Header</name>
            <fieldText>&lt;p&gt;Response Buckets are groupings of responses that allow you to organize your responses by functional areas such as Sales, Service, Marketing, Platform, Integration, Analytics, Industry Solutions&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BucketList</name>
            <fieldText>Enter the Response bucket names below, one per line</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Response_Buckets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewResponseBucket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Bucket__c</objectType>
    </variables>
    <variables>
        <description>List of Buckets parsed from input</description>
        <name>ParsedBucketList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The project / case ID for this flow to parent the Response records</description>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
