utopia-project/force-app/main/default/flows/GPS_Security_Review_Complete_Notification_to_Triage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GPS_Send_Notification_to_Triage</name>
        <label>Send Notification to Triage</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gps-sandbox-test-tria-aaaaksj7quhhf6di37nlg4xi4m@salesforce.org.slack.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Security Review Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GPS_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>GPS_Is_it_a_GPS_Project_Record_Type</name>
        <label>Is it a GPS Project Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_Yes_GPS_Project_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record_Type_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125E000001gwa1QAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPS_Security_Review_Complete_Checkbox</targetReference>
            </connector>
            <label>Yes GPS Project Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GPS_Body</name>
        <dataType>String</dataType>
        <expression>&quot;Please review the following project by copying the following address   &quot;&amp;
{!GPS_Project_URL}</expression>
    </formulas>
    <formulas>
        <name>GPS_Project_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/lightning/r/avnio__Project__c/&quot;&amp;   {!$Record.WhatId}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>GPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Security Review Complete Notification to Triage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GPS_Security_Review_Complete_Checkbox</name>
        <label>Security Review Complete Checkbox</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GPS_Send_Notification_to_Triage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Security_Review_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>avnio__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GPS_Is_it_a_GPS_Project_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Project_Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0125E000001gwa1QAA</stringValue>
        </value>
    </variables>
</Flow>
