utopia-project/force-app/main/default/flows/GPS_GNG_Executive_Committee_Approvals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_BU_SVP_Email</name>
        <label>Send GNG SVP Email</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GPS_Check_for_AVP_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GPS_HTML_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GPS_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GPS_Target_Object_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_SE_Email</name>
        <label>Send SE MGR Email</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GPS_HTML_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GPS_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GPS_Target_Object_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_SE_MGR_Email</name>
        <label>Send SE MGR Email</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GPS_Check_for_SE_MGR_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GPS_HTML_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GPS_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GPS_Target_Object_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Security_Reviewer_Email</name>
        <label>Send BU SVP Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Check_for_BU_SVP_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>GPS_HTML_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>GPS_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GPS_Target_Object_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>GPS_Sender_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GPS_Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>GPS_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_SEC_VP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Sender_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>avnio-admin@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_SE_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_SE_SVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Sender_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>avnio-admin@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_SE_MGR_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_GNG_SVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Sender_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>avnio-admin@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_BU_SVP_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Variables_for_Email</name>
        <label>Set Variables for Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>GPS_Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GPS_BU_SVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GPS_Sender_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>avnio-admin@salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Security_Reviewer_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Check_for_BU_SVP_Email</name>
        <label>Check for GNG SVP Email</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_AVP_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BU_SVP_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_GNG_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>GNG SVP Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Security_Reviewer_Email</name>
        <label>Check for BU SVP Email</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_BU_SVP_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Security_Reviewer_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_BU_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>BU SVP Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_AVP_Email</name>
        <label>Check for SE SVP Email</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>GPS_Check_for_SE_MGR_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_AVP_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_SE_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>SE SVP Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPS_Check_for_SE_MGR_Email</name>
        <label>Check for SEC VP Email</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GPS_SE_MGR_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPS_SEC_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Set_Variables_for_Email</targetReference>
            </connector>
            <label>SEC VP Email Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GPS_Body</name>
        <dataType>String</dataType>
        <expression>&quot;pleaseprovidesalesrationalejustification   &quot;&amp;
{!GPS_Project_URL}</expression>
    </formulas>
    <formulas>
        <name>GPS_HTML_Body</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;html&gt;&lt;body&gt;&quot; &amp;
&quot;You have been assigned a project. Please provide sales rationale &lt;br&gt;&quot;&amp;
&quot;&lt;a href=&apos;&quot; &amp; {!GPS_Project_URL} &amp;
&quot;&apos;&gt;Click Here&lt;/a&gt;&quot; &amp;
&quot;&lt;/body&gt;&lt;?html&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>GPS_Project_URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/lightning/r/avnio__Project__c/&quot;&amp;   {!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>GPS GNG Executive Committee Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS GNG Executive Committee Approvals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_for_Security_Reviewer_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GNG_Committee_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GNG_Committee_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>avnio__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GPS_Org_Wide_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0D25I00000000gV</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Recipient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Sender_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avnio RFP</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sample Subject</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPS_Target_Object_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPS_Template_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00X5E0000036dJy</stringValue>
        </value>
    </variables>
</Flow>
