utopia-project/force-app/main/default/flows/GPS_Response_Executive_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Create_Response_Buckets</name>
        <choiceText>Create RFx Requirements Buckets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Response Buckets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Find_Responses_to_Questions</name>
        <choiceText>Find Responses to RFx Requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Find Responses to Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upload_Questions_to_Response_Buckets</name>
        <choiceText>Upload RFx Requirements to Questions to RFx Requirements Buckets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload Questions to Response Buckets</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Flow_Choice</name>
        <label>Flow Choice</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Lookup_Responses_to_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Buckets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Flow_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Response_Buckets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Buckets_Flow</targetReference>
            </connector>
            <label>Create Buckets</label>
        </rules>
        <rules>
            <name>Upload_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Flow_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upload_Questions_to_Response_Buckets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Upload_Questions</targetReference>
            </connector>
            <label>Upload Questions</label>
        </rules>
    </decisions>
    <description>Overarching flow that manages Bucket Creation, Question Upload, and Response Search and Review flows</description>
    <environments>Default</environments>
    <interviewLabel>GPS Response - Executive Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPS Response - Executive Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Summary_View_of_Project</name>
        <label>Summary View of Project</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Choice</targetReference>
        </connector>
        <fields>
            <name>Summarize_Prioject</name>
            <fieldText>&lt;p&gt;To complete the project, you will need to do the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Create RFX Requirement Buckets - each RFX Requirements bucket represents a set of RFX Requirements in a particular section/area of the RFx&lt;/li&gt;&lt;li&gt;Upload RFx Requirements to RFx Requirements Buckets - copy and paste your RFx Requirements Matrix to generate records&lt;/li&gt;&lt;li&gt;Search for responses for RFx Requirements: user Knowledge Search and RFx SME (AI) to search for responses&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_Flow_Path</name>
            <choiceReferences>Create_Response_Buckets</choiceReferences>
            <choiceReferences>Upload_Questions_to_Response_Buckets</choiceReferences>
            <choiceReferences>Find_Responses_to_Questions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to...</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SummaryView</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;RFx Requirements Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Summarize_Project.ProjectBucketSummary</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProjectSummaryList</name>
            <extensionName>c:UtopiaListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>items</name>
                <value>
                    <elementReference>Summarize_Project.ProjectBucketSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Summarize_Project.ProjectBucketSummary</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summarize_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Bulk_Upload_Questions</name>
        <label>Bulk Upload Questions</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>GPS_Bulk_Upload_Questions</flowName>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Buckets_Flow</name>
        <label>Create Buckets Flow</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <flowName>GPS_Creaste_Response_Buckets</flowName>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Lookup_Responses_to_Questions</name>
        <label>Lookup Responses to Questions</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <flowName>GPS_Response_Find_Articles_for_Responses</flowName>
        <inputAssignments>
            <name>ProejctId</name>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Summarize_Project</name>
        <label>Summarize Project</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Summary_View_of_Project</targetReference>
        </connector>
        <flowName>GPS_Reponse_Summarize_the_Project</flowName>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>ProejctId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Bucket_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The GPS Project Id</description>
        <name>ProejctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
