utopia-project/force-app/main/default/flows/Nicole_MIgration_Flow_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Restore_archived_knowledge_article_version_Action_1</name>
        <label>Restore archived knowledge article version Action 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>restoreKnowledgeArticleVersion</actionName>
        <actionType>restoreKnowledgeArticleVersion</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>RESTORE_KNOWLEDGE_ARTICLE_VERSION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleId</name>
            <value>
                <elementReference>varArchivedArticles.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>restoreKnowledgeArticleVersion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Nicole MIgration Flow Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nicole MIgration Flow Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_archived_aritcles</name>
        <label>get archived aritcles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Restore_archived_knowledge_article_version_Action_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2025-01-20T14:32:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2025-01-20T14:16:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2025-01-20T14:25:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>varArchivedArticles</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_archived_aritcles</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varArchivedArticles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
