utopia-project/force-app/main/default/flows/Purge_Response_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Q_s_to_CV</name>
        <label>Add Q&apos;s to CV</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>cvQuestionIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Response_Questions.avnio__QuestionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Response_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Q_to_CV</name>
        <label>Add Q to CV</label>
        <locationX>2162</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>cvQuestionsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuestionToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Archived_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RQ_to_CV_for_Deletion</name>
        <label>Add RQ to CV for Deletion</label>
        <locationX>2162</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>cvRQsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Response_Questions2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Question_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grab_Parent_Response_ID</name>
        <label>Grab Parent Response ID</label>
        <locationX>1722</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varParentResponseID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Archived_Responses1.avnio__ParentResponseId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Archived_Responses1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grab_Question_ID</name>
        <label>Grab Question ID</label>
        <locationX>2162</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varQuestionToDelete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response_Questions2.avnio__QuestionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Q_to_CV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Identify_Question_to_Delete</name>
        <label>Identify Question to Delete</label>
        <locationX>138</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varQuestionToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Q_CV</name>
        <label>Check Q CV</label>
        <locationX>1634</locationX>
        <locationY>2450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Questions_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvQuestionsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Q_s</targetReference>
            </connector>
            <label>Delete Questions Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RQ_CV</name>
        <label>Check RQ CV</label>
        <locationX>1634</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Check_Q_CV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RQ_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvRQsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_RQ_s</targetReference>
            </connector>
            <label>RQ to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Var</name>
        <label>Check Var</label>
        <locationX>1854</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_Archived_Responses1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip - Already Set</defaultConnectorLabel>
        <rules>
            <name>Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentResponseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Parent_Response_ID</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Double_Check_Variables</name>
        <label>Double Check Variables</label>
        <locationX>1062</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Start Over</defaultConnectorLabel>
        <rules>
            <name>All_Good_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousQuestionText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cvResponseIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Response_Questions</targetReference>
            </connector>
            <label>All Good - Single</label>
        </rules>
        <rules>
            <name>All_Good_CV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousQuestionText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cvResponseIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Archived_Response_Records</targetReference>
            </connector>
            <label>All Good - CV</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_RQs_to_Delete</name>
        <label>ID RQs to Delete</label>
        <locationX>2294</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Loop_Archived_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Archived_Responses.avnio__PrimaryQuestion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Response_Questions2.avnio__QuestionId__r.avnio__Question__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RQ_to_CV_for_Deletion</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Previous_Question_Record</name>
        <label>Identify Previous Question Record</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousQuestionText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Questions.avnio__Question__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Question_to_Delete</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <description>Launched from the &quot;Response Management&quot; Flow whenever a Primary Question is updated.</description>
    <environments>Default</environments>
    <interviewLabel>Purge Response Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purge Response Questions</label>
    <loops>
        <name>Loop_Archived_Responses</name>
        <label>Loop Archived Responses</label>
        <locationX>2074</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Archived_Response_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ID_RQs_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Response_Questions2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Archived_Responses1</name>
        <label>Loop Archived Responses</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Archived_Response_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Response_Questions2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Questions</name>
        <label>Loop Questions</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Identify_Previous_Question_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Response_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Response_Questions</name>
        <label>Loop Response Questions</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Related_Response_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Q_s_to_CV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Response_Questions2</name>
        <label>Loop Response Questions</label>
        <locationX>1634</locationX>
        <locationY>1070</locationY>
        <collectionReference>Get_Related_Response_Questions2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Archived_Responses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_RQ_CV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Q_s</name>
        <label>Delete Q&apos;s</label>
        <locationX>1370</locationX>
        <locationY>2570</locationY>
        <inputReference>cvQuestionsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Question</name>
        <label>Delete Question</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <inputReference>varQuestionToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Response_Question</name>
        <label>Delete Response Question</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Delete_Question</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Question</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__QuestionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuestionToDelete.Id</elementReference>
            </value>
        </filters>
        <object>avnio__ResponseQuestion__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_RQ_s</name>
        <label>Delete RQ&apos;s</label>
        <locationX>1370</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Check_Q_CV</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Q_CV</targetReference>
        </faultConnector>
        <inputReference>cvRQsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Archived_Response_Records</name>
        <label>Get Archived Response Records</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Archived_Responses1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cvResponseIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cvQuestionIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Response_Questions</name>
        <label>Get Related Response Questions</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Response_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__ResponseQuestion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Response_Questions2</name>
        <label>Get Related Response Questions</label>
        <locationX>1634</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Response_Questions2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>avnio__ResponseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentResponseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>avnio__ResponseQuestion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Double_Check_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cvArchivedResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
    <variables>
        <name>cvQuestionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvQuestionsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Question__c</objectType>
    </variables>
    <variables>
        <name>cvResponseIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvRQsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__ResponseQuestion__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
    <variables>
        <name>varParentResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPreviousQuestionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuestionToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Question__c</objectType>
    </variables>
    <variables>
        <name>varRQtoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__ResponseQuestion__c</objectType>
    </variables>
</Flow>
