utopia-project/force-app/main/default/flows/RFP_Cheetah_Team_Project_Creation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Commercial_Email_Self_Service</name>
        <label>Send Commercial Email (Self-Service)</label>
        <locationX>798</locationX>
        <locationY>2063</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Send_Commercial_Self_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmail_Commercial_SelfService_Q_SE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Send_Commercial_Self_Service</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>RFP Self Service Notification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Commercial_Email_Supported_to_Creator_SE</name>
        <label>Send Commercial Email (Supported) to Creator/SE</label>
        <locationX>270</locationX>
        <locationY>2363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Send_Commercial_Supported_to_Creator_SE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmail_Commercial_Supported_SE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Send_Commercial_Supported_to_Creator_SE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank you for submitting an RFP Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Commercial_Email_Supported_to_Queue</name>
        <label>Send Commercial Email (Supported) to Queue</label>
        <locationX>270</locationX>
        <locationY>2063</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Send_Commercial_Supported_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmail_Commercial_Supported_Q</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Send_Commercial_Supported_to_Queue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Commercial RFP Team: Project Ready for Qualification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_GPS_SE_Email</name>
        <label>Send GPS SE Email (SE Supported)</label>
        <locationX>1634</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_and_Send_GPS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_and_Send_GPS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GPS RFP Project Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailPublicSectorSESupport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Org_Email_Supported</name>
        <label>Send Org Email (Supported)</label>
        <locationX>1282</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Send_Org_Supported</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmail_Salesforce_org_Supported_Q_AE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Send_Org_Supported</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You For Submitting an RFP Support Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Commercial_User_Email_to_Collection</name>
        <label>Add Commercial User Email to Collection</label>
        <locationX>644</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>cvCommercialEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Commercial_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Commercial_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Creator_Email_to_Collection</name>
        <label>Add Creator Email to Collection</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>cvCommercialEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Send_Commercial_Self_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Creator_Email_to_Collection_Org1</name>
        <label>Add Creator Email to Collection (Org)</label>
        <locationX>908</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>cvOrgEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Creator_Email_to_SE_Creator_Collection</name>
        <label>Add Creator Email to SE/Creator Collection</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>cvCommercialSECreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Send_Commercial_Supported_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Creator_SE_Email_to_Collection</name>
        <label>Add Creator &amp; SE Email to Collection</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>cvCommercialEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cvCommercialEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Send_Commercial_Self_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Creator_SE_Email_to_SE_Creator_Collection</name>
        <label>Add Creator &amp; SE Email to SE/Creator Collection</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>cvCommercialSECreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cvCommercialSECreator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Send_Commercial_Supported_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Org_User_Email_to_Collection</name>
        <label>Add Org User Email to Collection</label>
        <locationX>996</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>cvOrgEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Org_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Org_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_of_Commercial_User_IDs</name>
        <label>Create Collection of Commercial User IDs</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>cvUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Commercial_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Commercial_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_of_GPS_User_Emails_SE</name>
        <label>Create Collection of GPS User Emails - SE</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>cvOrgEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SE__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_of_Org_User_IDs</name>
        <label>Create Collection of Org User IDs</label>
        <locationX>996</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>cvUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Org_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Org_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Creator_vs_SE</name>
        <label>Check Creator vs SE</label>
        <locationX>710</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Add_Creator_SE_Email_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Creator_Email_to_Collection</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Creator_vs_SE2</name>
        <label>Check Creator vs SE</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Add_Creator_SE_Email_to_SE_Creator_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Creator_Email_to_SE_Creator_Collection</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Decision</name>
        <label>Email Decision</label>
        <locationX>996</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Supported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avnio_Project_Queue_Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Creator_vs_SE2</targetReference>
            </connector>
            <label>Commercial (Supported)</label>
        </rules>
        <rules>
            <name>Commercial_Self_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Avnio_Project_Queue_Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Creator_vs_SE</targetReference>
            </connector>
            <label>Commercial (Self-Service)</label>
        </rules>
        <rules>
            <name>Org_Supported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Send_Org_Supported</targetReference>
            </connector>
            <label>.Org (Supported)</label>
        </rules>
        <rules>
            <name>GPS_SESupported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_and_Send_GPS</targetReference>
            </connector>
            <label>GPS (SE Supported)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Org</name>
        <label>Sales Org</label>
        <locationX>996</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.avnio__ParentProjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Commercial_Queue_Details</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
        <rules>
            <name>Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.org</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.avnio__ParentProjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Queue_Details</targetReference>
            </connector>
            <label>Org</label>
        </rules>
        <rules>
            <name>GPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.avnio__ParentProjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collection_of_GPS_User_Emails_SE</targetReference>
            </connector>
            <label>GPS</label>
        </rules>
    </decisions>
    <description>v11 - added support for GPS send email to SE</description>
    <environments>Default</environments>
    <formulas>
        <name>fResponseLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_260})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>fxProjectURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_570}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_570}))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>projectLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>RFP Cheetah Team: Project Creation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email on Project Creation</label>
    <loops>
        <name>Loop_and_Send_GPS</name>
        <label>Loop and Send (GPS)</label>
        <locationX>1546</locationX>
        <locationY>1655</locationY>
        <collectionReference>cvOrgEmailAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_GPS_SE_Email</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Commercial_Members</name>
        <label>Loop Commercial Members</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Commercial_Queue_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Collection_of_Commercial_User_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Commercial_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Commercial_Users</name>
        <label>Loop Commercial Users</label>
        <locationX>556</locationX>
        <locationY>1055</locationY>
        <collectionReference>cvUsersToEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Commercial_User_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Org_Members</name>
        <label>Loop Org Members</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Org_Queue_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Collection_of_Org_User_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Org_User_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Org_Users</name>
        <label>Loop Org Users</label>
        <locationX>908</locationX>
        <locationY>1055</locationY>
        <collectionReference>cvUsersToEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Org_User_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Creator_Email_to_Collection_Org1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Send_Commercial_Self_Service</name>
        <label>Loop &amp; Send (Commercial) Self-Service</label>
        <locationX>710</locationX>
        <locationY>1955</locationY>
        <collectionReference>cvCommercialEmailAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Commercial_Email_Self_Service</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Send_Commercial_Supported_to_Creator_SE</name>
        <label>Loop &amp; Send (Commercial) Supported to Creator/SE</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <collectionReference>cvCommercialSECreator</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Commercial_Email_Supported_to_Creator_SE</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Send_Commercial_Supported_to_Queue</name>
        <label>Loop &amp; Send (Commercial) Supported to Queue</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <collectionReference>cvCommercialEmailAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Commercial_Email_Supported_to_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Send_Commercial_Supported_to_Creator_SE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Send_Org_Supported</name>
        <label>Loop &amp; Send (Org) Supported</label>
        <locationX>1194</locationX>
        <locationY>1655</locationY>
        <collectionReference>cvOrgEmailAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Org_Email_Supported</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commercial_Queue_Details</name>
        <label>Get Commercial Queue Details</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commercial_Queue_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Project_Queue_Commercial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commercial_Queue_Group_Members</name>
        <label>Get Commercial Queue Group Members</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Commercial_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Commercial_Queue_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commercial_User_Details</name>
        <label>Get Commercial User Details</label>
        <locationX>556</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Commercial_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cvUserIDs</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>cvUsersToEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Queue_Details</name>
        <label>Get Org Queue Details</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Queue_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Project_Queue_Salesforce_org</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Queue_Group_Members</name>
        <label>Get Org Queue Group Members</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Org_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_Queue_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_User_Details</name>
        <label>Get Org User Details</label>
        <locationX>908</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Org_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>cvUserIDs</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>cvUsersToEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Org</targetReference>
        </connector>
        <object>avnio__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttEmail_Commercial_SelfService_Q_SE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Hello,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;RFP Project &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;has just been created in Avnio.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Because this RFP has an opportunity less than $200K, is an unanticipated RFP, or the turnaround time for the proposal is less than 5 business days from today, this RFP is only eligible for &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;self service&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You can use the Library Search in Avnio to find responses to questions within your RFP.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Additionally, you can visit the &lt;/span&gt;&lt;a href=&quot;https://solutionscentral.io/topics/134889a0-7910-11ea-a188-9149fc8e6c18/rfp/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;RFP page on Solutions Central&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; for links to our additional resources and templates.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;If you have further questions, reference our slack channel: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;#q-branch-rfp&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>email body for the &apos;dsr creation required&apos; email</description>
        <name>ttEmail_Commercial_Supported_Q</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello RFP Intake,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; has just been created in Avnio. Review for initial intake criteria and route to the appropriate team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 16px;&quot;&gt;Project/DSR Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Project Link&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;{!fResponseLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.avnio__ProjectName__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sales Organization&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Cloud__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Due Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.avnio__DueDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Region/Business Unit&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Region_Business_Unit__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Existing Customer&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Existing_Customer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Blind Ask&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Blind_Ask__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Big Bet / Strategic Account&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Big_Bet_Strategic_Account__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;SE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SE__r.FirstName} {!$Record.SE__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Salesforce Account Team&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Other_Salesforce_employees_involved__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Red Flags/Current Issues&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Red_Flags_Current_Issues__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Additional Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Additional_Details__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Product Selection&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Product_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmail_Commercial_Supported_SE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for submitting your request for assistance to the Q RFP Team.  Our review and qualification process differs by region and product.  After an internal review of the request and RFP, you will receive a response within 24 hours determining the level of support the RFP Team can provide, based on team capacity, deal size, functional fit, and due date.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can find an overview of our process and additional RFP materials on our &lt;/span&gt;&lt;a href=&quot;https://solutionscentral.io/topics/134889a0-7910-11ea-a188-9149fc8e6c18/rfp/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Solutions Central Page&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Avnio Project&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;{!$Record.avnio__ProjectName__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Due Date&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!$Record.avnio__DueDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Red Flags&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!$Record.Red_Flags_Current_Issues__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmail_Salesforce_org_Original</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear RFP Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; has just been created in Avnio. Review for initial intake criteria and route to the appropriate RFP Specialist for processing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 158, 219);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Project Link&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;a href=&quot;{!projectLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.avnio__ProjectName__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Due Date&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;: {!$Record.avnio__DueDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Unanticipated RFP?&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!$Record.Blind_Ask__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Existing Customer&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Existing_Customer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Big Bet / Strategic Account&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Big_Bet_Strategic_Account__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;SE&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SE__r.FirstName} {!$Record.SE__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Salesforce Account Team&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Other_Salesforce_employees_involved__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Red Flags/Current Issues&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Red_Flags_Current_Issues__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Product Selection&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!$Record.Product_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmail_Salesforce_org_SelfService_Q_AE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for engaging the Salesforce.org RFP Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;RFP Project&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt; &lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;has been created in Avnio.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Based on the guidelines we used to determine the priority assigned to support requests, we have categorized this opportunity as &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Self Service&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, where the Sales Team is responsible for all aspects of the response.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please visit &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;Salesforce.org RFP Central Spot&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;#sfdo-rfp-support&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Slack channel where you will find tools, templates, and more to assist you in completing proposal responses.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Good luck in the next stage.  We look forward to working with you again in the future!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce.org RFP Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmail_Salesforce_org_Supported_Q_AE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for engaging the Salesforce.org RFP Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;RFP Project&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px; font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(17, 85, 204); font-size: 14px;&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;has been created in Avnio.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You will receive a response within one business day determining the level of support the RFP Team can provide, based on capacity and due date.  In the meantime, please be sure to do the following:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you haven&apos;t already, complete the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Go/No Go&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Scorecard that is now integrated into your &lt;/span&gt;&lt;a href=&quot;{!fxProjectURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;RFP Project&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ask your assigned SE to review and provide comments on the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Go/No Go&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Scorecard.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;@Mention your RVP in the Project Chatter requesting their review and approval of the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Go/No Go&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Scorecard.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Request any additional approvals if prompted by the Project notification system.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Visit &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;Salesforce.org RFP Central Spot&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 85, 204);&quot;&gt;#sfdo-rfp-support&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Slack channel where you can learn more about our team and gain access to RFP Response tools and templates.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Salesforce.org RFP Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email to SE to process SE portion of GNG</description>
        <name>ttEmailPublicSectorSESupport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;RFP Project&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/builder_platform_interaction/%7B!fxProjectURL%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;has been created in Avnio.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You have received this email since you are the SE on the project record.  Please access the Avnio org and complete the SE portion of the Go-No-Go Process for the &lt;/span&gt;&lt;a href=&quot;https://qbranch-sfdc--avniopsful.sandbox.lightning.force.com/builder_platform_interaction/%7B!fxProjectURL%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt; &lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Project.  This is associated to the opportunity: {!$Record.Opportunity__r.Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Global Public Sector RFP Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>cvCommercialEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvCommercialSECreator</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvOrgEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvUsersToEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCountofRecipients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
