utopia-project/force-app/main/default/flows/Submit_Out_Of_Cycle_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_for_Out_of_Cycle_Review</name>
        <label>Submit for Out of Cycle Review</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Response_Version_Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>fCurUserId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign values to new Response Audit Log variable</description>
        <name>Assign_NewRAL</name>
        <label>Assign NewRAL</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vNewRAL.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__ResponseId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRALVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reviewed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Role_of_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReviewerRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Prior_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.avnio__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Revised_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Reason_for_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Review_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Cycle Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewRAL.Response_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Response_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Audit_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign values to update the response</description>
        <name>Assign_Response_Values</name>
        <label>Assign Response Values</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vResponseUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cur_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Role</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check to see if the user that made the update is the Reviewer on the Response record</description>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Response_Version.avnio__PrimaryReviewerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCurUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Response_Version.avnio__SecondaryReviewerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fCurUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Response</targetReference>
            </connector>
            <label>Reviewer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsReasonforChange</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Change__c</picklistField>
        <picklistObject>Response_Audit_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>casesafeid</description>
        <name>fCurUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID ({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>version number for the new response audit log</description>
        <name>fRALVersion</name>
        <dataType>Number</dataType>
        <expression>1+ {!Response_Audit_Log.Version_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fReviewerRole</name>
        <dataType>String</dataType>
        <expression>IF(CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__ResponseId__r.OwnerId}, &quot;Content Owner&quot;, 
   IF(OR(CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__PrimaryReviewerId__c},CASESAFEID({!$User.Id}) = {!Get_Response_Version.avnio__SecondaryReviewerId__c}), &quot;Content Team Member&quot;, {!$User.Title})
)</expression>
    </formulas>
    <formulas>
        <name>response_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!vResponseUpdate.Id}</expression>
    </formulas>
    <interviewLabel>Submit Out Of Cycle Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Out Of Cycle Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create new Response Audit Log</description>
        <name>Create_Audit_Log</name>
        <label>Create Audit Log</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Response_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vNewRAL</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get the current Response record details</description>
        <name>Cur_Response</name>
        <label>Cur Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Audit_Log</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__ResponseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Response_Version</name>
        <label>Get Response Version</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cur_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>avnio__ResponseVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response_Audit_Log</name>
        <label>Response Audit Log</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Response_Version.avnio__ResponseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Audit_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the revised answer on the response record</description>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Submit_for_Out_of_Cycle_Review</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vResponseUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxtErrorMessage</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(237, 28, 36); user-select: auto;&quot;&gt;Your admin has received an email about this error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit Flow</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NewRAL</targetReference>
        </connector>
        <fields>
            <name>avnioLogo1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>sfdcLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>75</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxtReviewDecision</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 24px;&quot;&gt;Content Review&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Change</name>
            <choiceReferences>pcsReasonforChange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason(s) for Change</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxtRevision</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 158, 219); font-size: 20px;&quot;&gt;Compare&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CompareScreen</name>
                    <extensionName>avnio:responseFieldCompare</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>avnio__ResponseVersion__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Response_Version</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>count of alternative questions</description>
        <name>nAAcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>count of Project Questions that were created after the Response was last edited</description>
        <name>nPQcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the names of the AA records that are related to the cur Response</description>
        <name>tAANames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testhtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMostRecentUse</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record variable for new Response Audit Log</description>
        <name>vNewRAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response_Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>vResponseUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>avnio__Response__c</objectType>
    </variables>
</Flow>
