utopia-project/force-app/main/default/flows/Update_Results_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>RFxCategory</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_Project_Opportunity_Stage</name>
        <label>Check Project Opportunity Stage</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Win2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oppty_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpptyStage08closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Result_to_Win</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Win</label>
        </rules>
        <rules>
            <name>Loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oppty_Stage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>opptystagecontainslost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loss_Value_Update</targetReference>
            </connector>
            <label>Loss</label>
        </rules>
    </decisions>
    <description>This flow updates the field that is being used to calculate RFI/RFP Wins and RFP Losses</description>
    <environments>Default</environments>
    <interviewLabel>Update Results Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Results Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Loss_Value_Update</name>
        <label>Loss Value Update</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Loss</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result_to_Win</name>
        <label>Update Result to Win</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Win</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Project_Opportunity_Stage</targetReference>
        </connector>
        <object>avnio__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>OpptyStageLost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Lost&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OpptyStageValueWin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;08 - Closed&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RFI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;RFI&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OpptyStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Oppty_Stage__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpptyStage08closed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>08 - Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>opptystagecontainslost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Lost</stringValue>
        </value>
    </variables>
</Flow>
