utopia-project/force-app/main/default/flows/User_Permissions_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Avnio_Base_Access_Check_1</name>
        <label>Avnio Base Access Check</label>
        <locationX>710</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>Avnio_Base_Access_Exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Avnio_Read_only_Check1</name>
        <label>Avnio Read only Check</label>
        <locationX>1326</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>AvnioReadOnlyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Loop_NON_SE_AE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RFP_Pursuit_Answer_Read_Create_Edit_Check</name>
        <label>RFP Pursuit Answer: Read,Create,Edit Check</label>
        <locationX>974</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>RFPPursuitAnswerReadCreateEditExitss</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Base_Access_Perm_Set_Group1</name>
        <label>Assign Base Access Perm Set Group</label>
        <locationX>622</locationX>
        <locationY>3887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Not_Permission5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Avnio_Base_Access_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Avnio_base_Access_group</targetReference>
            </connector>
            <label>Has Not Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_RFP_RFP_Pursuit_Answer_Read_Create_Edit</name>
        <label>Assign RFP RFP Pursuit Answer: Read,Create,Edit</label>
        <locationX>622</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Assign_Base_Access_Perm_Set_Group1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Not_Permission6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RFPPursuitAnswerReadCreateEditExitss</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RFP_SE_Perm</targetReference>
            </connector>
            <label>Has Not Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avnio_Read_Only_Access_Perm_Set_Group</name>
        <label>Avnio Read Only Access Perm Set Group</label>
        <locationX>1238</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Not_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvnioReadOnlyExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Avnio_Read_Only_group</targetReference>
            </connector>
            <label>Has Not Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Correct_User_Profile</name>
        <label>Check for Correct User Profile</label>
        <locationX>622</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned1</name>
            <conditionLogic>NOT(1) OR NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Requestor_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Profile_Sales_Org</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Correct_User_Profile9</name>
        <label>Check for Correct User Profile</label>
        <locationX>1238</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Permission_Loop_NON_SE_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned9</name>
            <conditionLogic>NOT(1) OR NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Read_Only_User_Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Profile_Sales_Org9</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Permissions3</name>
        <label>Check for Existing Permissions</label>
        <locationX>1722</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Permission_Loop_NON_SE_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Avnio_Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_NON_SE_AE.PermissionSetGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Read_Only_Permission_Set_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avnio_Read_only_Check1</targetReference>
            </connector>
            <label>Avnio Read Only</label>
        </rules>
        <rules>
            <name>Avnio_Base_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_NON_SE_AE.PermissionSetGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Base_Access_Permission_Set_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Permission</targetReference>
            </connector>
            <label>Avnio Base access?</label>
        </rules>
        <rules>
            <name>RFP_Pursuit_Answer_Read_Create_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_NON_SE_AE.PermissionSetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RFP_Pursuit_Answer_Read_Create_Edit.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Delete_Existing_Permission</targetReference>
            </connector>
            <label>RFP Pursuit Answer: Read,Create,Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Permissions_SE_Commercial</name>
        <label>Check for Existing Permissions</label>
        <locationX>1106</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Avnio_Base_Access_check1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_SE_AE_Public_Sector.PermissionSetGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Base_Access_Permission_Set_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avnio_Base_Access_Check_1</targetReference>
            </connector>
            <label>Avnio Base Access</label>
        </rules>
        <rules>
            <name>RFP_Pursuit_Answer_Read_Create_Edit_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_SE_AE_Public_Sector.PermissionSetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RFP_Pursuit_Answer_Read_Create_Edit.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFP_Pursuit_Answer_Read_Create_Edit_Check</targetReference>
            </connector>
            <label>RFP Pursuit Answer: Read,Create,Edit</label>
        </rules>
        <rules>
            <name>Has_Read_only_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Loop_SE_AE_Public_Sector.PermissionSetGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Avnio_Read_Only_Permission_Set_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Currently_Asssigned_PermissionSet</targetReference>
            </connector>
            <label>Has Read only assigned?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Auto_Provisioning_is_Enabled</name>
        <label>If User Auto Provisioning is Enabled</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Provision_of_permission_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Auto_Provisioning_Setting.Disable_Auto_Permission_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_Admin_Profile_ID</targetReference>
            </connector>
            <label>Auto Provision of permission Enabled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>System_Admin_Decision</name>
        <label>System Admin Decision</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_All_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sys_Admin_OR_Excluded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>adminprofileid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Excluded_From_Avnio_Perms_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Sys Admin OR Excluded?</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Origin</name>
        <label>User Origin</label>
        <locationX>622</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Check_for_Correct_User_Profile9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non SE &amp; AE</defaultConnectorLabel>
        <rules>
            <name>All_SEs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Mgmt_Chain_Level_04_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_User_Auto_Provisioning_Setting.Mgmt_level_04_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Correct_User_Profile</targetReference>
            </connector>
            <label>All SEs</label>
        </rules>
        <rules>
            <name>All_AEs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RVP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AVP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Core-BD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Role_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Dev Mgmt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Org62_Mgmt_Chain_Level_05_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_User_Auto_Provisioning_Setting.Mgmt_level_05_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Correct_User_Profile</targetReference>
            </connector>
            <label>All AEs</label>
        </rules>
    </decisions>
    <description>4/10/2024 -- Changed hardcoded ids for PubSec golive
3/21/24 - changed &apos;EDU&apos; to &apos;Salesforce.org&apos; for Cloud__c</description>
    <environments>Default</environments>
    <interviewLabel>User Permissions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Permissions Flow</label>
    <loops>
        <name>Permission_Loop_NON_SE_AE</name>
        <label>Permission Loop NON SE AE</label>
        <locationX>1238</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_All_Permissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Existing_Permissions3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Avnio_Read_Only_Access_Perm_Set_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Permission_Loop_SE_AE_Public_Sector</name>
        <label>Permission Loop SE/AE Public Sector</label>
        <locationX>622</locationX>
        <locationY>3095</locationY>
        <collectionReference>Get_All_Permissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Existing_Permissions_SE_Commercial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_RFP_RFP_Pursuit_Answer_Read_Create_Edit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Avnio_base_Access_group</name>
        <label>Add Avnio base Access group</label>
        <locationX>490</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_Avnio_Base_Access_Permission_Set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Avnio_Read_Only_group</name>
        <label>Add Avnio Read Only group</label>
        <locationX>1106</locationX>
        <locationY>2411</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_Avnio_Read_Only_Permission_Set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_RFP_SE_Perm</name>
        <label>Add RFP SE Perm</label>
        <locationX>490</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>Assign_Base_Access_Perm_Set_Group1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_RFP_Pursuit_Answer_Read_Create_Edit.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Currently_Asssigned_PermissionSet</name>
        <label>Delete Currently Asssigned PermissionSet</label>
        <locationX>1238</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </connector>
        <inputReference>Permission_Loop_SE_AE_Public_Sector</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Permission</name>
        <label>Delete Existing Permission</label>
        <locationX>1590</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Permission_Loop_NON_SE_AE</targetReference>
        </connector>
        <inputReference>Permission_Loop_NON_SE_AE</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Permissions</name>
        <label>Get All Permissions</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Avnio_Base_Access_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Avnio_Base_Access_Permission_Set_Group</name>
        <label>Get Avnio_Base_Access Permission Set Group</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Avnio_Read_Only_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Base_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Avnio_Read_Only_Permission_Set_Group</name>
        <label>Get Avnio Read Only Permission Set Group</label>
        <locationX>622</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Avnio_Requestor_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Read_Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Avnio_Read_Only_User_Profile</name>
        <label>Get Avnio Read Only User Profile</label>
        <locationX>622</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RFP_Pursuit_Answer_Read_Create_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio Read Only User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Avnio_Requestor_Profile</name>
        <label>Get Avnio_Requestor Profile</label>
        <locationX>622</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Avnio_Read_Only_User_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Avnio_Requestor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RFP_Pursuit_Answer_Read_Create_Edit</name>
        <label>Get RFP Pursuit Answer: Read,Create,Edit</label>
        <locationX>622</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP_Pursuit_Answer_Read_Create_Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_Profile_ID</name>
        <label>Get System Admin Profile ID</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>System_Admin_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>adminprofileid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Auto_Provisioning_Setting</name>
        <label>Get User Auto Provisioning Setting</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Auto_Provisioning_is_Enabled</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserAutoProvisioningConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Profile_Sales_Org</name>
        <label>Assign Profile &amp; Sales Org</label>
        <locationX>490</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Permission_Loop_SE_AE_Public_Sector</targetReference>
        </connector>
        <inputAssignments>
            <field>Cloud__c</field>
            <value>
                <stringValue>Public Sector</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Avnio_Requestor_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Profile_Sales_Org9</name>
        <label>Assign Profile &amp; Sales Org</label>
        <locationX>1106</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Permission_Loop_NON_SE_AE</targetReference>
        </connector>
        <inputAssignments>
            <field>Cloud__c</field>
            <value>
                <stringValue>Public Sector</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Avnio_Read_Only_User_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Auto_Provisioning_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>adminprofileid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Avnio_Base_Access_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Avnio_RFP_Project_Intake_and_LOE_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AvnioReadOnlyExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RFPPursuitAnswerReadCreateEditExitss</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
