utopia-project/force-app/main/default/flows/Utopia_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Master_User_Summary</name>
        <label>Add to Master User Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vBuildUserSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Avnio_Bid_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_events_to_User</name>
        <label>Assign Events to User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vUserEvents} + &quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vUserEvents} + {</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;id\&quot;:\&quot;{!Loop_Events.Id}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;start\&quot;:\&quot;&quot; + TEXT({!Loop_Events.StartDateTime}) + &quot;\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;end\&quot;:\&quot;&quot; + TEXT({!Loop_Events.EndDateTime}) + &quot;\&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;end\&quot;:\&quot;&quot; + TEXT({!Loop_Events.Subject}) + &quot;\&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Event_Json</name>
        <label>Build Event Json</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;[&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFirstEventRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Projects</name>
        <label>Build Projects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;{&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;id\&quot;:\&quot;{!Loop_User_Project.Id}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;gpsLead\&quot;:\&quot;{!Loop_User_Project.GPS_Lead__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;gpsCoLead\&quot;:\&quot;{!Loop_User_Project.GPS_Co_Lead__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;adjustedLeadHours\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.Adjusted_Lead_Hours__c}) + &quot;\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;adjustedCoLeadHours\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.Adjusted_Co_Lead_Hours__c}) + &quot;\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;estimatedHours\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.Estimated_Hours__c}) + &quot;\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;gpsDueDate\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.GPS_Due_Date__c}) + &quot;\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;dueDate\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.DueDate__c}) + &quot;\&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;/&quot; LOE\&quot;\&quot;&quot; + TEXT{!Loop_User_Project.GPS_Lead_s_Level_of_Effort_Require__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;gpsLeadLevelOfEffort\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.GPS_Lead_s_Level_of_Effort_Require__c}) + &quot;\&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;leadActualHours\&quot;:\&quot;&quot; + TEXT({!Loop_User_Project.Lead_Actual_Hours__c}) + &quot;\&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUserProjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_User_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>using assignment to build structured json</description>
        <name>Build_User</name>
        <label>Build User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;{&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;user\&quot;:{&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;id\&quot;:\&quot;{!Get_user.Id}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;name\&quot;:\&quot;{!Get_user.Name}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;email\&quot;:\&quot;{!Get_user.Email}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;events\&quot;:&quot; + {!vUserEvents} + &quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;projects\&quot;:&quot; + {!vUserProjects}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;language1\&quot;:\&quot;{!Get_user.Language_1__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;language2\&quot;:\&quot;{!Get_user.Language_2__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;language3\&quot;:\&quot;{!Get_user.Language_3__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;language4\&quot;:\&quot;{!Get_user.Language_4__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;language5\&quot;:\&quot;{!Get_user.Language_5__c}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;languageLocaleKey\&quot;:\&quot;{!Get_user.LanguageLocaleKey}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;\&quot;postalCode\&quot;:\&quot;{!Get_user.PostalCode}\&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBuildUserSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Master_User_Summary</targetReference>
        </connector>
    </assignments>
    <description>9/30 - re configuring for a better input to the agent
Removing the record collections</description>
    <environments>Default</environments>
    <interviewLabel>Utopia-Assignment-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utopia-Assignment-Flow-2</label>
    <loops>
        <name>loop_Avnio_Bid_Managers</name>
        <label>loop Avnio Bid Managers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_group_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_user</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_events_to_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getassignprojects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_User_Project</name>
        <label>Loop User Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ActiveGPSProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Projects</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Build_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_group_members</name>
        <label>get group members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Avnio_Bid_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>publicgroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_group_Id</name>
        <label>Get Public group Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_group_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPS_Utopia_Bid_Managers</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>publicgroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getcalendarevents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Avnio_Bid_Managers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Language_1__c</queriedFields>
        <queriedFields>Language_2__c</queriedFields>
        <queriedFields>Language_3__c</queriedFields>
        <queriedFields>Language_4__c</queriedFields>
        <queriedFields>Language_5__c</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting projects already assigned/in progress</description>
        <name>getassignprojects</name>
        <label>getassignprojects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User_Project</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>GPS_Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Lead_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead_s_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Avnio_Bid_Managers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Avnio_Bid_Managers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPS_Co_Lead_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Avnio_Bid_Managers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <outputReference>ActiveGPSProjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GPS_Co_Lead__c</queriedFields>
        <queriedFields>Adjusted_Lead_Hours__c</queriedFields>
        <queriedFields>Adjusted_Co_Lead_Hours__c</queriedFields>
        <queriedFields>GPS_Lead__c</queriedFields>
        <queriedFields>Estimated_Hours__c</queriedFields>
        <queriedFields>GPS_Due_Date__c</queriedFields>
        <queriedFields>DueDate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Time off events on Strat Ops Calendar</description>
        <name>getcalendarevents</name>
        <label>getcalendarevents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Event_Json</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Member_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Avnio_Bid_Managers.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>event</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Team_Member_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>GPS project that needs assigning</description>
        <name>getgpsproject</name>
        <label>getgpsproject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GPS_Project__c</object>
        <outputAssignments>
            <assignToReference>projectCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>gpsprojectDueDate</assignToReference>
            <field>GPS_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectLevelofEffort</assignToReference>
            <field>GPS_Lead_s_Level_of_Effort_Require__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectLanguage</assignToReference>
            <field>Language_Required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectRegion</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getgpsproject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Active GPS projects with bid managers assigned. This wil be used to help determine who has capacity for another project</description>
        <name>ActiveGPSProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GPS_Project__c</objectType>
    </variables>
    <variables>
        <description>Look at the Strat Ops Calendar in GPS Utopia, and do not assign to any users that have the Avnio Bid Manager profile if they have a upcoming event labeled VTO, PTO, or FTO that is longer than 2 calendar days.</description>
        <name>event</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>due date for the project that needs a bid manager</description>
        <name>gpsprojectDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>profileid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Use country to determine relative timezone of the GPS project</description>
        <name>projectCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>level of effort needed to complete this project. TO be used to help assign a big manager without overloading the manager</description>
        <name>ProjectLevelofEffort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The region of the GPS project that needs a bid manager</description>
        <name>projectRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>publicgroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalUserSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>users that have the Avnio Bid Manager profile</description>
        <name>users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vBuildUserSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstEventRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserEvents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserProjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
